# ‚öôÔ∏è **CLEANED DATA IMPORT**

In [1]:
import pandas as pd
import numpy as np
import os

DATA_PATH = '../data/cleaned'

POI_FILENAME = 'poi_df_cleaned.csv'
SITE_FILENAME = 'site_df_cleaned.csv'
SALARY_FILENAME = 'salary_df_cleaned.csv'
GEOREF_FILENAME = 'georef_df_cleaned.csv'
STOCK_FILENAME = 'stock_df_cleaned.csv'
SALES_FILENAME = 'sales_df_cleaned.csv'
POPULATION_FILENAME = 'population_df_cleaned.csv'
POVERTY_FILENAME = 'poverty_df_cleaned.csv'
REAL_ESTATE_FILENAME = 'real_estate_df_cleaned.csv'

poi_df = pd.read_csv(os.path.join(DATA_PATH, POI_FILENAME))
site_df = pd.read_csv(os.path.join(DATA_PATH, SITE_FILENAME))
salary_df = pd.read_csv(os.path.join(DATA_PATH, SALARY_FILENAME))
georef_df = pd.read_csv(os.path.join(DATA_PATH, GEOREF_FILENAME))
stock_df = pd.read_csv(os.path.join(DATA_PATH, STOCK_FILENAME))
sales_df = pd.read_csv(os.path.join(DATA_PATH, SALES_FILENAME))
population_df = pd.read_csv(os.path.join(DATA_PATH, POPULATION_FILENAME))
poverty_df = pd.read_csv(os.path.join(DATA_PATH, POVERTY_FILENAME))
real_estate_df = pd.read_csv(os.path.join(DATA_PATH, REAL_ESTATE_FILENAME))


###____TOURISM (2 KPIS)____###
# Nombre de sites touristiques par d√©partements : num_sites_per_department
# R√©partition des cat√©gories touristiques par d√©partements :tourism_category_per_department


###____REAL ESTATE & SECONDARY HOME (5 KPIS)____###
# Prix moyen du m2 par d√©partement : average_price_per_m2
# Stock de biens par d√©partements : total_stock_per_department
# Superficie moyenne des logements vendus par d√©partements :average_surface_per_department
# Taux de r√©partition des maisons secondaires par d√©partements : secondary_home_rate_per_department
# √âvolution du % des maisons secondaires par d√©partement (entre 2008 et 2018) : secondary_home_rate_evolution_department
# Nombre de maisons vacantes (en 2019) : vacants_housing_per_department
# Taxe d'habitation (valeur et nombre) en 2023 par d√©partement : tax_df


###___LIFE QUALITY (4 KPIS)____###
# Salaire moyen par d√©partement : avg_salary_per_department
# Nombre de professionnels de sant√© pour 100 000 habitants par d√©partements (en 2023) : health_df
# Taux de criminalit√© pour 1000 habitants par d√©partements (en 2020) : criminality_per_department
# Nombre de jours de soleil par an par d√©partements : sunny_df_per_department
# Fusion de tous DF Life Quality  par d√©partements (POUR NORMALISATIN AU SCORING) : life_quality_df

In [ ]:
# DF CLEANED CHECK
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
print (stock_df.info())
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

In [ ]:
#test
stock_df_test = stock_df.merge(georef_df, on="municipality_code")
stock_df_test = stock_df_test.groupby(["year", "department_name"])["nb_second_home"].sum().reset_index()
filtered_df = stock_df_test[stock_df_test["department_name"] == "Guyane"]
filtered_df

### CLEANING

##### DF_SALES CLEANING

In [2]:


# SALES_DF: Suppression des doublons > nous passons de 4,3M de lignes √† 3,821M
sales_df = sales_df.drop_duplicates()
sales_df.shape

(3448398, 13)

In [3]:
# SALES_DF: Check si les doublons on √©t√© enlev√©s : OK
sales_df.duplicated().sum()

np.int64(0)

In [4]:
# SALES_DF: Suppression des prix au m2 sup√©rieur √† 30K‚Ç¨ et inf√©rieur √† 1K‚Ç¨ > nous passons √† 3,3399M de lignes
sales_df = sales_df[(sales_df['sales_price_m2'] <= 30000) & (sales_df['sales_price_m2'] >= 500)]
sales_df.shape

(3448398, 13)

In [5]:
# SALES_DF:
s2 = (sales_df['sales_amount']
             .value_counts()
             .loc[sales_df['sales_amount'].value_counts() > 10])

In [6]:
# SALES_DF:
sales_df = sales_df[sales_df['sales_amount'] > 1] # on enl√®ve les 166 fois ou sales_amount = 1‚Ç¨
sales_df.shape

(3448398, 13)

In [7]:
# SALES_DF: changement du type sales_date en datetime
sales_df['sales_date'] = pd.to_datetime(sales_df['sales_date'])
sales_df["municipality_code"].nunique()

32743

##### DF_SALARY CLEANING

In [8]:
# DF_SALARY: ROUND avg_net_salary
salary_df['avg_net_salary'] = salary_df['avg_net_salary'].round()
salary_df.head()

  municipality_code  avg_net_salary  year
0             01004         26471.0  2019
1             01007         26341.0  2019
2             01014         25897.0  2019
3             01024         25695.0  2019
4             01025         26055.0  2019

##### DF_REAL_ESTATE CLEANING

In [9]:
# DF_REAL_ESTATE: suppression des nulls
real_estate_df = real_estate_df.dropna(axis=1)
real_estate_df.isnull().sum()

municipality_code         0
intensite_tension_immo    0
rental_max_apartment      0
rental_min_apartment      0
rental_med_all            0
rental_max_all            0
rental_min_all            0
dtype: int64

##### DF_SITE CLEANING

In [10]:
# SITE_DF: tri avec les donn√©es entre parenth√®ses de la colonne "name" inclues

import re

site_df['data_inside_parenthesis'] = site_df['name'].apply(lambda x: re.search(r'\((.*?)\)', x).group(1) if re.search(r'\((.*?)\)', x) else '')
site_df

#suppression de la colonne "name" dans un second temps

site_df.drop(columns=["name"])

#check pour savoir les informations pr√©sentes dans la colonne "poi", et si elles correspondent aux valeurs pr√©sentes dans la colonne "type"
print (site_df["poi"].value_counts())
print (site_df["data_inside_parenthesis"].value_counts().head(50))

#faire un mapping des colonnes poi, qui sont en fait plus pertinentes que celles de la colonne "type"

poi
castle            5611
2                 5207
water             4500
museum            3400
theatre           2439
forest            2233
beach             1010
protected_area     927
wetland            784
cinema             667
vineyard           641
golf_course        612
theme_park         358
cliff              337
marina             255
water_park         239
1                  236
zoo                234
valley             223
ridge              213
islet              163
casino             158
volcano            145
park               132
meadow              78
monument            76
sand                35
heritage            32
viewpoint           21
cave_entrance       15
wreck               12
rock                11
waterfall           10
attraction           8
dune                 5
national_park        4
allotments           2
geyser               1
Name: count, dtype: int64
data_inside_parenthesis
                       9899
Monument historique    5090
Eau                    4102
Mus√©e                  1518
For√™t                  1498
Th√©√¢tre                1374
Ch√¢teau                1278
Zone prot√©g√©e           910
Zone humide             759
Vignoble                620
Terrain de golf         608
Cin√©ma                  463
Parc √† th√®me            355
Falaise                 276
Patrimoine mondial      232
Parc aquatique          231
Port de plaisance       229
Plage                   200
Vall√©e                  200
Zoo                     191
√élot                    151
Volcan                  142
Monument                 96
Cr√™te                    93
Bocage                   73
Parc                     61
Sable                    30
ancien                   27
Point de vue             21
Casino                   21
ancienne                 19
Entr√©e de grotte         15
√âpave                    10
Chute d'eau              10
ruines                    9
Attraction                8
A                         7
Roche                     7
B                         6
aire d'adh√©sion           5
vestiges                  5
c≈ìur                      3
zone centrale             3
priv√©                     3
Lacanau                   3
1er Cru                   2
herbe                     2
Parc national             2
s                         2
restes                    2
Name: count, dtype: int64

In [11]:
# SITE_DF: cr√©ation d'un dictionnaire int√©grant toutes les diff√©rentes valeurs inclues dans la colonne "poi"
s = site_df["poi"].value_counts()[site_df["poi"]]
{k: "toto" for k in s.index}

{'1': 'toto',
 '2': 'toto',
 'zoo': 'toto',
 'dune': 'toto',
 'park': 'toto',
 'rock': 'toto',
 'sand': 'toto',
 'beach': 'toto',
 'cliff': 'toto',
 'islet': 'toto',
 'ridge': 'toto',
 'water': 'toto',
 'wreck': 'toto',
 'casino': 'toto',
 'castle': 'toto',
 'cinema': 'toto',
 'forest': 'toto',
 'geyser': 'toto',
 'marina': 'toto',
 'meadow': 'toto',
 'museum': 'toto',
 'valley': 'toto',
 'theatre': 'toto',
 'volcano': 'toto',
 'wetland': 'toto',
 'heritage': 'toto',
 'monument': 'toto',
 'vineyard': 'toto',
 'viewpoint': 'toto',
 'waterfall': 'toto',
 'allotments': 'toto',
 'attraction': 'toto',
 'theme_park': 'toto',
 'water_park': 'toto',
 'golf_course': 'toto',
 'cave_entrance': 'toto',
 'national_park': 'toto',
 'protected_area': 'toto'}

In [12]:
# SITE_DF: cr√©ation d'un dictionnaire avec les cat√©gories associ√©es aux valeurs de la colonne POI

category_dict = {'1': 'Patrimoine',
 '2': 'Patrimoine',
 'zoo': 'Entertainment',
 'dune': 'Nature',
 'park': 'Nature',
 'rock': 'Nature',
 'sand': 'Nature',
 'beach': 'Nature',
 'cliff': 'Nature',
 'islet': 'Nature',
 'ridge': 'Nature',
 'water': 'Nature',
 'wreck': 'Patrimoine',
 'casino': 'Entertainment',
 'castle': 'Patrimoine',
 'cinema': 'Culture',
 'forest': 'Nature',
 'geyser': 'Nature',
 'marina': 'Nature',
 'meadow': 'Nature',
 'museum': 'Culture',
 'valley': 'Nature',
 'theatre': 'Culture',
 'volcano': 'Nature',
 'wetland': 'Nature',
 'heritage': 'Patrimoine',
 'monument': 'Patrimoine',
 'vineyard': 'Nature',
 'viewpoint': 'Nature',
 'waterfall': 'Nature',
 'allotments': 'Patrimoine',
 'attraction': 'Entertainment',
 'theme_park': 'Entertainment',
 'water_park': 'Entertainment',
 'golf_course': 'Entertainment',
 'cave_entrance': 'Culture',
 'national_park': 'Nature',
 'protected_area': 'Nature'}

In [13]:
# SITE_DF: cr√©ation de la colonne "cat√©gorie"
site_df["Category"] = site_df["poi"].map(category_dict)
site_df

,poi,name,latitude,longitude,municipality_code,importance,name_reprocessed,data_inside_parenthesis,Category
0,1,Fortifications de Vauban (Patrimoine mondial),46.396160,1.472600,36134,0.139527,Fortifications de Vauban,Patrimoine mondial,Patrimoine
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,46.313695,1.478772,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Patrimoine mondial,Patrimoine
2,1,Canal du Midi (Patrimoine mondial),43.332709,3.219890,34032,0.129531,Canal du Midi,Patrimoine mondial,Patrimoine
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,50.455895,2.965034,62427,0.127170,Bassin minier du Nord-Pas de Calais,Patrimoine mondial,Patrimoine
4,1,"Les Causses et les C√©vennes, paysage culturel ...",44.346210,3.613406,48050,0.124981,"Les Causses et les C√©vennes, paysage culturel ...",Patrimoine mondial,Patrimoine
...,...,...,...,...,...,...,...,...,...
31029,viewpoint,Tour Eiffel 3e √©tage (Point de vue),48.858262,2.294497,75056,0.053782,Tour Eiffel 3e √©tage,Point de vue,Nature
31030,theme_park,Jardin d'Acclimatation (Parc √† th√®me),48.878145,2.264686,75056,0.087097,Jardin d'Acclimatation,Parc √† th√®me,Entertainment
31031,theme_park,Foire du Tr√¥ne (Parc √† th√®me),48.832003,2.404337,75056,0.060000,Foire du Tr√¥ne,Parc √† th√®me,Entertainment
31032,golf_course,Golf du Bois de Boulogne (Terrain de golf),48.857776,2.232651,75056,0.060073,Golf du Bois de Boulogne,Terrain de golf,Entertainment
31033,protected_area,"Paris, rives de la Seine (Zone prot√©g√©e)",48.860054,2.324448,75056,0.095638,"Paris, rives de la Seine",Zone prot√©g√©e,Nature

In [ ]:
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
stock_df.info() 
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

In [ ]:
poi_df.head(1)

In [ ]:
site_df.head(1)

In [ ]:
salary_df.head(1)

In [ ]:
georef_df.head(1)

In [ ]:
stock_df.head(1)

In [ ]:
sales_df.head(1)

In [ ]:
population_df.head(1)

In [ ]:
poverty_df.head(1)

In [ ]:
real_estate_df.head(1)

# üß™ **DATA TRANSFORMATION**

### KPIS AGGREGATION BY DEPARTMENT

##### 1. TOURISM

In [14]:
#cr√©ation de tables permettant de scorer le potentiel touristique de chaque d√©partement
site_df = site_df.merge (georef_df, on=["municipality_code"])
site_df.head(5)

,poi,name,latitude_x,longitude_x,municipality_code,importance,name_reprocessed,data_inside_parenthesis,Category,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
0,1,Fortifications de Vauban (Patrimoine mondial),46.396160,1.472600,36134,0.139527,Fortifications de Vauban,Patrimoine mondial,Patrimoine,Mouhet,MOUHET,municipality,46.389251,1.442651,36,200035137.0,Indre
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,46.313695,1.478772,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Patrimoine mondial,Patrimoine,Vareilles,VAREILLES,municipality,46.305016,1.456031,23,242300135.0,Creuse
2,1,Canal du Midi (Patrimoine mondial),43.332709,3.219890,34032,0.129531,Canal du Midi,Patrimoine mondial,Patrimoine,B√©ziers,BEZIERS,municipality,43.347588,3.230768,34,243400769.0,H√©rault
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,50.455895,2.965034,62427,0.127170,Bassin minier du Nord-Pas de Calais,Patrimoine mondial,Patrimoine,H√©nin-Beaumont,HENIN BEAUMONT,municipality,50.409234,2.958997,62,246200299.0,Pas-de-Calais
4,1,"Les Causses et les C√©vennes, paysage culturel ...",44.346210,3.613406,48050,0.124981,"Les Causses et les C√©vennes, paysage culturel ...",Patrimoine mondial,Patrimoine,B√©dou√®s-Cocur√®s,BEDOUES COCURES,municipality,44.353946,3.619560,48,200069151.0,Loz√®re

In [20]:
#s√©lection des colonnes dont on aura besoin pour le calcul
site_df_department = site_df[["poi", "name", "municipality_code", "importance", "name_reprocessed", "department_name"]]
site_df_department

,poi,name,municipality_code,importance,name_reprocessed,department_name
0,1,Fortifications de Vauban (Patrimoine mondial),36134,0.139527,Fortifications de Vauban,Indre
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Creuse
2,1,Canal du Midi (Patrimoine mondial),34032,0.129531,Canal du Midi,H√©rault
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,62427,0.127170,Bassin minier du Nord-Pas de Calais,Pas-de-Calais
4,1,"Les Causses et les C√©vennes, paysage culturel ...",48050,0.124981,"Les Causses et les C√©vennes, paysage culturel ...",Loz√®re
...,...,...,...,...,...,...
31019,viewpoint,Tour Eiffel 3e √©tage (Point de vue),75056,0.053782,Tour Eiffel 3e √©tage,Paris
31020,theme_park,Jardin d'Acclimatation (Parc √† th√®me),75056,0.087097,Jardin d'Acclimatation,Paris
31021,theme_park,Foire du Tr√¥ne (Parc √† th√®me),75056,0.060000,Foire du Tr√¥ne,Paris
31022,golf_course,Golf du Bois de Boulogne (Terrain de golf),75056,0.060073,Golf du Bois de Boulogne,Paris
31023,protected_area,"Paris, rives de la Seine (Zone prot√©g√©e)",75056,0.095638,"Paris, rives de la Seine",Paris

In [21]:
#groupement par d√©partement, puis classement par le d√©partement ayant le + d'atouts touristiques
group_site = site_df_department.groupby("department_name")[["importance"]].sum()
group_site
group_site.sort_values("importance", ascending =False)

                       importance
department_name
Gironde                 52.539958
Bouches-du-Rh√¥ne        47.068588
Finist√®re               46.685274
Is√®re                   44.230787
Loire-Atlantique        43.525109
...                           ...
Haute-Marne              7.416165
Val-de-Marne             6.699159
Loz√®re                   6.230406
Seine-Saint-Denis        5.718311
Territoire de Belfort    2.896012

[96 rows x 1 columns]

In [17]:
#m√™me calcul que pr√©c√©demment, mais pour la partie concernant les logements/lieux de vill√©giature
poi_df = poi_df.merge (georef_df, on=["municipality_code"])
poi_df.head(5)

,poi,latitude_x,longitude_x,municipality_code,importance,name_reprocessed,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
0,hotel,45.678531,-1.163635,17225,0.078556,Club Med,Les Mathes,MATHES,municipality,45.705988,-1.170867,17,241700640.0,Charente-Maritime
1,hotel,44.026859,4.847491,84129,0.078419,Cabanes des Grands C√©pages,Sorgues,SORGUES,municipality,44.014576,4.867405,84,248400293.0,Vaucluse
2,hotel,50.331541,1.565677,80333,0.077999,Pierre et Vacances,Fort-Mahon-Plage,FORT MAHON PLAGE,municipality,50.345059,1.577068,80,200070936.0,Somme
3,hotel,43.285936,6.569696,83068,0.077702,Pierre & Vacances,Grimaud,GRIMAUD,municipality,43.282028,6.533032,83,200036077.0,Var
4,hotel,43.541050,3.752852,34095,0.077542,Le Domaine du Golf,Fabr√®gues,FABREGUES,municipality,43.534477,3.771930,34,243400017.0,H√©rault

In [18]:
#s√©lection des colonnes dont on aura besoin pour le calcul
poi_df_department = poi_df[["poi", "municipality_code", "importance", "department_name"]]
poi_df_department

             poi municipality_code  importance       department_name
0          hotel             17225    0.078556     Charente-Maritime
1          hotel             84129    0.078419              Vaucluse
2          hotel             80333    0.077999                 Somme
3          hotel             83068    0.077702                   Var
4          hotel             34095    0.077542               H√©rault
...          ...               ...         ...                   ...
26202  camp_site             19164    0.040000               Corr√®ze
26203  camp_site             03238    0.040000                Allier
26204  camp_site             19241    0.040000               Corr√®ze
26205  camp_site             23131    0.040000                Creuse
26206  camp_site             64405    0.040000  Pyr√©n√©es-Atlantiques

[26207 rows x 4 columns]

In [19]:
#groupement par d√©partement, puis classement par le d√©partement ayant le + de logements/lieux de vill√©giature
group_poi = poi_df_department.groupby("department_name")[["importance"]].sum()
group_poi
group_poi.sort_values("importance", ascending =False)

                       importance
department_name
Paris                   70.275305
Savoie                  37.401407
Haute-Savoie            35.158395
H√©rault                 33.793973
Alpes-Maritimes         32.802552
...                           ...
Eure-et-Loir             3.871754
Haute-Marne              3.670584
Ardennes                 3.541133
Mayenne                  3.154595
Territoire de Belfort    1.624450

[96 rows x 1 columns]

In [22]:
#ajout des 2 calculs d'importance
department_merged_df = group_poi.merge (group_site, on=["department_name"])
#department_merged_df["somme_importance"]=department_merged_df["importance_x"]+department_merged_df["importance_y"]
#department_merged_df = department_merged_df.drop(columns=["importance_x", "importance_y"])
#department_merged_df
#department_merged_df.sort_values("somme_importance", ascending =False)
department_merged_df

                         importance_x  importance_y
department_name
Ain                         11.423180     34.061847
Aisne                        4.937153     15.687868
Allier                       8.386644     21.401418
Alpes-Maritimes             32.802552     32.967630
Alpes-de-Haute-Provence     11.293578     14.722338
...                               ...           ...
Vend√©e                      27.816510     32.287377
Vienne                       8.205227     21.203995
Vosges                      12.007083     14.973759
Yonne                        7.211247     16.595920
Yvelines                     7.509032     25.578985

[96 rows x 2 columns]

##### 2. REAL ESTATE

In [23]:
# 2.1 calcul du loyer au m2 m√©dian par municipality_code
rental_med = real_estate_df [["municipality_code", "rental_med_all"]]
rental_med

      municipality_code  rental_med_all
0                 57133            9.53
1                 57446           11.09
2                 77013           12.26
3                 77026            9.53
4                 77072           11.47
...                 ...             ...
34436             81126            8.93
34437             33425           11.09
34438             85146           10.88
34439             53062            8.69
34440             22093            9.80

[34441 rows x 2 columns]

In [ ]:
sales_df

In [24]:
#calcul du prix d'achat au m2 m√©dian par municipality_code
sales_df
sales_df_grouped = sales_df.groupby(["municipality_code"])[["sales_amount", "surface", "premise_type"]].agg({"sales_amount": "sum", "surface": "sum", "premise_type": "count"})
sales_df_grouped = pd.DataFrame (sales_df_grouped)
sales_df_grouped

                   sales_amount  surface  premise_type
municipality_code
01001              1.362286e+07   6781.0            60
01002              4.067389e+06   1901.0            17
01004              1.852356e+08  87209.0          1062
01005              3.579244e+07  13876.0           138
01006              2.575955e+06   1425.0            13
...                         ...      ...           ...
97420              5.335366e+07  16160.0           188
97421              3.143598e+06   1872.0            24
97422              2.541138e+08  99088.0          1237
97423              1.326098e+07   3780.0            54
97424              1.029893e+07   4481.0            64

[32743 rows x 3 columns]

In [25]:
#jointure pour rajouter dans cette table le loyer m√©dian par municipality_code
sales_df
real_estate_grouped = sales_df_grouped.merge(rental_med, on="municipality_code")
real_estate_grouped

      municipality_code  sales_amount  surface  premise_type  rental_med_all
0                 01001  1.362286e+07   6781.0            60           10.66
1                 01002  4.067389e+06   1901.0            17           10.16
2                 01004  1.852356e+08  87209.0          1062           11.25
3                 01005  3.579244e+07  13876.0           138           13.28
4                 01006  2.575955e+06   1425.0            13           12.70
...                 ...           ...      ...           ...             ...
31892             95676  5.974304e+06   2486.0            23           12.29
31893             95678  1.222182e+07   3568.0            38           18.53
31894             95680  8.569815e+07  32626.0           471           16.22
31895             95682  1.463606e+06    533.0             5           16.57
31896             95690  2.728320e+06    951.0            10           13.46

[31897 rows x 5 columns]

In [26]:
#ajout du nom du d√©partement correspondant √† chaque municipality code
real_estate_department = real_estate_grouped.merge(georef_df, on="municipality_code")
real_estate_department
real_estate_department = real_estate_department [["municipality_code", "sales_amount", "surface", "rental_med_all", "department_name", "premise_type"]]

In [ ]:
real_estate_department

In [27]:
#calcul du prix au m2 par d√©partement
average_price_per_m2 = real_estate_department.groupby(["department_name"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
average_price_per_m2
average_price_per_m2["average_price_per_m2"] = average_price_per_m2["sales_amount"]/average_price_per_m2["surface"]
average_price_per_m2.sort_values("average_price_per_m2")

                 sales_amount    surface  average_price_per_m2
department_name
Creuse           3.494798e+08   250929.0           1392.743706
Indre            9.313114e+08   643735.0           1446.731035
Ni√®vre           9.686520e+08   663808.0           1459.235257
Haute-Marne      6.485911e+08   444240.0           1460.001467
Meuse            8.157466e+08   550437.0           1481.998032
...                       ...        ...                   ...
Corse-du-Sud     3.267670e+09   739291.0           4420.005565
Alpes-Maritimes  3.837944e+10  7959808.0           4821.653974
Val-de-Marne     1.529389e+10  2931831.0           5216.497456
Hauts-de-Seine   2.665847e+10  3573916.0           7459.175300
Paris            4.890308e+10  4277671.0          11432.173601

[93 rows x 3 columns]

In [28]:
#calcul du loyer m√©dian par d√©partment
real_estate_department["intermediate_sum"]=real_estate_department["rental_med_all"]*real_estate_department["premise_type"]
real_estate_department
average_rental = real_estate_department.groupby(["department_name"])[["intermediate_sum", "premise_type"]].agg({"intermediate_sum": "sum", "premise_type": "sum"})
average_rental
average_rental["average_rental"]= average_rental["intermediate_sum"]/average_rental["premise_type"]
average_rental

                         intermediate_sum  premise_type  average_rental
department_name
Ain                             499987.29         37925       13.183580
Aisne                           196297.97         19789        9.919550
Allier                          153111.91         15287       10.015825
Alpes-Maritimes                2105196.54        120087       17.530595
Alpes-de-Haute-Provence         141928.94         12555       11.304575
...                                   ...           ...             ...
Vend√©e                          350608.65         33234       10.549698
Vienne                          129985.21         13286        9.783623
Vosges                           93517.06          9719        9.622087
Yonne                           107147.28         10815        9.907284
Yvelines                        924747.61         50710       18.236001

[93 rows x 3 columns]

In [29]:
#regroupement des colonnes avec le loyer moyen au m2 par d√©partement et le prix d'achat au m2 moyen par d√©partement
yield_calculation = average_price_per_m2.merge(average_rental, on="department_name")
yield_calculation
yield_calculation = yield_calculation.drop(columns=["sales_amount", "surface", "intermediate_sum", "premise_type"])
yield_calculation["yield_rate"]=yield_calculation["average_rental"]*12/yield_calculation["average_price_per_m2"]*100
yield_calculation.sort_values("yield_rate", ascending=True)

                       average_price_per_m2  average_rental  yield_rate
department_name
Paris                          11432.173601       29.809690    3.129031
Corse-du-Sud                    4420.005565       13.879070    3.768068
Hauts-de-Seine                  7459.175300       24.168113    3.888062
Var                             4058.417572       14.124893    4.176473
Savoie                          3472.500028       12.601657    4.354784
...                                     ...             ...         ...
Cher                            1549.532038        9.742943    7.545201
Aube                            1690.589163       10.689934    7.587840
Allier                          1577.489243       10.015825    7.619063
Aisne                           1561.099105        9.919550    7.625051
Territoire de Belfort           1730.559163       11.054424    7.665331

[93 rows x 3 columns]

In [ ]:
#Informations sur la rentabilit√© locative
yield_calculation

In [30]:
# 2.2 calcul de la variation entre 2018 et 2021

#ajout d'une colonne "year"
sales_df.info()
sales_df["year"]=sales_df["sales_date"].dt.year

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448398 entries, 0 to 3448397
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sales_date                 datetime64[ns]
 1   sales_amount               float64
 2   street_number              float64
 3   street_code                object
 4   street_name                object
 5   nom_commune                object
 6   municipality_code          object
 7   premise_type               object
 8   surface                    float64
 9   number_of_principal_rooms  int64
 10  sales_price_m2             float64
 11  latitude                   float64
 12  longitude                  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 342.0+ MB

In [31]:
#merge pour rajouter le d√©partement
sales_info_per_department = sales_df.merge (georef_df, on=["municipality_code"])
sales_info_per_department

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,...,longitude_x,year,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
0,2018-02-06,5000000.0,63.0,0040,AV PRINCE RAINIER III,Saint-Jean-Cap-Ferrat,06121,Maison,292.0,10,...,7.330651,2018,Saint-Jean-Cap-Ferrat,SAINT JEAN CAP FERRAT,municipality,43.687179,7.329936,06,200030195.0,Alpes-Maritimes
1,2018-11-26,93060.0,5308.0,B061,LE SERRET,Vall√©es-d'Antraigues-Asperjoc,07011,Maison,16.0,0,...,4.360185,2018,Vall√©es-d'Antraigues-Asperjoc,VALLEES D ANTRAIGUES ASPERJOC,municipality,44.739318,4.355176,07,200073245.0,Ard√®che
2,2018-06-08,95000.0,161.0,0683,IMP COL EMILE VIGUIER,Millau,12145,Maison,21.0,0,...,3.054594,2018,Millau,MILLAU,municipality,44.097625,3.117054,12,241200567.0,Aveyron
3,2018-07-17,3912000.0,690.0,1868,CHE DE MAZARGUES,Aix-en-Provence,13001,Maison,610.0,13,...,5.428194,2018,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rh√¥ne
4,2018-03-27,810000.0,5000.0,0162,CHE DES OLIVIERS,Eygali√®res,13034,Maison,296.0,9,...,4.957214,2018,Eygali√®res,EYGALIERES,municipality,43.761705,4.952120,13,241300375.0,Bouches-du-Rh√¥ne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444144,2017-11-10,160000.0,9001.0,A055,RES LA COUPIANE,La Valette-du-Var,83144,Appartement,103.0,5,...,5.988491,2017,La Valette-du-Var,VALETTE DU VAR,municipality,43.149915,5.992225,83,248300543.0,Var
3444145,2019-03-15,290000.0,9001.0,A278,RES LES TROIS MAGES,Aix-en-Provence,13001,Appartement,103.0,6,...,5.470374,2019,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rh√¥ne
3444146,2018-04-26,540000.0,9001.0,A370,RES LE GAUGUIN CHEM BRUNET,Aix-en-Provence,13001,Appartement,115.0,5,...,5.438490,2018,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rh√¥ne
3444147,2021-08-25,184000.0,9001.0,0002,BD ABEL LEFEVRE,√âzy-sur-Eure,27230,Appartement,150.0,3,...,1.422561,2021,√âzy-sur-Eure,EZY SUR EURE,municipality,48.870981,1.412630,27,200040277.0,Eure
3444148,2021-08-31,610000.0,9001.0,A155,RES DES ILES LE MONTE CRISTO,Ajaccio,2A004,Appartement,150.0,5,...,8.710564,2021,Ajaccio,AJACCIO,municipality,41.934793,8.701323,2A,242010056.0,Corse-du-Sud

In [32]:
#filtre uniquement sur les ann√©es 2020 et 2021 (car ce sont les seules ann√©es o√π nous avons toutes les informations)
sales_info_per_department = sales_info_per_department[sales_info_per_department['year'].isin([2020, 2021])]
sales_info_per_department

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,...,longitude_x,year,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
29,2020-05-22,253902.0,41.0,0114,RUE DE LA REPUBLIQUE,L'Argenti√®re-la-Bess√©e,05006,Maison,160.0,9,...,6.557181,2020,L'Argenti√®re-la-Bess√©e,ARGENTIERE LA BESSEE,municipality,44.782173,6.472145,05,240500462.0,Hautes-Alpes
30,2020-08-27,2400000.0,760.0,0560,CHE DE LA GRANDE BASTIDE,Mougins,06085,Maison,257.0,9,...,6.985652,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
31,2020-11-27,920000.0,139.0,0380,CHE DE L ETANG,Mougins,06085,Maison,285.0,9,...,7.019548,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
32,2020-12-17,1778080.0,168.0,0947,RTE DES ROMARINS,Mougins,06085,Maison,244.0,9,...,7.020948,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
33,2020-11-20,793750.0,282.0,0275,CHE DE MONTFORT,La Colle-sur-Loup,06044,Maison,227.0,9,...,7.110638,2020,La Colle-sur-Loup,COLLE SUR LOUP,municipality,43.687170,7.097736,06,240600585.0,Alpes-Maritimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444138,2021-01-15,169000.0,9001.0,A070,RES DE LA THEUILLERIE,Ris-Orangis,91521,Appartement,99.0,5,...,2.397566,2021,Ris-Orangis,RIS ORANGIS,municipality,48.645194,2.407936,91,200059228.0,Essonne
3444141,2020-09-08,389685.0,9001.0,0667,ALL DES CIGALES,Aix-en-Provence,13001,Appartement,103.0,5,...,5.459952,2020,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rh√¥ne
3444142,2021-12-07,236000.0,9001.0,A100,RES LES PAMPRES,Les Ulis,91692,Appartement,103.0,5,...,2.172815,2021,Les Ulis,ULIS,municipality,48.680321,2.185190,91,200056232.0,Essonne
3444147,2021-08-25,184000.0,9001.0,0002,BD ABEL LEFEVRE,√âzy-sur-Eure,27230,Appartement,150.0,3,...,1.422561,2021,√âzy-sur-Eure,EZY SUR EURE,municipality,48.870981,1.412630,27,200040277.0,Eure
3444148,2021-08-31,610000.0,9001.0,A155,RES DES ILES LE MONTE CRISTO,Ajaccio,2A004,Appartement,150.0,5,...,8.710564,2021,Ajaccio,AJACCIO,municipality,41.934793,8.701323,2A,242010056.0,Corse-du-Sud

In [33]:
#groupement par ann√©e et par d√©partement
sales_df_per_year = sales_info_per_department.groupby(["department_name", "year"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
sales_df_per_year

                      sales_amount    surface
department_name year
Ain             2020  2.210313e+09   837639.0
                2021  2.802408e+09   990520.0
Aisne           2020  6.593465e+08   420712.0
                2021  8.480408e+08   523582.0
Allier          2020  4.703144e+08   295301.0
...                            ...        ...
Vosges          2021  7.157524e+08   405495.0
Yonne           2020  5.685219e+08   359444.0
                2021  7.649412e+08   464540.0
Yvelines        2020  6.951062e+09  1674525.0
                2021  8.529910e+09  1921048.0

[194 rows x 2 columns]

In [34]:
#calcul du prix moyen au m2
sales_df_per_year["average_price_m2"]=sales_df_per_year["sales_amount"]/sales_df_per_year["surface"]
sales_df_per_year
sales_df_per_year.head(50)

                              sales_amount    surface  average_price_m2
department_name         year
Ain                     2020  2.210313e+09   837639.0       2638.742163
                        2021  2.802408e+09   990520.0       2829.229384
Aisne                   2020  6.593465e+08   420712.0       1567.215852
                        2021  8.480408e+08   523582.0       1619.690449
Allier                  2020  4.703144e+08   295301.0       1592.661195
                        2021  6.105036e+08   372329.0       1639.688435
Alpes-Maritimes         2020  8.099021e+09  1684862.0       4806.934575
                        2021  1.050612e+10  2027161.0       5182.678071
Alpes-de-Haute-Provence 2020  4.878721e+08   211239.0       2309.573765
                        2021  5.404214e+08   227226.0       2378.343326
Ardennes                2020  2.780011e+08   182305.0       1524.923009
                        2021  3.647159e+08   230145.0       1584.722404
Ard√®che                 2020  7.373199e+08   355875.0       2071.850751
                        2021  3.951426e+08   181828.0       2173.166720
Ari√®ge                  2020  3.043253e+08   180455.0       1686.433445
                        2021  3.840622e+08   222958.0       1722.576373
Aube                    2020  5.269005e+08   312882.0       1684.023003
                        2021  6.787810e+08   382098.0       1776.457798
Aude                    2020  9.911086e+08   504986.0       1962.645620
                        2021  1.340519e+09   649074.0       2065.278897
Aveyron                 2020  4.872055e+08   273488.0       1781.450946
                        2021  5.751248e+08   310326.0       1853.292218
Bouches-du-Rh√¥ne        2020  7.856187e+09  2137498.0       3675.412486
                        2021  8.583444e+09  2206338.0       3890.357776
Calvados                2020  2.753183e+09  1080679.0       2547.641600
                        2021  3.049854e+09  1106126.0       2757.239072
Cantal                  2020  1.783335e+08   109245.0       1632.417611
                        2021  2.238980e+08   138821.0       1612.854279
Charente                2020  6.417160e+08   403380.0       1590.847431
                        2021  8.555856e+08   507990.0       1684.256679
Charente-Maritime       2020  3.331947e+09  1203955.0       2767.500872
                        2021  4.255422e+09  1412766.0       3012.120654
Cher                    2020  3.974249e+08   254019.0       1564.547816
                        2021  5.194989e+08   326249.0       1592.338748
Corr√®ze                 2020  3.899396e+08   231903.0       1681.477054
                        2021  4.982713e+08   285922.0       1742.682547
Corse-du-Sud            2020  6.609123e+08   151122.0       4373.369143
                        2021  9.380425e+08   193855.0       4838.887261
Creuse                  2020  7.905584e+07    56504.0       1399.119409
                        2021  1.164979e+08    82336.0       1414.907846
C√¥te-d'Or               2020  1.488322e+09   664811.0       2238.714128
                        2021  1.617812e+09   684524.0       2363.411005
C√¥tes-d'Armor           2020  1.755253e+09   876654.0       2002.219181
                        2021  2.353489e+09  1091778.0       2155.648108
Deux-S√®vres             2020  6.552942e+08   404254.0       1620.996159
                        2021  8.619962e+08   512222.0       1682.856588
Dordogne                2020  1.013787e+09   571847.0       1772.828828
                        2021  1.479251e+09   793717.0       1863.700528
Doubs                   2020  1.242725e+09   595565.0       2086.631706
                        2021  1.407267e+09   643480.0       2186.962748

In [35]:
#calcul de l'√©volution entre 2018 et 2021
sales_df_per_year['price_m2_growth'] = sales_df_per_year.groupby('department_name')['average_price_m2'].pct_change()
sales_df_per_year

                      sales_amount    surface  average_price_m2  \
department_name year
Ain             2020  2.210313e+09   837639.0       2638.742163
                2021  2.802408e+09   990520.0       2829.229384
Aisne           2020  6.593465e+08   420712.0       1567.215852
                2021  8.480408e+08   523582.0       1619.690449
Allier          2020  4.703144e+08   295301.0       1592.661195
...                            ...        ...               ...
Vosges          2021  7.157524e+08   405495.0       1765.132472
Yonne           2020  5.685219e+08   359444.0       1581.670165
                2021  7.649412e+08   464540.0       1646.663833
Yvelines        2020  6.951062e+09  1674525.0       4151.064983
                2021  8.529910e+09  1921048.0       4440.237636

                      price_m2_growth
department_name year
Ain             2020              NaN
                2021         0.072189
Aisne           2020              NaN
                2021         0.033483
Allier          2020              NaN
...                               ...
Vosges          2021         0.039378
Yonne           2020              NaN
                2021         0.041092
Yvelines        2020              NaN
                2021         0.069662

[194 rows x 4 columns]

In [36]:
#calcul final de l'√©volution
sales_df_per_year = sales_df_per_year.dropna()
sales_df_per_year.drop (columns=["sales_amount", "surface"])
sales_df_per_year.sort_values ("price_m2_growth", ascending=False)

,,sales_amount,surface,average_price_m2,price_m2_growth
department_name,year,,,,
Pyr√©n√©es-Atlantiques,2021,3.821283e+09,1068164.0,3577.430704,0.140719
Landes,2021,2.409002e+09,818313.0,2943.864249,0.112565
Corse-du-Sud,2021,9.380425e+08,193855.0,4838.887261,0.106444
Finist√®re,2021,3.056316e+09,1421428.0,2150.172909,0.099954
Maine-et-Loire,2021,2.644990e+09,1162430.0,2275.396966,0.096707
...,...,...,...,...,...
Haute-Marne,2021,1.928814e+08,129888.0,1484.982081,0.009958
Haute-Sa√¥ne,2021,3.172671e+08,202655.0,1565.552673,0.008060
Cantal,2021,2.238980e+08,138821.0,1612.854279,-0.011984
La R√©union,2021,1.260015e+09,384936.0,3273.309935,-0.024756
Guyane,2021,2.741256e+08,79880.0,3431.717944,-0.123935

In [37]:
#calcul du nb de maisons vacantes en 2019
stock_df_2018 = stock_df[stock_df['year'].isin([2018])]
stock_df_2018
stock_df_2018 = stock_df_2018.merge (georef_df, on=["municipality_code"])
vacants_housing_per_department = stock_df_2018.groupby("department_name")["nb_vacants_housing"].sum()
vacants_housing_per_department = pd.DataFrame(vacants_housing_per_department)
vacants_housing_per_department

                         nb_vacants_housing
department_name
Ain                                   25849
Aisne                                 26001
Allier                                30479
Alpes-Maritimes                       64643
Alpes-de-Haute-Provence               10768
...                                     ...
Vend√©e                                21818
Vienne                                23264
Vosges                                24154
Yonne                                 23303
Yvelines                              40834

[100 rows x 1 columns]

In [ ]:
stock_df_2018

In [38]:
# 2.3 taxe d'habitation sur les maisons secondaires par d√©partement

TAX_FILENAME = 'taxe_habitation.xlsx'

tax_df = pd.read_excel(os.path.join(DATA_PATH, TAX_FILENAME))
tax_df.head()
tax_df = tax_df.rename(columns={'R√âGIONS': 'department_name'})
tax_df

,department_name,Taxe d'habitation moyenne en 2023,Nombre d'avis d'imp√¥t
0,Ain,847,23¬†000
1,Aisne,732,14¬†000
2,Allier,801,18¬†000
3,Alpes-de-Haute-Provence,551,35¬†000
4,Hautes-Alpes,567,52¬†000
...,...,...,...
96,Guadeloupe,1080,26¬†000
97,Martinique,986,18¬†000
98,Guyane,766,9¬†000
99,La R√©union,1182,15¬†000
100,Mayotte,1652,6¬†000

##### 3. SECONDARY HOME

In [39]:
# 3.1 Superficie moyenne des logements vendus par d√©partements

# Joindre les informations de g√©olocalisation pour obtenir les d√©partements
real_estate_sales_dep = sales_df.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer la surface moyenne des logements vendus par d√©partement
average_surface_municipality = real_estate_sales_dep.groupby('department_name')['surface'].mean().reset_index()

average_surface_municipality

            department_name    surface
0                       Ain  95.491503
1                     Aisne  91.956053
2                    Allier  85.308972
3           Alpes-Maritimes  66.283678
4   Alpes-de-Haute-Provence  73.283742
..                      ...        ...
92                   Vend√©e  84.926212
93                   Vienne  87.584873
94                   Vosges  88.986998
95                    Yonne  88.105673
96                 Yvelines  87.984134

[97 rows x 2 columns]

In [40]:
# 3.2 √âvolution du % des maisons secondaires par d√©partement

# Filtrer les donn√©es pour les ann√©es 2008 et 2018
housing_2008 = stock_df[stock_df['year'] == 2008]
housing_2018 = stock_df[stock_df['year'] == 2018]

# Renommer les colonnes pour les ann√©es sp√©cifiques
housing_2008 = housing_2008[['municipality_code', 'nb_second_home']].rename(columns={'nb_second_home': 'nb_second_home_2008'})
housing_2018 = housing_2018[['municipality_code', 'nb_second_home']].rename(columns={'nb_second_home': 'nb_second_home_2018'})

# Joindre les donn√©es pour les ann√©es 2008 et 2018 sur le code de municipalit√©
secondary_home_rate_comparison = housing_2008.merge(housing_2018, on='municipality_code')

# Joindre les informations de g√©olocalisation pour obtenir les d√©partements
secondary_home_rate_comparison = secondary_home_rate_comparison.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer l'√©volution moyenne du pourcentage de maisons secondaires par d√©partement
secondary_home_rate_evolution_department = secondary_home_rate_comparison.groupby(['department_name'])[['nb_second_home_2008', "nb_second_home_2018"]].agg({'nb_second_home_2008': "sum", "nb_second_home_2018": "sum"})
secondary_home_rate_evolution_department["evolution_secondary_homes"]=((secondary_home_rate_evolution_department["nb_second_home_2018"]-secondary_home_rate_evolution_department["nb_second_home_2008"])/secondary_home_rate_evolution_department["nb_second_home_2008"])*100
secondary_home_rate_evolution_department.head(50)

,nb_second_home_2008,nb_second_home_2018,evolution_secondary_homes
department_name,,,
Ain,16960,17574,3.620283
Aisne,10185,9393,-7.776141
Allier,14797,15032,1.588160
Alpes-Maritimes,166798,195108,16.972626
Alpes-de-Haute-Provence,38403,40199,4.676718
Ardennes,5070,5003,-1.321499
Ard√®che,35985,36779,2.206475
Ari√®ge,25341,27107,6.968944
Aube,6930,7825,12.914863
Aude,61952,67047,8.224109
Aveyron,29746,31631,6.336986
Bas-Rhin,11505,17658,53.481095
Bouches-du-Rh√¥ne,32194,47167,46.508666
Calvados,69649,75350,8.185329
Cantal,19745,20721,4.943024
Charente,11135,12680,13.875168
Charente-Maritime,94719,96695,2.086171
Cher,14172,13435,-5.200395
Corr√®ze,21917,23361,6.588493
Corse-du-Sud,36604,47914,30.898262
Creuse,17753,17542,-1.188532
C√¥te-d'Or,14850,16221,9.232323
C√¥tes-d'Armor,53258,59833,12.345563
Deux-S√®vres,9089,9279,2.090439
Dordogne,34627,37399,8.005314
Doubs,11929,12251,2.699304
Dr√¥me,19817,22143,11.737397
Essonne,6830,9243,35.329429
Eure,19023,18679,-1.808337
Eure-et-Loir,13671,12944,-5.317826
Finist√®re,67122,74563,11.085784
Gard,48537,55869,15.106002
Gers,9467,10629,12.274216
Gironde,64564,77505,20.043678
Guadeloupe,11976,21634,80.644623
Guyane,1566,2367,51.149425
Haut-Rhin,8897,12466,40.114645
Haute-Corse,36538,46961,28.526466
Haute-Garonne,22201,32000,44.137651
Haute-Loire,25091,23156,-7.711929
Haute-Marne,7477,7588,1.484553
Haute-Savoie,106777,124089,16.213229
Haute-Sa√¥ne,8365,7903,-5.523013
Haute-Vienne,15788,17202,8.956169
Hautes-Alpes,56250,62183,10.547556
Hautes-Pyr√©n√©es,32566,37900,16.379046
Hauts-de-Seine,18712,29878,59.672937
H√©rault,127728,133254,4.326381
Ille-et-Vilaine,31862,39089,22.682192
Indre,14154,14687,3.765720

In [41]:
# 3.3 taxe d'habitation sur les maisons secondaires par d√©partement

TAX_FILENAME = 'taxe_habitation.xlsx'

tax_df = pd.read_excel(os.path.join(DATA_PATH, TAX_FILENAME))
tax_df.head()
tax_df = tax_df.rename(columns={'R√âGIONS': 'department_name'})
tax_df

,department_name,Taxe d'habitation moyenne en 2023,Nombre d'avis d'imp√¥t
0,Ain,847,23¬†000
1,Aisne,732,14¬†000
2,Allier,801,18¬†000
3,Alpes-de-Haute-Provence,551,35¬†000
4,Hautes-Alpes,567,52¬†000
...,...,...,...
96,Guadeloupe,1080,26¬†000
97,Martinique,986,18¬†000
98,Guyane,766,9¬†000
99,La R√©union,1182,15¬†000
100,Mayotte,1652,6¬†000

##### 4. LIFE QUALITY

In [42]:
# 4.1 Professionnels de sant√© pour 100 000 habitants par d√©partements en 2023
DATA_PATH = '../data/cleaned'
HEALTH_FILENAME = 'health_df_cleaned.csv'

health_df = pd.read_csv(os.path.join(DATA_PATH, HEALTH_FILENAME))
health_df.head(50)

,department_code,department_name,ensemble des m√©decins,ensemble des m√©decins.1,dont g√©n√©ralistes,dont sp√©cialistes,chirurg. dentistes,pharm.
0,01,Ain,1‚ÄØ162,174,99,75,53,78
1,02,Aisne,1‚ÄØ107,211,99,111,45,91
2,03,Allier,917,275,134,141,51,111
3,04,Alpes-de-Haute-Provence,483,291,165,125,54,103
4,05,Hautes-Alpes,705,503,291,213,72,135
5,06,Alpes-Maritimes,5‚ÄØ095,461,173,288,123,123
6,07,Ard√®che,777,235,121,113,48,97
7,08,Ardennes,642,241,126,115,42,104
8,09,Ari√®ge,408,264,163,102,60,97
9,10,Aube,714,229,112,117,48,87
10,11,Aude,1‚ÄØ091,288,143,145,63,114
11,12,Aveyron,714,255,139,117,57,118
12,13,Bouches-du-Rh√¥ne,9‚ÄØ345,453,178,275,96,137
13,14,Calvados,2‚ÄØ698,386,168,217,52,113
14,15,Cantal,412,287,168,119,44,123
15,16,Charente,883,251,130,122,46,97
16,17,Charente-Maritime,2‚ÄØ163,326,179,148,62,109
17,18,Cher,588,197,97,100,42,85
18,19,Corr√®ze,684,288,146,142,59,116
19,2A,Corse-du-Sud,570,350,161,189,83,116
20,2B,Haute-Corse,556,299,157,143,61,112
21,21,C√¥te-d'Or,2‚ÄØ239,418,164,254,56,136
22,22,C√¥tes-d'Armor,1‚ÄØ586,261,141,121,54,94
23,23,Creuse,250,219,128,91,33,119
24,24,Dordogne,1‚ÄØ007,244,134,110,50,86
25,25,Doubs,1‚ÄØ963,358,159,199,55,112
26,26,Dr√¥me,1‚ÄØ537,295,144,151,62,104
27,27,Eure,986,165,90,75,37,107
28,28,Eure-et-Loir,834,194,86,108,41,103
29,29,Finist√®re,3‚ÄØ387,367,182,184,64,98
30,30,Gard,2‚ÄØ345,310,138,172,70,111
31,31,Haute-Garonne,5‚ÄØ996,413,166,247,93,110
32,32,Gers,434,225,139,87,60,99
33,33,Gironde,7‚ÄØ312,437,180,257,81,119
34,34,H√©rault,5‚ÄØ356,440,176,263,87,131
35,35,Ille-et-Vilaine,4‚ÄØ046,365,160,205,67,102
36,36,Indre,425,197,111,85,35,96
37,37,Indre-et-Loire,2‚ÄØ406,391,161,230,50,127
38,38,Is√®re,4‚ÄØ343,337,152,185,58,110
39,39,Jura,632,246,141,105,47,104
40,40,Landes,1‚ÄØ253,295,173,122,66,105
41,41,Loir-et-Cher,755,231,114,116,47,96
42,42,Loire,2‚ÄØ659,345,161,184,54,92
43,43,Haute-Loire,555,244,151,94,49,102
44,44,Loire-Atlantique,5‚ÄØ254,355,162,193,68,95
45,45,Loiret,1‚ÄØ580,231,101,129,47,98
46,46,Lot,456,260,147,114,60,96
47,47,Lot-et-Garonne,823,250,125,125,47,105
48,48,Loz√®re,179,234,135,99,39,114
49,49,Maine-et-Loire,2‚ÄØ889,350,161,189,50,102

In [43]:
# 4.2 Taux de criminalit√© pour 1000 habitants par d√©partements en 2020

CRIMINALITY_FILENAME = 'criminality_df_cleaned.csv'

criminality_df = pd.read_csv(os.path.join(DATA_PATH, CRIMINALITY_FILENAME))

# Convertir criminality_per_1000 en type num√©rique (si n√©cessaire)
criminality_df['criminality_per_1000'] = pd.to_numeric(criminality_df['criminality_per_1000'].str.replace(',', '.'))

# Agr√©ger georef_df par d√©partement_name pour obtenir une seule ligne par d√©partement
georef_aggregated = georef_df.groupby('department_name').first().reset_index()

# Effectuer une fusion (merge) pour ajouter department_code √† criminality_aggregated en utilisant department_name comme cl√©
criminality_aggregated = criminality_df.groupby('department_name')['criminality_per_1000'].mean().reset_index()
criminality_per_department = criminality_aggregated.merge(georef_aggregated[['department_name', 'department_code']], on='department_name')

# Afficher les premi√®res lignes du dataframe mis √† jour
criminality_per_department.tail(50)

           department_name  criminality_per_1000 department_code
51                   Is√®re                 51.65              38
52                    Jura                 34.68              39
53              La R√©union                 24.72             974
54                  Landes                 34.70              40
55            Loir-et-Cher                 30.62              41
56                   Loire                 41.18              42
57        Loire-Atlantique                 52.79              44
58                  Loiret                 39.49              45
59                     Lot                 30.80              46
60          Lot-et-Garonne                 34.94              47
61                  Loz√®re                 28.84              48
62          Maine-et-Loire                 33.50              49
63                  Manche                 25.48              50
64                   Marne                 44.74              51
65              Martinique                 40.71             972
66                 Mayenne                 29.59              53
67                 Mayotte                  0.00             976
68      Meurthe-et-Moselle                 38.96              54
69                   Meuse                 38.20              55
70                Morbihan                 32.20              56
71                 Moselle                 35.32              57
72                  Ni√®vre                 38.77              58
73                    Nord                 42.18              59
74                    Oise                 41.84              60
75                    Orne                 35.21              61
76                   Paris                 98.43              75
77           Pas-de-Calais                 40.02              62
78             Puy-de-D√¥me                 37.10              63
79    Pyr√©n√©es-Atlantiques                 32.43              64
80     Pyr√©n√©es-Orientales                 52.65              66
81                   Rh√¥ne                 61.83              69
82                  Sarthe                 37.98              72
83                  Savoie                 39.11              73
84          Sa√¥ne-et-Loire                 31.15              71
85          Seine-Maritime                 43.51              76
86       Seine-Saint-Denis                 77.76              93
87          Seine-et-Marne                 36.56              77
88                   Somme                 37.84              80
89                    Tarn                 33.07              81
90         Tarn-et-Garonne                 34.18              82
91   Territoire de Belfort                 20.61              90
92              Val-d'Oise                 43.79              95
93            Val-de-Marne                 57.38              94
94                     Var                 49.81              83
95                Vaucluse                 45.35              84
96                  Vend√©e                 30.51              85
97                  Vienne                 37.29              86
98                  Vosges                 34.07              88
99                   Yonne                 44.85              89
100               Yvelines                 46.48              78

In [44]:
# 4.3 Nombre de jours de soleil par an par d√©partements

SUNNY_FILENAME = 'heures_ensoleillement.xlsx'

sunny_df = pd.read_excel(os.path.join(DATA_PATH, SUNNY_FILENAME))
sunny_df.head()
sunny_df = sunny_df.rename(columns={'D√©partements Fran√ßais et Dom Tom': 'department_name'})
sunny_df
sunny_df_per_department = sunny_df.drop (columns=["Num d√©p", "Classement"])
sunny_df_per_department.tail(50)

          department_name  Ensoleillement (heures)
46         Sa√¥ne-et-Loire                     1849
47                  Indre                     1835
48         Indre-et-Loire                     1799
49                  Doubs                     1797
50         Hauts-de-Seine                     1796
51              C√¥te-d‚ÄôOr                     1789
52                   Cher                     1787
53           Val-de-Marne                     1774
54                   Aube                     1771
55                 Ni√®vre                     1764
56                  Yonne                     1759
57                 Vend√©e                     1756
58                 Vosges                     1743
59            Haute-Sa√¥ne                     1743
60           Loir-et-Cher                     1737
61               Morbihan                     1736
62          Pas-de-Calais                     1734
63                 Creuse                     1733
64         Seine-et-Marne                     1731
65                 Sarthe                     1728
66  Territoire de Belfort                     1724
67              Haut-Rhin                     1721
68             Val-d‚ÄôOise                     1719
69                 Loiret                     1710
70                  Marne                     1705
71      Seine-Saint-Denis                     1704
72           Eure-et-Loir                     1697
73         Maine-et-Loire                     1690
74       Loire-Atlantique                     1690
75                   Eure                     1684
76            Haute-Marne                     1682
77                  Meuse                     1676
78               Yvelines                     1664
79     Meurthe-et-Moselle                     1638
80               Bas-Rhin                     1633
81                  Paris                     1630
82                Mayenne                     1629
83        Ille-et-Vilaine                     1626
84                  Somme                     1624
85               Calvados                     1624
86                   Oise                     1622
87                   Nord                     1617
88                   Orne                     1615
89                  Aisne                     1609
90                Moselle                     1605
91         Seine-Maritime                     1518
92          C√¥tes-d‚ÄôArmor                     1512
93              Finist√®re                     1492
94                 Manche                     1460
95               Ardennes                     1440

# üöÄ ENRICHED EXPORT

In [ ]:
# Chemin du dossier o√π les fichiers seront enregistr√©s
output_folder = "../data/enriched"

# Assurez-vous que le dossier existe
os.makedirs(output_folder, exist_ok=True)

In [ ]:
# Liste des DataFrames et leurs noms
dataframes = {
    "num_sites_per_department": num_sites_per_department,
    "tourism_category_per_department": tourism_category_per_department,    
    "average_price_per_m2_per_department": avg_price_per_m2_per_department,
    "total_stock_per_department": total_stock_per_department,    
    "average_surface_per_department": average_surface_per_department,
    "secondary_home_rate_per_department": secondary_home_rate_per_department,
    "secondary_home_rate_evolution_department": secondary_home_rate_evolution_department,
    "vacants_housing_per_department": vacants_housing_per_department,
    "avg_salary_per_department": avg_salary_per_department,
    "health_df_per_derpartment": health_df,
    "criminality_per_department": criminality_per_department,
    "sunny_df_per_department": sunny_df_per_department,
    "life_quality_df": life_quality_df
    "taxe_habitation_per_department": tax_df,
}

# Exportation des DataFrames en CSV
for name, df in dataframes.items():
    output_path = os.path.join(output_folder, f"{name}_enriched.csv")
    df.to_csv(output_path, index=False)
    print(f"DataFrame {name} export√© vers {output_path}")

# SCORING

##### 1. TOURISM

In [45]:
department_merged_df["ranking_hosting"]= department_merged_df["importance_x"]
department_merged_df["ranking_touristic_sites"]= department_merged_df["importance_y"]
calculation_tourism_scoring = department_merged_df.drop (columns=["importance_x", "importance_y"])
calculation_tourism_scoring

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                            11.423180                34.061847
Aisne                           4.937153                15.687868
Allier                          8.386644                21.401418
Alpes-Maritimes                32.802552                32.967630
Alpes-de-Haute-Provence        11.293578                14.722338
...                                  ...                      ...
Vend√©e                         27.816510                32.287377
Vienne                          8.205227                21.203995
Vosges                         12.007083                14.973759
Yonne                           7.211247                16.595920
Yvelines                        7.509032                25.578985

[96 rows x 2 columns]

##### 2. REAL ESTATE

In [46]:
#fusion des diff√©rents dataframes pour r√©aliser le scoring
real_estate_scoring_merge_1 = yield_calculation.merge(sales_df_per_year, on="department_name")
real_estate_scoring_merge_2 = real_estate_scoring_merge_1.merge(vacants_housing_per_department, on="department_name")
real_estate_scoring_merge_2

,average_price_per_m2,average_rental,yield_rate,sales_amount,surface,average_price_m2,price_m2_growth,nb_vacants_housing
department_name,,,,,,,,
Ain,2635.784095,13.183580,6.002122,2.802408e+09,990520.0,2829.229384,0.072189,25849
Aisne,1561.099105,9.919550,7.625051,8.480408e+08,523582.0,1619.690449,0.033483,26001
Allier,1577.489243,10.015825,7.619063,6.105036e+08,372329.0,1639.688435,0.029527,30479
Alpes-Maritimes,4821.653974,17.530595,4.362966,1.050612e+10,2027161.0,5182.678071,0.078167,64643
Alpes-de-Haute-Provence,2281.499046,11.304575,5.945867,5.404214e+08,227226.0,2378.343326,0.029776,10768
...,...,...,...,...,...,...,...,...
Vend√©e,2401.896369,10.549698,5.270684,3.281171e+09,1290262.0,2543.026785,0.091690,21818
Vienne,1752.067837,9.783623,6.700852,1.002048e+09,549295.0,1824.243054,0.066504,23264
Vosges,1713.030737,9.622087,6.740395,7.157524e+08,405495.0,1765.132472,0.039378,24154
Yonne,1607.734995,9.907284,7.394714,7.649412e+08,464540.0,1646.663833,0.041092,23303
Yvelines,4228.393261,18.236001,5.175299,8.529910e+09,1921048.0,4440.237636,0.069662,40834

In [47]:
#fusion du dernier dataframe
real_estate_scoring_merge_3 = real_estate_scoring_merge_2.merge(tax_df, on="department_name")
real_estate_scoring_merge_3
real_estate_scoring_merge_3 = real_estate_scoring_merge_3.drop(columns=["average_price_per_m2","sales_amount","surface","average_price_m2","average_rental","Nombre d'avis d'imp√¥t"
])
real_estate_scoring_merge_3

,department_name,yield_rate,price_m2_growth,nb_vacants_housing,Taxe d'habitation moyenne en 2023
0,Ain,6.002122,0.072189,25849,847
1,Aisne,7.625051,0.033483,26001,732
2,Allier,7.619063,0.029527,30479,801
3,Alpes-Maritimes,4.362966,0.078167,64643,1686
4,Alpes-de-Haute-Provence,5.945867,0.029776,10768,551
...,...,...,...,...,...
88,Vend√©e,5.270684,0.091690,21818,759
89,Vienne,6.700852,0.066504,23264,746
90,Vosges,6.740395,0.039378,24154,611
91,Yonne,7.394714,0.041092,23303,682
92,Yvelines,5.175299,0.069662,40834,1443

In [48]:
#√©l√©ments pour le calcul du scoring immo
calculation_real_estate_scoring = real_estate_scoring_merge_3
calculation_real_estate_scoring.head(50)
calculation_real_estate_scoring["Taxe d'habitation moyenne en 2023"].astype(float)

0      847.0
1      732.0
2      801.0
3     1686.0
4      551.0
       ...
88     759.0
89     746.0
90     611.0
91     682.0
92    1443.0
Name: Taxe d'habitation moyenne en 2023, Length: 93, dtype: float64

In [49]:
calculation_real_estate_scoring.tail(50)
calculation_real_estate_scoring = calculation_real_estate_scoring.drop(columns="Taxe d'habitation moyenne en 2023")
calculation_real_estate_scoring

            department_name  yield_rate  price_m2_growth  nb_vacants_housing
0                       Ain    6.002122         0.072189               25849
1                     Aisne    7.625051         0.033483               26001
2                    Allier    7.619063         0.029527               30479
3           Alpes-Maritimes    4.362966         0.078167               64643
4   Alpes-de-Haute-Provence    5.945867         0.029776               10768
..                      ...         ...              ...                 ...
88                   Vend√©e    5.270684         0.091690               21818
89                   Vienne    6.700852         0.066504               23264
90                   Vosges    6.740395         0.039378               24154
91                    Yonne    7.394714         0.041092               23303
92                 Yvelines    5.175299         0.069662               40834

[93 rows x 4 columns]

calculation_real_estate_scoring

In [ ]:
calculation_real_estate_scoring

##### 3. SECONDARY HOME

In [50]:
#fusion des diff√©rents dataframes pour r√©aliser le scoring
calculation_secondary_home_scoring_merge_1 = average_surface_municipality.merge(secondary_home_rate_evolution_department, on="department_name")
calculation_secondary_home_scoring_merge_2 = calculation_secondary_home_scoring_merge_1.merge(tax_df, on="department_name")
calculation_secondary_home_scoring_merge_2
calculation_secondary_home_scoring=calculation_secondary_home_scoring_merge_2.drop (columns=["nb_second_home_2008", "nb_second_home_2018", "Nombre d'avis d'imp√¥t"])
calculation_secondary_home_scoring

,department_name,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023
0,Ain,95.491503,3.620283,847
1,Aisne,91.956053,-7.776141,732
2,Allier,85.308972,1.588160,801
3,Alpes-Maritimes,66.283678,16.972626,1686
4,Alpes-de-Haute-Provence,73.283742,4.676718,551
...,...,...,...,...
92,Vend√©e,84.926212,-1.718634,759
93,Vienne,87.584873,15.877164,746
94,Vosges,88.986998,12.625825,611
95,Yonne,88.105673,-9.106951,682
96,Yvelines,87.984134,42.979893,1443

##### 4. LIFE QUALITY

In [51]:
# MERGE DES 3 DF
life_quality_df = sunny_df_per_department.merge(criminality_per_department, on='department_name', how='inner')
life_quality_df = life_quality_df.merge(health_df, on='department_name', how='outer')

# Remplacer les NaN par des valeurs nulles
life_quality_df = life_quality_df.fillna(0)  # Vous pouvez remplacer 0 par d'autres valeurs par d√©faut si n√©cessaire

# Supprimer les colonnes redondantes department_code_x et department_code_y
life_quality_df = life_quality_df.drop(columns=['department_code_x', 'department_code_y', "ensemble des m√©decins", "dont g√©n√©ralistes", "dont sp√©cialistes", "chirurg. dentistes", "pharm."])

calculation_life_quality_scoring = pd.DataFrame (life_quality_df)
calculation_life_quality_scoring.tail(50)

,department_name,Ensoleillement (heures),criminality_per_1000,ensemble des m√©decins.1
51,Is√®re,2020.0,51.65,337
52,Jura,1889.0,34.68,246
53,La R√©union,0.0,0.00,364
54,Landes,1852.0,34.70,295
55,Loir-et-Cher,1737.0,30.62,231
56,Loire,2007.0,41.18,345
57,Loire-Atlantique,1690.0,52.79,355
58,Loiret,1710.0,39.49,231
59,Lot,2054.0,30.80,260
60,Lot-et-Garonne,1957.0,34.94,250
61,Loz√®re,2025.0,28.84,234
62,Maine-et-Loire,1690.0,33.50,350
63,Manche,1460.0,25.48,254
64,Marne,1705.0,44.74,367
65,Martinique,0.0,0.00,332
66,Mayenne,1629.0,29.59,191
67,Mayotte,0.0,0.00,89
68,Meurthe-et-Moselle,1638.0,38.96,405
69,Meuse,1676.0,38.20,200
70,Morbihan,1736.0,32.20,334
71,Moselle,1605.0,35.32,264
72,Ni√®vre,1764.0,38.77,221
73,Nord,1617.0,42.18,357
74,Oise,1622.0,41.84,209
75,Orne,1615.0,35.21,235
76,Paris,1630.0,98.43,888
77,Pas-de-Calais,1734.0,40.02,253
78,Puy-de-D√¥me,1898.0,37.10,373
79,Pyr√©n√©es-Atlantiques,1877.0,32.43,429
80,Pyr√©n√©es-Orientales,2392.0,52.65,337
81,Rh√¥ne,1932.0,61.83,463
82,Sarthe,1728.0,37.98,235
83,Savoie,1957.0,39.11,388
84,Sa√¥ne-et-Loire,1849.0,31.15,268
85,Seine-Maritime,1518.0,43.51,333
86,Seine-Saint-Denis,1704.0,77.76,237
87,Seine-et-Marne,1731.0,36.56,196
88,Somme,1624.0,37.84,360
89,Tarn,2134.0,33.07,287
90,Tarn-et-Garonne,2143.0,34.18,249
91,Territoire de Belfort,1724.0,20.61,331
92,Val-d'Oise,0.0,0.00,228
93,Val-de-Marne,1774.0,57.38,384
94,Var,2793.0,49.81,324
95,Vaucluse,2753.0,45.35,319
96,Vend√©e,1756.0,30.51,221
97,Vienne,1867.0,37.29,352
98,Vosges,1743.0,34.07,248
99,Yonne,1759.0,44.85,212
100,Yvelines,1664.0,46.48,267

In [52]:
#modification des 3 lignes nulles (je n'ai pas compris pourquoi elles l'√©taient)
calculation_life_quality_scoring.at[21,"criminality_per_1000"]=36.72
calculation_life_quality_scoring.at[22,"criminality_per_1000"]=30.92
calculation_life_quality_scoring.at[21,"Ensoleillement (heures)"]=1789
calculation_life_quality_scoring.at[22,"Ensoleillement (heures)"]=1512
calculation_life_quality_scoring.at[92,"Ensoleillement (heures)"]=1719
calculation_life_quality_scoring.at[92,"criminality_per_1000"]=43.79

calculation_life_quality_scoring.head(50)

,department_name,Ensoleillement (heures),criminality_per_1000,ensemble des m√©decins.1
0,Ain,1928.0,35.00,174
1,Aisne,1609.0,41.71,211
2,Allier,1857.0,35.12,275
3,Alpes-Maritimes,2668.0,55.66,461
4,Alpes-de-Haute-Provence,2596.0,44.57,291
5,Ardennes,1440.0,38.67,241
6,Ard√®che,2390.0,34.69,235
7,Ari√®ge,1900.0,39.98,264
8,Aube,1771.0,45.96,229
9,Aude,2106.0,38.95,288
10,Aveyron,2121.0,27.58,255
11,Bas-Rhin,1633.0,38.85,408
12,Bouches-du-Rh√¥ne,2801.0,63.21,453
13,Calvados,1624.0,34.93,386
14,Cantal,2084.0,25.61,287
15,Charente,1943.0,38.34,251
16,Charente-Maritime,2055.0,42.11,326
17,Cher,1787.0,33.37,197
18,Corr√®ze,1976.0,30.40,288
19,Corse-du-Sud,2726.0,39.07,350
20,Creuse,1733.0,29.16,219
21,C√¥te-d'Or,1789.0,36.72,418
22,C√¥tes-d'Armor,1512.0,30.92,261
23,Deux-S√®vres,1934.0,30.52,221
24,Dordogne,1964.0,31.11,244
25,Doubs,1797.0,40.28,358
26,Dr√¥me,2354.0,44.84,295
27,Essonne,1866.0,30.70,238
28,Eure,1684.0,36.06,165
29,Eure-et-Loir,1697.0,34.36,194
30,Finist√®re,1492.0,33.23,367
31,Gard,2616.0,45.24,310
32,Gers,2069.0,29.68,225
33,Gironde,1992.0,56.34,437
34,Guadeloupe,0.0,0.00,319
35,Guyane,0.0,0.00,242
36,Haut-Rhin,1721.0,33.66,302
37,Haute-Corse,2533.0,31.98,299
38,Haute-Garonne,2010.0,57.08,413
39,Haute-Loire,1885.0,31.98,244
40,Haute-Marne,1682.0,35.03,233
41,Haute-Savoie,1901.0,34.92,320
42,Haute-Sa√¥ne,1743.0,28.32,223
43,Haute-Vienne,1860.0,30.97,395
44,Hautes-Alpes,2439.0,36.08,503
45,Hautes-Pyr√©n√©es,1940.0,34.62,343
46,Hauts-de-Seine,1796.0,59.88,381
47,H√©rault,2618.0,56.18,440
48,Ille-et-Vilaine,1626.0,36.42,365
49,Indre,1835.0,31.54,197

# **SCALING**

##### 1. TOURISM

In [53]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler
scaler = MinMaxScaler()

#scaling pour calculer le scoring
calculation_tourism_scoring_numeric = calculation_tourism_scoring.select_dtypes(include="number")
df_scaled_tourism = scaler.fit_transform(calculation_tourism_scoring_numeric)
df_scaled_tourism = pd.DataFrame(df_scaled_tourism, columns=calculation_tourism_scoring_numeric.columns, index=calculation_tourism_scoring.index)
df_scaled_tourism.head(50)

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                             0.142733                 0.627787
Aisne                           0.048254                 0.257672
Allier                          0.098501                 0.372763
Alpes-Maritimes                 0.454155                 0.605746
Alpes-de-Haute-Provence         0.140845                 0.238223
Ardennes                        0.027919                 0.092048
Ard√®che                         0.437353                 0.368949
Ari√®ge                          0.106684                 0.145510
Aube                            0.056686                 0.093658
Aude                            0.190056                 0.336015
Aveyron                         0.215974                 0.323633
Bas-Rhin                        0.281073                 0.557921
Bouches-du-Rh√¥ne                0.333106                 0.889788
Calvados                        0.237764                 0.648229
Cantal                          0.123563                 0.151952
Charente                        0.047107                 0.204413
Charente-Maritime               0.364121                 0.496041
Cher                            0.056607                 0.220820
Corr√®ze                         0.085669                 0.149247
Corse-du-Sud                    0.202389                 0.172210
Creuse                          0.046409                 0.166516
C√¥te-d'Or                       0.155469                 0.797157
C√¥tes-d'Armor                   0.268879                 0.617207
Deux-S√®vres                     0.069387                 0.213534
Dordogne                        0.267780                 0.471015
Doubs                           0.117324                 0.296657
Dr√¥me                           0.230153                 0.279617
Essonne                         0.081157                 0.374383
Eure                            0.062613                 0.213115
Eure-et-Loir                    0.032735                 0.177033
Finist√®re                       0.403015                 0.882066
Gard                            0.277412                 0.368591
Gers                            0.047014                 0.229912
Gironde                         0.336826                 1.000000
Haut-Rhin                       0.226555                 0.408084
Haute-Corse                     0.199961                 0.148703
Haute-Garonne                   0.192960                 0.489369
Haute-Loire                     0.116400                 0.229172
Haute-Marne                     0.029805                 0.091051
Haute-Savoie                    0.488471                 0.656546
Haute-Sa√¥ne                     0.033077                 0.165906
Haute-Vienne                    0.057586                 0.204746
Hautes-Alpes                    0.215419                 0.377170
Hautes-Pyr√©n√©es                 0.316410                 0.336004
Hauts-de-Seine                  0.154569                 0.146887
H√©rault                         0.468596                 0.651871
Ille-et-Vilaine                 0.258433                 0.567464
Indre                           0.058635                 0.292174
Indre-et-Loire                  0.193509                 0.495583
Is√®re                           0.338815                 0.832625

In [54]:
#cleaning des diff√©rents KPI
df_scaled_tourism['ranking_hosting'] = round(df_scaled_tourism['ranking_hosting'], 2)
df_scaled_tourism['ranking_touristic_sites'] = round(df_scaled_tourism['ranking_touristic_sites'], 2)
df_scaled_tourism

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                                 0.14                     0.63
Aisne                               0.05                     0.26
Allier                              0.10                     0.37
Alpes-Maritimes                     0.45                     0.61
Alpes-de-Haute-Provence             0.14                     0.24
...                                  ...                      ...
Vend√©e                              0.38                     0.59
Vienne                              0.10                     0.37
Vosges                              0.15                     0.24
Yonne                               0.08                     0.28
Yvelines                            0.09                     0.46

[96 rows x 2 columns]

##### 2. REAL ESTATE

In [55]:
#scaling pour calculer le scoring
calculation_real_estate_scoring_numeric = calculation_real_estate_scoring.select_dtypes(include="number")
scaler = MinMaxScaler()
df_scaled_real_estate = scaler.fit_transform(calculation_real_estate_scoring_numeric)
df_scaled_real_estate = pd.DataFrame(df_scaled_real_estate, index=real_estate_scoring_merge_2.index, columns=calculation_real_estate_scoring_numeric.columns)
df_scaled_real_estate

                         yield_rate  price_m2_growth  nb_vacants_housing
department_name
Ain                        0.633355         0.551218            0.197095
Aisne                      0.991120         0.297747            0.198424
Allier                     0.989800         0.271845            0.237583
Alpes-Maritimes            0.272014         0.590368            0.536334
Alpes-de-Haute-Provence    0.620955         0.273472            0.065217
...                             ...              ...                 ...
Vend√©e                     0.472114         0.678925            0.161845
Vienne                     0.787386         0.513990            0.174490
Vosges                     0.796103         0.336356            0.182273
Yonne                      0.940344         0.347576            0.174831
Yvelines                   0.451088         0.534674            0.328133

[93 rows x 3 columns]

In [56]:
#cleaning des diff√©rents KPI
df_scaled_real_estate['yield_rate'] = round(df_scaled_real_estate['yield_rate'], 2)
df_scaled_real_estate['price_m2_growth'] = round(df_scaled_real_estate['price_m2_growth'], 2)
df_scaled_real_estate['nb_vacants_housing'] = round(df_scaled_real_estate['nb_vacants_housing'], 2)
df_scaled_real_estate

                         yield_rate  price_m2_growth  nb_vacants_housing
department_name
Ain                            0.63             0.55                0.20
Aisne                          0.99             0.30                0.20
Allier                         0.99             0.27                0.24
Alpes-Maritimes                0.27             0.59                0.54
Alpes-de-Haute-Provence        0.62             0.27                0.07
...                             ...              ...                 ...
Vend√©e                         0.47             0.68                0.16
Vienne                         0.79             0.51                0.17
Vosges                         0.80             0.34                0.18
Yonne                          0.94             0.35                0.17
Yvelines                       0.45             0.53                0.33

[93 rows x 3 columns]

In [ ]:
calculation_real_estate_scoring.tail(50)

##### 3. SECONDARY HOME

In [57]:
#scaling pour calculer le scoring
calculation_secondary_home_scoring_numeric = calculation_secondary_home_scoring.select_dtypes(include="number")
df_scaled_secondary_home = scaler.fit_transform(calculation_secondary_home_scoring_numeric)
df_scaled_secondary_home = pd.DataFrame(df_scaled_secondary_home, columns=calculation_secondary_home_scoring_numeric.columns, index=calculation_secondary_home_scoring["department_name"])
df_scaled_secondary_home.head(50)

,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023
department_name,,,
Ain,0.849569,0.138950,0.213806
Aisne,0.777615,0.014529,0.158677
Allier,0.642331,0.116764,0.191755
Alpes-Maritimes,0.255123,0.284725,0.616012
Alpes-de-Haute-Provence,0.397590,0.150484,0.071908
Ardennes,0.776964,0.084998,0.084372
Ard√®che,0.679231,0.123515,0.054650
Ari√®ge,0.619610,0.175509,0.053212
Aube,0.626639,0.240424,0.139981
Aude,0.489839,0.189213,0.088207
Aveyron,0.576190,0.168610,0.036913
Bouches-du-Rh√¥ne,0.412058,0.607186,0.512464
Calvados,0.551886,0.188789,0.119367
Cantal,0.583309,0.153391,0.088686
Charente,0.887193,0.250908,0.120805
Charente-Maritime,0.695753,0.122201,0.174497
Cher,0.674423,0.042650,0.156759
Corr√®ze,0.640615,0.171356,0.053212
Corse-du-Sud,0.511204,0.436759,0.397411
Creuse,0.624883,0.086450,0.049856
C√¥te-d'Or,0.549711,0.200220,0.160115
C√¥tes-d'Armor,0.741311,0.234209,0.210451
Deux-S√®vres,0.848846,0.122248,0.202301
Dordogne,0.888057,0.186824,0.118408
Doubs,0.623231,0.128895,0.170662
Dr√¥me,0.745457,0.227569,0.186961
Essonne,0.554045,0.485136,0.466443
Eure,0.816246,0.079683,0.130872
Eure-et-Loir,0.772957,0.041368,0.177852
Finist√®re,0.676165,0.220455,0.284756
Gard,0.605349,0.264346,0.200384
Gers,1.000000,0.233430,0.198466
Gironde,0.645956,0.318253,0.359060
Guadeloupe,0.466676,0.979867,0.325503
Guyane,0.501557,0.657852,0.174976
Haute-Corse,0.341501,0.410865,0.181208
Haute-Garonne,0.530525,0.581300,0.329818
Haute-Loire,0.701632,0.015230,0.063758
Haute-Marne,0.765778,0.115633,0.040748
Haute-Savoie,0.457270,0.276434,0.322627
Haute-Sa√¥ne,0.843822,0.039128,0.028284
Haute-Vienne,0.620667,0.197205,0.172579
Hautes-Alpes,0.208375,0.214579,0.079578
Hautes-Pyr√©n√©es,0.500828,0.278245,0.127517
Hauts-de-Seine,0.268502,0.750908,0.571908
H√©rault,0.362786,0.146659,0.286194
Ille-et-Vilaine,0.634992,0.347059,0.243528
Indre,0.684404,0.140538,0.072387
Indre-et-Loire,0.665608,0.298852,0.199904
Is√®re,0.547250,0.191073,0.241131

In [58]:
#cleaning des diff√©rents KPI
df_scaled_secondary_home['surface'] = round(df_scaled_secondary_home['surface'], 2)
df_scaled_secondary_home['evolution_secondary_homes'] = round(df_scaled_secondary_home['evolution_secondary_homes'], 2)
df_scaled_secondary_home["Taxe d'habitation moyenne en 2023"] = round(1 - df_scaled_secondary_home["Taxe d'habitation moyenne en 2023"], 2)
df_scaled_secondary_home

,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023
department_name,,,
Ain,0.85,0.14,0.79
Aisne,0.78,0.01,0.84
Allier,0.64,0.12,0.81
Alpes-Maritimes,0.26,0.28,0.38
Alpes-de-Haute-Provence,0.40,0.15,0.93
...,...,...,...
Vend√©e,0.63,0.08,0.83
Vienne,0.69,0.27,0.83
Vosges,0.72,0.24,0.90
Yonne,0.70,0.00,0.87
Yvelines,0.70,0.57,0.50

##### 4. LIFE QUALITY

In [65]:
#scaling pour calculer le scoring
calculation_life_quality_scoring_numeric = calculation_life_quality_scoring.select_dtypes(include="number")
df_scaled_life_quality = scaler.fit_transform(calculation_life_quality_scoring_numeric)
df_scaled_life_quality = pd.DataFrame(df_scaled_life_quality, columns=calculation_life_quality_scoring_numeric.columns, index=calculation_life_quality_scoring["department_name"])
df_scaled_life_quality.tail(50)

,Ensoleillement (heures),criminality_per_1000,ensemble des m√©decins.1
department_name,,,
Is√®re,0.721171,0.524738,0.310388
Jura,0.674402,0.352332,0.196496
La R√©union,0.000000,0.000000,0.344180
Landes,0.661192,0.352535,0.257822
Loir-et-Cher,0.620136,0.311084,0.177722
Loire,0.716530,0.418368,0.320401
Loire-Atlantique,0.603356,0.536320,0.332916
Loiret,0.610496,0.401199,0.177722
Lot,0.733310,0.312913,0.214018
Lot-et-Garonne,0.698679,0.354973,0.201502
Loz√®re,0.722956,0.293000,0.181477
Maine-et-Loire,0.603356,0.340343,0.326658
Manche,0.521242,0.258864,0.206508
Marne,0.608711,0.454536,0.347935
Martinique,0.000000,0.000000,0.304130
Mayenne,0.581578,0.300620,0.127660
Mayotte,0.000000,0.000000,0.000000
Meurthe-et-Moselle,0.584791,0.395814,0.395494
Meuse,0.598358,0.388093,0.138924
Morbihan,0.619779,0.327136,0.306633
Moselle,0.573010,0.358834,0.219024
Ni√®vre,0.629775,0.393884,0.165207
Nord,0.577294,0.428528,0.335419
Oise,0.579079,0.425074,0.150188
Orne,0.576580,0.357716,0.182728
Paris,0.581935,1.000000,1.000000
Pas-de-Calais,0.619065,0.406583,0.205257
Puy-de-D√¥me,0.677615,0.376918,0.355444
Pyr√©n√©es-Atlantiques,0.670118,0.329473,0.425532
Pyr√©n√©es-Orientales,0.853981,0.534898,0.310388
Rh√¥ne,0.689754,0.628162,0.468085
Sarthe,0.616923,0.385858,0.182728
Savoie,0.698679,0.397338,0.374218
Sa√¥ne-et-Loire,0.660121,0.316469,0.224030
Seine-Maritime,0.541949,0.442040,0.305382
Seine-Saint-Denis,0.608354,0.790003,0.185232
Seine-et-Marne,0.617994,0.371431,0.133917
Somme,0.579793,0.384436,0.339174
Tarn,0.761871,0.335975,0.247810
Tarn-et-Garonne,0.765084,0.347252,0.200250
Territoire de Belfort,0.615494,0.209387,0.302879
Val-d'Oise,0.613709,0.444885,0.173967
Val-de-Marne,0.633345,0.582952,0.369212
Var,0.997144,0.506045,0.294118
Vaucluse,0.982863,0.460734,0.287860
Vend√©e,0.626919,0.309966,0.165207
Vienne,0.666548,0.378848,0.329161
Vosges,0.622278,0.346134,0.198999
Yonne,0.627990,0.455654,0.153942
Yvelines,0.594074,0.472214,0.222778

In [66]:
#cleaning des diff√©rents KPI
df_scaled_life_quality['Ensoleillement'] = round(df_scaled_life_quality['Ensoleillement (heures)'], 2)
df_scaled_life_quality['Criminality'] = round(1 - df_scaled_life_quality['criminality_per_1000'], 2)
df_scaled_life_quality['Health'] = round(df_scaled_life_quality['ensemble des m√©decins.1'], 2)

df_scaled_life_quality = df_scaled_life_quality.drop(columns=["Ensoleillement (heures)", "criminality_per_1000", "ensemble des m√©decins.1"])
df_scaled_life_quality

                         Ensoleillement  Criminality  Health
department_name
Ain                                0.69         0.64    0.11
Aisne                              0.57         0.58    0.15
Allier                             0.66         0.64    0.23
Alpes-Maritimes                    0.95         0.43    0.47
Alpes-de-Haute-Provence            0.93         0.55    0.25
...                                 ...          ...     ...
Vend√©e                             0.63         0.69    0.17
Vienne                             0.67         0.62    0.33
Vosges                             0.62         0.65    0.20
Yonne                              0.63         0.54    0.15
Yvelines                           0.59         0.53    0.22

[101 rows x 3 columns]

# **NORMALIZATION**

##### 1. TOURISM

In [59]:
tourism_scoring = pd.DataFrame()
tourism_scoring['Hosting_score'] = df_scaled_tourism['ranking_hosting']*10
tourism_scoring['Touristic_sites_score'] = df_scaled_tourism['ranking_touristic_sites']*10
tourism_scoring['Global_tourism_score'] = round((tourism_scoring['Hosting_score'] + tourism_scoring['Touristic_sites_score'])/2,1)
tourism_scoring.sort_values("Global_tourism_score", ascending=False).head()

                  Hosting_score  Touristic_sites_score  Global_tourism_score
department_name
Paris                      10.0                    7.4                   8.7
Gironde                     3.4                   10.0                   6.7
Finist√®re                   4.0                    8.8                   6.4
Savoie                      5.2                    7.3                   6.2
Bouches-du-Rh√¥ne            3.3                    8.9                   6.1

##### 2. REAL ESTATE

In [60]:
real_estate_scoring= pd.DataFrame()
real_estate_scoring['Rentability_score'] = df_scaled_real_estate['yield_rate']*10
real_estate_scoring['Growth_score'] = df_scaled_real_estate['price_m2_growth']*10
real_estate_scoring['Vacancy_score'] = df_scaled_real_estate['nb_vacants_housing']*10
real_estate_scoring['Global_real_estate_score'] = round((real_estate_scoring['Rentability_score'] + real_estate_scoring['Growth_score'] + (real_estate_scoring['Vacancy_score']/2))/2.5,1)
real_estate_scoring.sort_values("Global_real_estate_score", ascending=False).head()

,Rentability_score,Growth_score,Vacancy_score,Global_real_estate_score
department_name,,,,
Finist√®re,7.1,7.3,3.3,6.4
Nord,6.9,4.3,7.9,6.1
Eure,8.6,5.5,1.9,6.0
Aube,9.8,4.4,1.1,5.9
Meurthe-et-Moselle,8.5,4.8,2.8,5.9

##### 3. SECONDARY HOME

In [63]:
secondary_home_scoring= pd.DataFrame()
secondary_home_scoring['Surface_score'] = df_scaled_secondary_home['surface']*10
secondary_home_scoring['Secondary_home_growth_score'] = df_scaled_secondary_home['evolution_secondary_homes']*10
secondary_home_scoring['Tax_score'] = df_scaled_secondary_home["Taxe d'habitation moyenne en 2023"]*10
secondary_home_scoring['Global_secondary_home_score'] = round(((secondary_home_scoring['Surface_score']/2) + secondary_home_scoring['Secondary_home_growth_score'] + secondary_home_scoring['Tax_score'])/2.5,1)
secondary_home_scoring.sort_values("Global_secondary_home_score", ascending=False).head()

,Surface_score,Secondary_home_growth_score,Tax_score,Global_secondary_home_score
department_name,,,,
Guadeloupe,4.7,9.8,6.7,7.5
La R√©union,4.3,10.0,6.3,7.4
Martinique,4.2,8.4,7.2,7.1
Guyane,5.0,6.6,8.3,7.0
Nord,6.7,6.6,6.7,6.7

##### 4. LIFE QUALITY

In [67]:
life_quality_scoring= pd.DataFrame()
life_quality_scoring['Sun_score'] = df_scaled_life_quality['Ensoleillement']*10
life_quality_scoring['Safety_score'] = df_scaled_life_quality['Criminality']*10
life_quality_scoring['Health_score'] = df_scaled_life_quality["Health"]*10
life_quality_scoring['Global_life_quality_score'] = round(((life_quality_scoring['Sun_score'])/2 + life_quality_scoring['Safety_score'] + life_quality_scoring['Health_score'])/2.5,1)
life_quality_scoring.sort_values("Global_life_quality_score", ascending=False).head()

,Sun_score,Safety_score,Health_score,Global_life_quality_score
department_name,,,,
Hautes-Alpes,8.7,6.3,5.2,6.3
Pyr√©n√©es-Atlantiques,6.7,6.7,4.3,5.7
Corse-du-Sud,9.7,6.0,3.3,5.7
Haute-Corse,9.0,6.8,2.6,5.6
Haute-Vienne,6.6,6.9,3.8,5.6

##### 5. GLOBAL SCORE

In [68]:
global_scoring_merge_1 = tourism_scoring.merge(real_estate_scoring, on="department_name")
global_scoring_merge_2 = global_scoring_merge_1.merge(secondary_home_scoring, on="department_name")
global_scoring_merge_3 = global_scoring_merge_2.merge(life_quality_scoring, on="department_name")
global_scoring_merge_3["Global_scoring"]= round((global_scoring_merge_3["Global_tourism_score"]+global_scoring_merge_3["Global_real_estate_score"]+global_scoring_merge_3["Global_secondary_home_score"]+global_scoring_merge_3["Global_life_quality_score"])/4,1)
global_scoring_table=global_scoring_merge_3
global_scoring_table.sort_values("Global_scoring", ascending=False).head(25)

,Hosting_score,Touristic_sites_score,Global_tourism_score,Rentability_score,Growth_score,Vacancy_score,Global_real_estate_score,Surface_score,Secondary_home_growth_score,Tax_score,Global_secondary_home_score,Sun_score,Safety_score,Health_score,Global_life_quality_score,Global_scoring
department_name,,,,,,,,,,,,,,,,
Finist√®re,4.0,8.8,6.4,7.1,7.3,3.3,6.4,6.8,2.2,7.2,5.1,5.3,6.6,3.5,5.1,5.8
Nord,2.4,6.9,4.6,6.9,4.3,7.9,6.1,6.7,6.6,6.7,6.7,5.8,5.7,3.4,4.8,5.6
Bouches-du-Rh√¥ne,3.3,8.9,6.1,4.2,4.6,6.5,4.8,4.1,6.1,4.9,5.2,10.0,3.6,4.6,5.3,5.4
Gironde,3.4,10.0,6.7,3.4,5.7,4.5,4.5,6.5,3.2,6.4,5.1,7.1,4.3,4.4,4.9,5.3
Maine-et-Loire,1.4,6.7,4.0,6.4,7.1,2.1,5.8,7.4,3.1,8.0,5.9,6.0,6.6,3.3,5.2,5.2
Pyr√©n√©es-Atlantiques,4.2,5.2,4.7,3.4,10.0,2.6,5.9,6.0,2.9,5.7,4.6,6.7,6.7,4.3,5.7,5.2
Is√®re,3.4,8.3,5.8,6.4,5.8,4.1,5.7,5.5,1.9,7.6,4.9,7.2,4.8,3.1,4.6,5.2
Morbihan,3.5,7.1,5.3,4.9,7.0,2.7,5.3,7.0,1.6,7.9,5.2,6.2,6.7,3.1,5.2,5.2
C√¥te-d'Or,1.6,8.0,4.8,6.8,4.4,1.9,4.9,5.5,2.0,8.4,5.3,6.4,6.3,4.1,5.4,5.1
H√©rault,4.7,6.5,5.6,4.9,5.2,4.4,4.9,3.6,1.5,7.1,4.2,9.3,4.3,4.4,5.3,5.0
Calvados,2.4,6.5,4.4,5.4,6.2,2.2,5.1,5.5,1.9,8.8,5.4,5.8,6.5,3.7,5.2,5.0
C√¥tes-d'Armor,2.7,6.2,4.4,6.0,5.8,2.5,5.2,7.4,2.3,7.9,5.6,5.4,6.9,2.2,4.7,5.0
Puy-de-D√¥me,2.5,7.5,5.0,7.1,2.8,3.2,4.6,5.3,2.0,8.5,5.3,6.8,6.2,3.6,5.3,5.0
Sa√¥ne-et-Loire,1.6,6.8,4.2,8.3,4.7,2.5,5.7,7.9,0.9,8.5,5.3,6.6,6.8,2.2,4.9,5.0
Savoie,5.2,7.3,6.2,2.7,6.6,1.6,4.0,2.8,2.0,8.4,4.7,7.0,6.0,3.7,5.3,5.0
Haute-Savoie,4.9,6.6,5.8,3.1,6.6,2.5,4.4,4.6,2.8,6.8,4.8,6.8,6.5,2.9,5.1,5.0
Ille-et-Vilaine,2.6,5.7,4.1,5.2,6.6,3.0,5.3,6.3,3.5,7.6,5.7,5.8,6.3,3.5,5.1,5.0
Dordogne,2.7,4.7,3.7,7.4,4.1,2.1,5.0,8.9,1.9,8.8,6.1,7.0,6.8,1.9,4.9,4.9
Loire-Atlantique,2.6,8.2,5.4,4.0,6.6,3.4,4.9,5.9,2.3,6.5,4.7,6.0,4.6,3.3,4.4,4.8
Paris,10.0,7.4,8.7,0.0,1.7,10.0,2.7,0.0,6.6,0.0,2.6,5.8,0.0,10.0,5.2,4.8
Meurthe-et-Moselle,0.6,3.5,2.0,8.5,4.8,2.8,5.9,6.5,4.8,7.4,6.2,5.8,6.0,4.0,5.2,4.8
Charente-Maritime,3.6,5.0,4.3,4.0,6.6,2.4,4.7,7.0,1.2,8.3,5.2,7.3,5.7,3.0,4.9,4.8
Ard√®che,4.4,3.7,4.1,6.3,4.0,1.5,4.4,6.8,1.2,9.5,5.6,8.5,6.5,1.8,5.0,4.8
Vend√©e,3.8,5.9,4.8,4.7,6.8,1.6,4.9,6.3,0.8,8.3,4.9,6.3,6.9,1.7,4.7,4.8
Seine-Maritime,1.9,5.1,3.5,7.2,3.9,4.2,5.3,6.0,2.9,8.1,5.6,5.4,5.6,3.1,4.6,4.8

In [85]:
#rajout dans le tableau "global score" de toutes les informations sur les d√©partements qui ont permis de calculer le Global Score
global_scoring_info_merge_1 = global_scoring_table.merge(calculation_real_estate_scoring, on="department_name", how="outer")
global_scoring_info_merge_2 = global_scoring_info_merge_1.merge(calculation_secondary_home_scoring, on="department_name", how="outer")
global_scoring_info_merge_3 = global_scoring_info_merge_2.merge(calculation_life_quality_scoring, on="department_name", how="outer")

# Fonction pour remplacer les points par des virgules dans les valeurs flottantes
def replace_dot_with_comma(value):
    if isinstance(value, float):
        return str(value).replace('.', ',')
    return value

# Appliquer la fonction √† toutes les cellules du DataFrame
global_scoring_info_merge_3 = global_scoring_info_merge_3.apply(lambda x: x.apply(replace_dot_with_comma))


global_scoring_info_merge_3.head(80)

,department_name,Hosting_score,Touristic_sites_score,Global_tourism_score,Rentability_score,Growth_score,Vacancy_score,Global_real_estate_score,Surface_score,Secondary_home_growth_score,...,Global_scoring,yield_rate,price_m2_growth,nb_vacants_housing,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023,Ensoleillement (heures),criminality_per_1000,ensemble des m√©decins.1
0,Ain,"1,4000000000000001","6,3","3,8","6,3","5,5","2,0","5,1","8,5","1,4000000000000001",...,"4,7","6,00212157576975","0,07218864494118082","25849,0","95,49150254923524","3,6202830188679243","847,0","1928,0","35,0",174
1,Aisne,"0,5","2,6","1,6","9,9","3,0","2,0","5,6","7,800000000000001","0,1",...,"4,1","7,6250506190679275","0,033482686264434625","26001,0","91,95605323269442","-7,776141384388807","732,0","1609,0","41,71",211
2,Allier,"1,0","3,7","2,4","9,9","2,7","2,4","5,5","6,4","1,2",...,"4,4","7,619062710594496","0,029527460032250152","30479,0","85,3089722675367","1,5881597621139418","801,0","1857,0","35,12",275
3,Alpes-Maritimes,"4,5","6,1","5,3","2,7","5,8999999999999995","5,4","4,5","2,6","2,8000000000000003",...,"4,6","4,362966296588599","0,07816696705265946","64643,0","66,28367766702475","16,972625571050013","1686,0","2668,0","55,66",461
4,Alpes-de-Haute-Provence,"1,4000000000000001","2,4","1,9","6,2","2,7","0,7000000000000001","3,7","4,0","1,5",...,"4,0","5,945867086723071","0,02977586676012889","10768,0","73,28374221030212","4,676717964742338","551,0","2596,0","44,57",291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Orne,"0,6","2,3000000000000003","1,5","8,0","3,4000000000000004","1,3","4,8","7,6","1,2",...,"4,1","6,7506570019665135","0,04035608404340407","18601,0","91,00721732157177","1,601736681530157","655,0","1615,0","35,21",235
76,Paris,"10,0","7,4","8,7","0,0","1,7000000000000002","10,0","2,7","0,0","6,6000000000000005",...,"4,8","3,129031252651794","0,013567914107807555","117666,0","53,748363426187694","51,76636055265988","2487,0","1630,0","98,43",888
77,Pas-de-Calais,"2,5","6,7","4,6","7,199999999999999","4,4","4,5","5,5","7,199999999999999","1,3",...,"4,8","6,3961011132888625","0,054476639555179895","54681,0","88,96594456278552","2,624123043712898","1057,0","1734,0","40,02",253
78,Puy-de-D√¥me,"2,5","7,5","5,0","7,1","2,8000000000000003","3,2","4,6","5,300000000000001","2,0",...,"5,0","6,345400473102771","0,03006633041378559","40367,0","79,84791697553743","8,94181206758731","717,0","1898,0","37,1",373
79,Pyr√©n√©es-Atlantiques,"4,2","5,2","4,7","3,4000000000000004","10,0","2,6","5,9","6,0","2,9",...,"5,2","4,68064355274193","0,14071918221857227","33331,0","83,11078626281527","17,73389611215984","1308,0","1877,0","32,43",429

In [86]:
# Chemin du dossier o√π les fichiers seront enregistr√©s
output_folder = "../data/enriched"

# Assurez-vous que le dossier existe
os.makedirs(output_folder, exist_ok=True)

dataframes = {
    "global_scoring_per_department": global_scoring_info_merge_3,
}

# Exportation des DataFrames en CSV
for name, df in dataframes.items():
    output_path = os.path.join(output_folder, f"{name}_enriched.csv")
    df.to_csv(output_path, index=False)
    print(f"DataFrame {name} export√© vers {output_path}")

DataFrame global_scoring_per_department export√© vers ../data/enriched/global_scoring_per_department_enriched.csv