# ⚙️ **CLEANED DATA IMPORT**

In [152]:
import pandas as pd
import numpy as np
import os

DATA_PATH = '../data/cleaned'

POI_FILENAME = 'poi_df_cleaned.csv'
SITE_FILENAME = 'site_df_cleaned.csv'
SALARY_FILENAME = 'salary_df_cleaned.csv'
GEOREF_FILENAME = 'georef_df_cleaned.csv'
STOCK_FILENAME = 'stock_df_cleaned.csv'
SALES_FILENAME = 'sales_df_cleaned.csv'
POPULATION_FILENAME = 'population_df_cleaned.csv'
POVERTY_FILENAME = 'poverty_df_cleaned.csv'
REAL_ESTATE_FILENAME = 'real_estate_df_cleaned.csv'

poi_df = pd.read_csv(os.path.join(DATA_PATH, POI_FILENAME))
site_df = pd.read_csv(os.path.join(DATA_PATH, SITE_FILENAME))
salary_df = pd.read_csv(os.path.join(DATA_PATH, SALARY_FILENAME))
georef_df = pd.read_csv(os.path.join(DATA_PATH, GEOREF_FILENAME))
stock_df = pd.read_csv(os.path.join(DATA_PATH, STOCK_FILENAME))
sales_df = pd.read_csv(os.path.join(DATA_PATH, SALES_FILENAME))
population_df = pd.read_csv(os.path.join(DATA_PATH, POPULATION_FILENAME))
poverty_df = pd.read_csv(os.path.join(DATA_PATH, POVERTY_FILENAME))
real_estate_df = pd.read_csv(os.path.join(DATA_PATH, REAL_ESTATE_FILENAME))

In [130]:
# DF CLEANED CHECK
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
print (stock_df.info())
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26207 entries, 0 to 26206
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   poi                   26207 non-null  object
 1   latitude_x            26207 non-null  float64
 2   longitude_x           26207 non-null  float64
 3   municipality_code     26207 non-null  object
 4   importance            26207 non-null  float64
 5   name_reprocessed      26207 non-null  object
 6   city_name             26207 non-null  object
 7   city_name_normalized  26207 non-null  object
 8   municipality_type     26207 non-null  object
 9   latitude_y            26207 non-null  float64
 10  longitude_y           26207 non-null  float64
 11  department_code       26207 non-null  object
 12  epci_code             24598 non-null  float64
 13  department_name       26207 non-null  object
dtypes: float64(6), object(8)
memory usage: 2.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31024 entries, 0 to 31023
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   poi                      31024 non-null  object
 1   name                     31024 non-null  object
 2   latitude_x               31024 non-null  float64
 3   longitude_x              31024 non-null  float64
 4   municipality_code        31024 non-null  object
 5   importance               31024 non-null  float64
 6   name_reprocessed         31024 non-null  object
 7   data_inside_parenthesis  31024 non-null  object
 8   Category                 31024 non-null  object
 9   city_name                31024 non-null  object
 10  city_name_normalized     31024 non-null  object
 11  municipality_type        31024 non-null  object
 12  latitude_y               31024 non-null  float64
 13  longitude_y              31024 non-null  float64
 14  department_code          31024 non-null  object
 15  epci_code                30069 non-null  float64
 16  department_name          31024 non-null  object
dtypes: float64(6), object(11)
memory usage: 4.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26675 entries, 0 to 26674
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   municipality_code  26675 non-null  object
 1   avg_net_salary     26675 non-null  float64
 2   year               26675 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 625.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34997 entries, 0 to 34996
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   municipality_code     34997 non-null  object
 1   city_name             34997 non-null  object
 2   city_name_normalized  34997 non-null  object
 3   municipality_type     34997 non-null  object
 4   latitude              34997 non-null  float64
 5   longitude             34997 non-null  float64
 6   department_code       34997 non-null  object
 7   epci_code             34945 non-null  float64
 8   department_name       34997 non-null  object
dtypes: float64(3), object(6)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279584 entries, 0 to 279583
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   municipality_code     279584 non-null  object
 1   year                  279584 non-null  int64
 2   nb_principal_home     279584 non-null  int64
 3   nb_second_home        279584 non-null  int64
 4   nb_vacants_housing    279584 non-null  int64
 5   nb_tot_housing        279584 non-null  int64
 6   secondary_home_rate   279584 non-null  float64
 7   principal_home_rate   279584 non-null  float64
 8   vacants_housing_rate  279584 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 19.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448398 entries, 0 to 3448397
Data columns (total 14 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sales_date                 datetime64[ns]
 1   sales_amount               float64
 2   street_number              float64
 3   street_code                object
 4   street_name                object
 5   nom_commune                object
 6   municipality_code          object
 7   premise_type               object
 8   surface                    float64
 9   number_of_principal_rooms  int64
 10  sales_price_m2             float64
 11  latitude                   float64
 12  longitude                  float64
 13  year                       int32
dtypes: datetime64[ns](1), float64(6), int32(1), int64(1), object(5)
memory usage: 355.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689495 entries, 0 to 689494
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   municipality_code  689495 non-null  object
 1   year               689495 non-null  int64
 2   population         689495 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689495 entries, 0 to 689494
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   municipality_code  689495 non-null  object
 1   year               689495 non-null  int64
 2   population         689495 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34441 entries, 0 to 34440
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   municipality_code       34441 non-null  object
 1   intensite_tension_immo  34441 non-null  int64
 2   rental_max_apartment    34441 non-null  float64
 3   rental_min_apartment    34441 non-null  float64
 4   rental_med_all          34441 non-null  float64
 5   rental_max_all          34441 non-null  float64
 6   rental_min_all          34441 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.8+ MB

In [158]:
#test
stock_df_test = stock_df.merge(georef_df, on="municipality_code")
stock_df_test = stock_df_test.groupby(["year", "department_name"])["nb_second_home"].sum().reset_index()
filtered_df = stock_df_test[stock_df_test["department_name"] == "Guyane"]
filtered_df

     year department_name  nb_second_home
35   1968          Guyane             345
135  1975          Guyane             469
235  1982          Guyane            1297
335  1990          Guyane            1820
435  1999          Guyane            2519
535  2008          Guyane            1566
635  2013          Guyane            1771
735  2018          Guyane            2367

### CLEANING

##### DF_SALES CLEANING

In [3]:
# SALES_DF: Suppression des doublons > nous passons de 4,3M de lignes à 3,821M
sales_df = sales_df.drop_duplicates()
sales_df.shape

(3448398, 13)

In [4]:
# SALES_DF: Check si les doublons on été enlevés : OK
sales_df.duplicated().sum()

np.int64(0)

In [5]:
# SALES_DF: Suppression des prix au m2 supérieur à 30K€ et inférieur à 1K€ > nous passons à 3,3399M de lignes
sales_df = sales_df[(sales_df['sales_price_m2'] <= 30000) & (sales_df['sales_price_m2'] >= 500)]
sales_df.shape

(3448398, 13)

In [6]:
# SALES_DF:
s2 = (sales_df['sales_amount']
             .value_counts()
             .loc[sales_df['sales_amount'].value_counts() > 10])

In [7]:
# SALES_DF:
sales_df = sales_df[sales_df['sales_amount'] > 1] # on enlève les 166 fois ou sales_amount = 1€
sales_df.shape

(3448398, 13)

In [8]:
# SALES_DF: changement du type sales_date en datetime
sales_df['sales_date'] = pd.to_datetime(sales_df['sales_date'])
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448398 entries, 0 to 3448397
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sales_date                 datetime64[ns]
 1   sales_amount               float64
 2   street_number              float64
 3   street_code                object
 4   street_name                object
 5   nom_commune                object
 6   municipality_code          object
 7   premise_type               object
 8   surface                    float64
 9   number_of_principal_rooms  int64
 10  sales_price_m2             float64
 11  latitude                   float64
 12  longitude                  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 342.0+ MB

##### DF_SALARY CLEANING

In [9]:
# DF_SALARY: ROUND avg_net_salary
salary_df['avg_net_salary'] = salary_df['avg_net_salary'].round()
salary_df.head()

  municipality_code  avg_net_salary  year
0             01004         26471.0  2019
1             01007         26341.0  2019
2             01014         25897.0  2019
3             01024         25695.0  2019
4             01025         26055.0  2019

##### DF_REAL_ESTATE CLEANING

In [10]:
# DF_REAL_ESTATE: suppression des nulls
real_estate_df = real_estate_df.dropna(axis=1)
real_estate_df.isnull().sum()

municipality_code         0
intensite_tension_immo    0
rental_max_apartment      0
rental_min_apartment      0
rental_med_all            0
rental_max_all            0
rental_min_all            0
dtype: int64

##### DF_SITE CLEANING

In [11]:
# SITE_DF: tri avec les données entre parenthèses de la colonne "name" inclues

import re

site_df['data_inside_parenthesis'] = site_df['name'].apply(lambda x: re.search(r'\((.*?)\)', x).group(1) if re.search(r'\((.*?)\)', x) else '')
site_df

#suppression de la colonne "name" dans un second temps

site_df.drop(columns=["name"])

#check pour savoir les informations présentes dans la colonne "poi", et si elles correspondent aux valeurs présentes dans la colonne "type"
print (site_df["poi"].value_counts())
print (site_df["data_inside_parenthesis"].value_counts().head(50))

#faire un mapping des colonnes poi, qui sont en fait plus pertinentes que celles de la colonne "type"

poi
castle            5611
2                 5207
water             4500
museum            3400
theatre           2439
forest            2233
beach             1010
protected_area     927
wetland            784
cinema             667
vineyard           641
golf_course        612
theme_park         358
cliff              337
marina             255
water_park         239
1                  236
zoo                234
valley             223
ridge              213
islet              163
casino             158
volcano            145
park               132
meadow              78
monument            76
sand                35
heritage            32
viewpoint           21
cave_entrance       15
wreck               12
rock                11
waterfall           10
attraction           8
dune                 5
national_park        4
allotments           2
geyser               1
Name: count, dtype: int64
data_inside_parenthesis
                       9899
Monument historique    5090
Eau                    4102
Musée                  1518
Forêt                  1498
Théâtre                1374
Château                1278
Zone protégée           910
Zone humide             759
Vignoble                620
Terrain de golf         608
Cinéma                  463
Parc à thème            355
Falaise                 276
Patrimoine mondial      232
Parc aquatique          231
Port de plaisance       229
Plage                   200
Vallée                  200
Zoo                     191
Îlot                    151
Volcan                  142
Monument                 96
Crête                    93
Bocage                   73
Parc                     61
Sable                    30
ancien                   27
Point de vue             21
Casino                   21
ancienne                 19
Entrée de grotte         15
Épave                    10
Chute d'eau              10
ruines                    9
Attraction                8
A                         7
Roche                     7
B                         6
aire d'adhésion           5
vestiges                  5
cœur                      3
zone centrale             3
privé                     3
Lacanau                   3
1er Cru                   2
herbe                     2
Parc national             2
s                         2
restes                    2
Name: count, dtype: int64

In [12]:
# SITE_DF: création d'un dictionnaire intégrant toutes les différentes valeurs inclues dans la colonne "poi"
s = site_df["poi"].value_counts()[site_df["poi"]]
{k: "toto" for k in s.index}

{'1': 'toto',
 '2': 'toto',
 'zoo': 'toto',
 'dune': 'toto',
 'park': 'toto',
 'rock': 'toto',
 'sand': 'toto',
 'beach': 'toto',
 'cliff': 'toto',
 'islet': 'toto',
 'ridge': 'toto',
 'water': 'toto',
 'wreck': 'toto',
 'casino': 'toto',
 'castle': 'toto',
 'cinema': 'toto',
 'forest': 'toto',
 'geyser': 'toto',
 'marina': 'toto',
 'meadow': 'toto',
 'museum': 'toto',
 'valley': 'toto',
 'theatre': 'toto',
 'volcano': 'toto',
 'wetland': 'toto',
 'heritage': 'toto',
 'monument': 'toto',
 'vineyard': 'toto',
 'viewpoint': 'toto',
 'waterfall': 'toto',
 'allotments': 'toto',
 'attraction': 'toto',
 'theme_park': 'toto',
 'water_park': 'toto',
 'golf_course': 'toto',
 'cave_entrance': 'toto',
 'national_park': 'toto',
 'protected_area': 'toto'}

In [13]:
# SITE_DF: création d'un dictionnaire avec les catégories associées aux valeurs de la colonne POI

category_dict = {'1': 'Patrimoine',
 '2': 'Patrimoine',
 'zoo': 'Entertainment',
 'dune': 'Nature',
 'park': 'Nature',
 'rock': 'Nature',
 'sand': 'Nature',
 'beach': 'Nature',
 'cliff': 'Nature',
 'islet': 'Nature',
 'ridge': 'Nature',
 'water': 'Nature',
 'wreck': 'Patrimoine',
 'casino': 'Entertainment',
 'castle': 'Patrimoine',
 'cinema': 'Culture',
 'forest': 'Nature',
 'geyser': 'Nature',
 'marina': 'Nature',
 'meadow': 'Nature',
 'museum': 'Culture',
 'valley': 'Nature',
 'theatre': 'Culture',
 'volcano': 'Nature',
 'wetland': 'Nature',
 'heritage': 'Patrimoine',
 'monument': 'Patrimoine',
 'vineyard': 'Nature',
 'viewpoint': 'Nature',
 'waterfall': 'Nature',
 'allotments': 'Patrimoine',
 'attraction': 'Entertainment',
 'theme_park': 'Entertainment',
 'water_park': 'Entertainment',
 'golf_course': 'Entertainment',
 'cave_entrance': 'Culture',
 'national_park': 'Nature',
 'protected_area': 'Nature'}

In [14]:
# SITE_DF: création de la colonne "catégorie"
site_df["Category"] = site_df["poi"].map(category_dict)
site_df

,poi,name,latitude,longitude,municipality_code,importance,name_reprocessed,data_inside_parenthesis,Category
0,1,Fortifications de Vauban (Patrimoine mondial),46.396160,1.472600,36134,0.139527,Fortifications de Vauban,Patrimoine mondial,Patrimoine
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,46.313695,1.478772,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Patrimoine mondial,Patrimoine
2,1,Canal du Midi (Patrimoine mondial),43.332709,3.219890,34032,0.129531,Canal du Midi,Patrimoine mondial,Patrimoine
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,50.455895,2.965034,62427,0.127170,Bassin minier du Nord-Pas de Calais,Patrimoine mondial,Patrimoine
4,1,"Les Causses et les Cévennes, paysage culturel ...",44.346210,3.613406,48050,0.124981,"Les Causses et les Cévennes, paysage culturel ...",Patrimoine mondial,Patrimoine
...,...,...,...,...,...,...,...,...,...
31029,viewpoint,Tour Eiffel 3e étage (Point de vue),48.858262,2.294497,75056,0.053782,Tour Eiffel 3e étage,Point de vue,Nature
31030,theme_park,Jardin d'Acclimatation (Parc à thème),48.878145,2.264686,75056,0.087097,Jardin d'Acclimatation,Parc à thème,Entertainment
31031,theme_park,Foire du Trône (Parc à thème),48.832003,2.404337,75056,0.060000,Foire du Trône,Parc à thème,Entertainment
31032,golf_course,Golf du Bois de Boulogne (Terrain de golf),48.857776,2.232651,75056,0.060073,Golf du Bois de Boulogne,Terrain de golf,Entertainment
31033,protected_area,"Paris, rives de la Seine (Zone protégée)",48.860054,2.324448,75056,0.095638,"Paris, rives de la Seine",Zone protégée,Nature

In [15]:
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
stock_df.info() 
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26216 entries, 0 to 26215
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   poi                26216 non-null  object
 1   latitude           26216 non-null  float64
 2   longitude          26216 non-null  float64
 3   municipality_code  26216 non-null  object
 4   importance         26216 non-null  float64
 5   name_reprocessed   26216 non-null  object
dtypes: float64(3), object(3)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31034 entries, 0 to 31033
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   poi                      31034 non-null  object
 1   name                     31034 non-null  object
 2   latitude                 31034 non-null  float64
 3   longitude                31034 non-null  float64
 4   municipality_code        31034 non-null  object
 5   importance               31034 non-null  float64
 6   name_reprocessed         31034 non-null  object
 7   data_inside_parenthesis  31034 non-null  object
 8   Category                 31034 non-null  object
dtypes: float64(3), object(6)
memory usage: 2.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26675 entries, 0 to 26674
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   municipality_code  26675 non-null  object
 1   avg_net_salary     26675 non-null  float64
 2   year               26675 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 625.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34997 entries, 0 to 34996
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   municipality_code     34997 non-null  object
 1   city_name             34997 non-null  object
 2   city_name_normalized  34997 non-null  object
 3   municipality_type     34997 non-null  object
 4   latitude              34997 non-null  float64
 5   longitude             34997 non-null  float64
 6   department_code       34997 non-null  object
 7   epci_code             34945 non-null  float64
 8   department_name       34997 non-null  object
dtypes: float64(3), object(6)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279584 entries, 0 to 279583
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   municipality_code     279584 non-null  object
 1   year                  279584 non-null  int64
 2   nb_principal_home     279584 non-null  int64
 3   nb_second_home        279584 non-null  int64
 4   nb_vacants_housing    279584 non-null  int64
 5   nb_tot_housing        279584 non-null  int64
 6   secondary_home_rate   279584 non-null  float64
 7   principal_home_rate   279584 non-null  float64
 8   vacants_housing_rate  279584 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 19.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448398 entries, 0 to 3448397
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sales_date                 datetime64[ns]
 1   sales_amount               float64
 2   street_number              float64
 3   street_code                object
 4   street_name                object
 5   nom_commune                object
 6   municipality_code          object
 7   premise_type               object
 8   surface                    float64
 9   number_of_principal_rooms  int64
 10  sales_price_m2             float64
 11  latitude                   float64
 12  longitude                  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 342.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689495 entries, 0 to 689494
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   municipality_code  689495 non-null  object
 1   year               689495 non-null  int64
 2   population         689495 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689495 entries, 0 to 689494
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   municipality_code  689495 non-null  object
 1   year               689495 non-null  int64
 2   population         689495 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34441 entries, 0 to 34440
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   municipality_code       34441 non-null  object
 1   intensite_tension_immo  34441 non-null  int64
 2   rental_max_apartment    34441 non-null  float64
 3   rental_min_apartment    34441 non-null  float64
 4   rental_med_all          34441 non-null  float64
 5   rental_max_all          34441 non-null  float64
 6   rental_min_all          34441 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.8+ MB

In [16]:
poi_df.head(1)

     poi   latitude  longitude municipality_code  importance name_reprocessed
0  hotel  45.678531  -1.163635             17225    0.078556        Club Med

In [17]:
site_df.head(1)

,poi,name,latitude,longitude,municipality_code,importance,name_reprocessed,data_inside_parenthesis,Category
0,1,Fortifications de Vauban (Patrimoine mondial),46.39616,1.4726,36134,0.139527,Fortifications de Vauban,Patrimoine mondial,Patrimoine

In [18]:
salary_df.head(1)

  municipality_code  avg_net_salary  year
0             01004         26471.0  2019

In [19]:
georef_df.head(1)

,municipality_code,city_name,city_name_normalized,municipality_type,latitude,longitude,department_code,epci_code,department_name
0,01005,Ambérieux-en-Dombes,AMBERIEUX EN DOMBES,municipality,45.99618,4.912273,01,200042497.0,Ain

In [20]:
stock_df.head(1)

,municipality_code,year,nb_principal_home,nb_second_home,nb_vacants_housing,nb_tot_housing,secondary_home_rate,principal_home_rate,vacants_housing_rate
0,01339,1968,109,155,0,264,0.587121,0.412879,0.0

In [21]:
sales_df.head(1)

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,sales_price_m2,latitude,longitude
0,2018-02-06,5000000.0,63.0,0040,AV PRINCE RAINIER III,Saint-Jean-Cap-Ferrat,06121,Maison,292.0,10,17123.0,43.678892,7.330651

In [22]:
population_df.head(1)

  municipality_code  year  population
0             04213  1968         0.0

In [23]:
poverty_df.head(1)

  municipality_code  year  population
0             04213  1968         0.0

In [24]:
real_estate_df.head(1)

,municipality_code,intensite_tension_immo,rental_max_apartment,rental_min_apartment,rental_med_all,rental_max_all,rental_min_all
0,57133,8,12.27,9.07,9.53,13.77,7.25

# 🧪 **DATA TRANSFORMATION**

### KPIS AGGREGATION BY DEPARTMENT

##### 1. TOURISM

In [197]:
#création de tables permettant de scorer le potentiel touristique de chaque département
site_df = site_df.merge (georef_df, on=["municipality_code"])
site_df.head(5)

,poi,name,latitude_x,longitude_x,municipality_code,importance,name_reprocessed,data_inside_parenthesis,Category,city_name_x,...,epci_code_x,department_name_x,city_name_y,city_name_normalized_y,municipality_type_y,latitude,longitude,department_code_y,epci_code_y,department_name_y
0,1,Fortifications de Vauban (Patrimoine mondial),46.396160,1.472600,36134,0.139527,Fortifications de Vauban,Patrimoine mondial,Patrimoine,Mouhet,...,200035137.0,Indre,Mouhet,MOUHET,municipality,46.389251,1.442651,36,200035137.0,Indre
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,46.313695,1.478772,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Patrimoine mondial,Patrimoine,Vareilles,...,242300135.0,Creuse,Vareilles,VAREILLES,municipality,46.305016,1.456031,23,242300135.0,Creuse
2,1,Canal du Midi (Patrimoine mondial),43.332709,3.219890,34032,0.129531,Canal du Midi,Patrimoine mondial,Patrimoine,Béziers,...,243400769.0,Hérault,Béziers,BEZIERS,municipality,43.347588,3.230768,34,243400769.0,Hérault
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,50.455895,2.965034,62427,0.127170,Bassin minier du Nord-Pas de Calais,Patrimoine mondial,Patrimoine,Hénin-Beaumont,...,246200299.0,Pas-de-Calais,Hénin-Beaumont,HENIN BEAUMONT,municipality,50.409234,2.958997,62,246200299.0,Pas-de-Calais
4,1,"Les Causses et les Cévennes, paysage culturel ...",44.346210,3.613406,48050,0.124981,"Les Causses et les Cévennes, paysage culturel ...",Patrimoine mondial,Patrimoine,Bédouès-Cocurès,...,200069151.0,Lozère,Bédouès-Cocurès,BEDOUES COCURES,municipality,44.353946,3.619560,48,200069151.0,Lozère

In [198]:
#sélection des colonnes dont on aura besoin pour le calcul
site_df_department = site_df[["poi", "name", "municipality_code", "importance", "name_reprocessed", "department_name"]]
site_df_department

KeyError: "['department_name'] not in index"

In [199]:
#groupement par département, puis classement par le département ayant le + d'atouts touristiques
group_site = site_df_department.groupby("department_name")[["importance"]].sum()
group_site
group_site.sort_values("importance", ascending =False)

                       importance
department_name
Gironde                 52.539958
Bouches-du-Rhône        47.068588
Finistère               46.685274
Isère                   44.230787
Loire-Atlantique        43.525109
...                           ...
Haute-Marne              7.416165
Val-de-Marne             6.699159
Lozère                   6.230406
Seine-Saint-Denis        5.718311
Territoire de Belfort    2.896012

[96 rows x 1 columns]

In [200]:
#même calcul que précédemment, mais pour la partie concernant les logements/lieux de villégiature
poi_df = poi_df.merge (georef_df, on=["municipality_code"])
poi_df.head(5)

,poi,latitude_x,longitude_x,municipality_code,importance,name_reprocessed,city_name_x,city_name_normalized_x,municipality_type_x,latitude_y,...,epci_code_x,department_name_x,city_name_y,city_name_normalized_y,municipality_type_y,latitude,longitude,department_code_y,epci_code_y,department_name_y
0,hotel,45.678531,-1.163635,17225,0.078556,Club Med,Les Mathes,MATHES,municipality,45.705988,...,241700640.0,Charente-Maritime,Les Mathes,MATHES,municipality,45.705988,-1.170867,17,241700640.0,Charente-Maritime
1,hotel,44.026859,4.847491,84129,0.078419,Cabanes des Grands Cépages,Sorgues,SORGUES,municipality,44.014576,...,248400293.0,Vaucluse,Sorgues,SORGUES,municipality,44.014576,4.867405,84,248400293.0,Vaucluse
2,hotel,50.331541,1.565677,80333,0.077999,Pierre et Vacances,Fort-Mahon-Plage,FORT MAHON PLAGE,municipality,50.345059,...,200070936.0,Somme,Fort-Mahon-Plage,FORT MAHON PLAGE,municipality,50.345059,1.577068,80,200070936.0,Somme
3,hotel,43.285936,6.569696,83068,0.077702,Pierre & Vacances,Grimaud,GRIMAUD,municipality,43.282028,...,200036077.0,Var,Grimaud,GRIMAUD,municipality,43.282028,6.533032,83,200036077.0,Var
4,hotel,43.541050,3.752852,34095,0.077542,Le Domaine du Golf,Fabrègues,FABREGUES,municipality,43.534477,...,243400017.0,Hérault,Fabrègues,FABREGUES,municipality,43.534477,3.771930,34,243400017.0,Hérault

In [201]:
#sélection des colonnes dont on aura besoin pour le calcul
poi_df_department = poi_df[["poi", "municipality_code", "importance", "department_name"]]
poi_df_department

KeyError: "['department_name'] not in index"

In [202]:
#groupement par département, puis classement par le département ayant le + de logements/lieux de villégiature
group_poi = poi_df_department.groupby("department_name")[["importance"]].sum()
group_poi
group_poi.sort_values("importance", ascending =False)

                       importance
department_name
Paris                   70.275305
Savoie                  37.401407
Haute-Savoie            35.158395
Hérault                 33.793973
Alpes-Maritimes         32.802552
...                           ...
Eure-et-Loir             3.871754
Haute-Marne              3.670584
Ardennes                 3.541133
Mayenne                  3.154595
Territoire de Belfort    1.624450

[96 rows x 1 columns]

In [215]:
#ajout des 2 calculs d'importance
department_merged_df = group_poi.merge (group_site, on=["department_name"])
#department_merged_df["somme_importance"]=department_merged_df["importance_x"]+department_merged_df["importance_y"]
#department_merged_df = department_merged_df.drop(columns=["importance_x", "importance_y"])
#department_merged_df
#department_merged_df.sort_values("somme_importance", ascending =False)
department_merged_df

                         importance_x  importance_y
department_name
Ain                         11.423180     34.061847
Aisne                        4.937153     15.687868
Allier                       8.386644     21.401418
Alpes-Maritimes             32.802552     32.967630
Alpes-de-Haute-Provence     11.293578     14.722338
...                               ...           ...
Vendée                      27.816510     32.287377
Vienne                       8.205227     21.203995
Vosges                      12.007083     14.973759
Yonne                        7.211247     16.595920
Yvelines                     7.509032     25.578985

[96 rows x 2 columns]

##### 2. REAL ESTATE

In [32]:
# 2.1 calcul du loyer au m2 médian par municipality_code
rental_med = real_estate_df [["municipality_code", "rental_med_all"]]
rental_med

      municipality_code  rental_med_all
0                 57133            9.53
1                 57446           11.09
2                 77013           12.26
3                 77026            9.53
4                 77072           11.47
...                 ...             ...
34436             81126            8.93
34437             33425           11.09
34438             85146           10.88
34439             53062            8.69
34440             22093            9.80

[34441 rows x 2 columns]

In [33]:
sales_df

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,sales_price_m2,latitude,longitude
0,2018-02-06,5000000.0,63.0,0040,AV PRINCE RAINIER III,Saint-Jean-Cap-Ferrat,06121,Maison,292.0,10,17123.0,43.678892,7.330651
1,2018-11-26,93060.0,5308.0,B061,LE SERRET,Vallées-d'Antraigues-Asperjoc,07011,Maison,16.0,0,5816.0,44.714072,4.360185
2,2018-06-08,95000.0,161.0,0683,IMP COL EMILE VIGUIER,Millau,12145,Maison,21.0,0,4524.0,44.093714,3.054594
3,2018-07-17,3912000.0,690.0,1868,CHE DE MAZARGUES,Aix-en-Provence,13001,Maison,610.0,13,6413.0,43.502833,5.428194
4,2018-03-27,810000.0,5000.0,0162,CHE DES OLIVIERS,Eygalières,13034,Maison,296.0,9,2736.0,43.756881,4.957214
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3448393,2017-11-10,160000.0,9001.0,A055,RES LA COUPIANE,La Valette-du-Var,83144,Appartement,103.0,5,1553.0,43.127825,5.988491
3448394,2019-03-15,290000.0,9001.0,A278,RES LES TROIS MAGES,Aix-en-Provence,13001,Appartement,103.0,6,2816.0,43.516165,5.470374
3448395,2018-04-26,540000.0,9001.0,A370,RES LE GAUGUIN CHEM BRUNET,Aix-en-Provence,13001,Appartement,115.0,5,4696.0,43.538090,5.438490
3448396,2021-08-25,184000.0,9001.0,0002,BD ABEL LEFEVRE,Ézy-sur-Eure,27230,Appartement,150.0,3,1227.0,48.862603,1.422561
3448397,2021-08-31,610000.0,9001.0,A155,RES DES ILES LE MONTE CRISTO,Ajaccio,2A004,Appartement,150.0,5,4067.0,41.910640,8.710564

In [34]:
#calcul du prix d'achat au m2 médian par municipality_code
sales_df
sales_df_grouped = sales_df.groupby(["municipality_code"])[["sales_amount", "surface", "premise_type"]].agg({"sales_amount": "sum", "surface": "sum", "premise_type": "count"})
sales_df_grouped = pd.DataFrame (sales_df_grouped)
sales_df_grouped

                   sales_amount  surface  premise_type
municipality_code
01001              1.362286e+07   6781.0            60
01002              4.067389e+06   1901.0            17
01004              1.852356e+08  87209.0          1062
01005              3.579244e+07  13876.0           138
01006              2.575955e+06   1425.0            13
...                         ...      ...           ...
97420              5.335366e+07  16160.0           188
97421              3.143598e+06   1872.0            24
97422              2.541138e+08  99088.0          1237
97423              1.326098e+07   3780.0            54
97424              1.029893e+07   4481.0            64

[32743 rows x 3 columns]

In [35]:
#jointure pour rajouter dans cette table le loyer médian par municipality_code
sales_df
real_estate_grouped = sales_df_grouped.merge(rental_med, on="municipality_code")
real_estate_grouped

      municipality_code  sales_amount  surface  premise_type  rental_med_all
0                 01001  1.362286e+07   6781.0            60           10.66
1                 01002  4.067389e+06   1901.0            17           10.16
2                 01004  1.852356e+08  87209.0          1062           11.25
3                 01005  3.579244e+07  13876.0           138           13.28
4                 01006  2.575955e+06   1425.0            13           12.70
...                 ...           ...      ...           ...             ...
31892             95676  5.974304e+06   2486.0            23           12.29
31893             95678  1.222182e+07   3568.0            38           18.53
31894             95680  8.569815e+07  32626.0           471           16.22
31895             95682  1.463606e+06    533.0             5           16.57
31896             95690  2.728320e+06    951.0            10           13.46

[31897 rows x 5 columns]

In [36]:
#ajout du nom du département correspondant à chaque municipality code
real_estate_department = real_estate_grouped.merge(georef_df, on="municipality_code")
real_estate_department
real_estate_department = real_estate_department [["municipality_code", "sales_amount", "surface", "rental_med_all", "department_name", "premise_type"]]

In [37]:
real_estate_department

,municipality_code,sales_amount,surface,rental_med_all,department_name,premise_type
0,01001,1.362286e+07,6781.0,10.66,Ain,60
1,01002,4.067389e+06,1901.0,10.16,Ain,17
2,01004,1.852356e+08,87209.0,11.25,Ain,1062
3,01005,3.579244e+07,13876.0,13.28,Ain,138
4,01006,2.575955e+06,1425.0,12.70,Ain,13
...,...,...,...,...,...,...
31892,95676,5.974304e+06,2486.0,12.29,Val-d'Oise,23
31893,95678,1.222182e+07,3568.0,18.53,Val-d'Oise,38
31894,95680,8.569815e+07,32626.0,16.22,Val-d'Oise,471
31895,95682,1.463606e+06,533.0,16.57,Val-d'Oise,5
31896,95690,2.728320e+06,951.0,13.46,Val-d'Oise,10

In [38]:
#calcul du prix au m2 par département
average_price_per_m2 = real_estate_department.groupby(["department_name"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
average_price_per_m2
average_price_per_m2["average_price_per_m2"] = average_price_per_m2["sales_amount"]/average_price_per_m2["surface"]
average_price_per_m2

                         sales_amount    surface  average_price_per_m2
department_name
Ain                      9.607929e+09  3645188.0           2635.784095
Aisne                    2.840598e+09  1819614.0           1561.099105
Allier                   2.057614e+09  1304360.0           1577.489243
Alpes-Maritimes          3.837944e+10  7959808.0           4821.653974
Alpes-de-Haute-Provence  2.097409e+09   919312.0           2281.499046
...                               ...        ...                   ...
Vendée                   6.771054e+09  2819045.0           2401.896369
Vienne                   2.024136e+09  1155284.0           1752.067837
Vosges                   1.482116e+09   865201.0           1713.030737
Yonne                    1.533758e+09   953987.0           1607.734995
Yvelines                 1.886490e+10  4461481.0           4228.393261

[93 rows x 3 columns]

In [39]:
#calcul du loyer médian par départment
real_estate_department["intermediate_sum"]=real_estate_department["rental_med_all"]*real_estate_department["premise_type"]
real_estate_department
average_rental = real_estate_department.groupby(["department_name"])[["intermediate_sum", "premise_type"]].agg({"intermediate_sum": "sum", "premise_type": "sum"})
average_rental
average_rental["average_rental"]= average_rental["intermediate_sum"]/average_rental["premise_type"]
average_rental

                         intermediate_sum  premise_type  average_rental
department_name
Ain                             499987.29         37925       13.183580
Aisne                           196297.97         19789        9.919550
Allier                          153111.91         15287       10.015825
Alpes-Maritimes                2105196.54        120087       17.530595
Alpes-de-Haute-Provence         141928.94         12555       11.304575
...                                   ...           ...             ...
Vendée                          350608.65         33234       10.549698
Vienne                          129985.21         13286        9.783623
Vosges                           93517.06          9719        9.622087
Yonne                           107147.28         10815        9.907284
Yvelines                        924747.61         50710       18.236001

[93 rows x 3 columns]

In [40]:
#regroupement des colonnes avec le loyer moyen au m2 par département et le prix d'achat au m2 moyen par département
yield_calculation = average_price_per_m2.merge(average_rental, on="department_name")
yield_calculation
yield_calculation = yield_calculation.drop(columns=["sales_amount", "surface", "intermediate_sum", "premise_type"])
yield_calculation["yield_rate"]=yield_calculation["average_rental"]*12/yield_calculation["average_price_per_m2"]*100
yield_calculation.sort_values("yield_rate", ascending=True)

                       average_price_per_m2  average_rental  yield_rate
department_name
Paris                          11432.173601       29.809690    3.129031
Corse-du-Sud                    4420.005565       13.879070    3.768068
Hauts-de-Seine                  7459.175300       24.168113    3.888062
Var                             4058.417572       14.124893    4.176473
Savoie                          3472.500028       12.601657    4.354784
...                                     ...             ...         ...
Cher                            1549.532038        9.742943    7.545201
Aube                            1690.589163       10.689934    7.587840
Allier                          1577.489243       10.015825    7.619063
Aisne                           1561.099105        9.919550    7.625051
Territoire de Belfort           1730.559163       11.054424    7.665331

[93 rows x 3 columns]

In [41]:
#Informations sur la rentabilité locative
yield_calculation

                         average_price_per_m2  average_rental  yield_rate
department_name
Ain                               2635.784095       13.183580    6.002122
Aisne                             1561.099105        9.919550    7.625051
Allier                            1577.489243       10.015825    7.619063
Alpes-Maritimes                   4821.653974       17.530595    4.362966
Alpes-de-Haute-Provence           2281.499046       11.304575    5.945867
...                                       ...             ...         ...
Vendée                            2401.896369       10.549698    5.270684
Vienne                            1752.067837        9.783623    6.700852
Vosges                            1713.030737        9.622087    6.740395
Yonne                             1607.734995        9.907284    7.394714
Yvelines                          4228.393261       18.236001    5.175299

[93 rows x 3 columns]

In [42]:
# 2.2 calcul de la variation entre 2018 et 2021

#ajout d'une colonne "year"
sales_df.info()
sales_df["year"]=sales_df["sales_date"].dt.year

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448398 entries, 0 to 3448397
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sales_date                 datetime64[ns]
 1   sales_amount               float64
 2   street_number              float64
 3   street_code                object
 4   street_name                object
 5   nom_commune                object
 6   municipality_code          object
 7   premise_type               object
 8   surface                    float64
 9   number_of_principal_rooms  int64
 10  sales_price_m2             float64
 11  latitude                   float64
 12  longitude                  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 342.0+ MB

In [43]:
#merge pour rajouter le département
sales_info_per_department = sales_df.merge (georef_df, on=["municipality_code"])
sales_info_per_department

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,...,longitude_x,year,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
0,2018-02-06,5000000.0,63.0,0040,AV PRINCE RAINIER III,Saint-Jean-Cap-Ferrat,06121,Maison,292.0,10,...,7.330651,2018,Saint-Jean-Cap-Ferrat,SAINT JEAN CAP FERRAT,municipality,43.687179,7.329936,06,200030195.0,Alpes-Maritimes
1,2018-11-26,93060.0,5308.0,B061,LE SERRET,Vallées-d'Antraigues-Asperjoc,07011,Maison,16.0,0,...,4.360185,2018,Vallées-d'Antraigues-Asperjoc,VALLEES D ANTRAIGUES ASPERJOC,municipality,44.739318,4.355176,07,200073245.0,Ardèche
2,2018-06-08,95000.0,161.0,0683,IMP COL EMILE VIGUIER,Millau,12145,Maison,21.0,0,...,3.054594,2018,Millau,MILLAU,municipality,44.097625,3.117054,12,241200567.0,Aveyron
3,2018-07-17,3912000.0,690.0,1868,CHE DE MAZARGUES,Aix-en-Provence,13001,Maison,610.0,13,...,5.428194,2018,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
4,2018-03-27,810000.0,5000.0,0162,CHE DES OLIVIERS,Eygalières,13034,Maison,296.0,9,...,4.957214,2018,Eygalières,EYGALIERES,municipality,43.761705,4.952120,13,241300375.0,Bouches-du-Rhône
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444144,2017-11-10,160000.0,9001.0,A055,RES LA COUPIANE,La Valette-du-Var,83144,Appartement,103.0,5,...,5.988491,2017,La Valette-du-Var,VALETTE DU VAR,municipality,43.149915,5.992225,83,248300543.0,Var
3444145,2019-03-15,290000.0,9001.0,A278,RES LES TROIS MAGES,Aix-en-Provence,13001,Appartement,103.0,6,...,5.470374,2019,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
3444146,2018-04-26,540000.0,9001.0,A370,RES LE GAUGUIN CHEM BRUNET,Aix-en-Provence,13001,Appartement,115.0,5,...,5.438490,2018,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
3444147,2021-08-25,184000.0,9001.0,0002,BD ABEL LEFEVRE,Ézy-sur-Eure,27230,Appartement,150.0,3,...,1.422561,2021,Ézy-sur-Eure,EZY SUR EURE,municipality,48.870981,1.412630,27,200040277.0,Eure
3444148,2021-08-31,610000.0,9001.0,A155,RES DES ILES LE MONTE CRISTO,Ajaccio,2A004,Appartement,150.0,5,...,8.710564,2021,Ajaccio,AJACCIO,municipality,41.934793,8.701323,2A,242010056.0,Corse-du-Sud

In [44]:
#filtre uniquement sur les années 2020 et 2021 (car ce sont les seules années où nous avons toutes les informations)
sales_info_per_department = sales_info_per_department[sales_info_per_department['year'].isin([2020, 2021])]
sales_info_per_department

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,...,longitude_x,year,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
29,2020-05-22,253902.0,41.0,0114,RUE DE LA REPUBLIQUE,L'Argentière-la-Bessée,05006,Maison,160.0,9,...,6.557181,2020,L'Argentière-la-Bessée,ARGENTIERE LA BESSEE,municipality,44.782173,6.472145,05,240500462.0,Hautes-Alpes
30,2020-08-27,2400000.0,760.0,0560,CHE DE LA GRANDE BASTIDE,Mougins,06085,Maison,257.0,9,...,6.985652,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
31,2020-11-27,920000.0,139.0,0380,CHE DE L ETANG,Mougins,06085,Maison,285.0,9,...,7.019548,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
32,2020-12-17,1778080.0,168.0,0947,RTE DES ROMARINS,Mougins,06085,Maison,244.0,9,...,7.020948,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
33,2020-11-20,793750.0,282.0,0275,CHE DE MONTFORT,La Colle-sur-Loup,06044,Maison,227.0,9,...,7.110638,2020,La Colle-sur-Loup,COLLE SUR LOUP,municipality,43.687170,7.097736,06,240600585.0,Alpes-Maritimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444138,2021-01-15,169000.0,9001.0,A070,RES DE LA THEUILLERIE,Ris-Orangis,91521,Appartement,99.0,5,...,2.397566,2021,Ris-Orangis,RIS ORANGIS,municipality,48.645194,2.407936,91,200059228.0,Essonne
3444141,2020-09-08,389685.0,9001.0,0667,ALL DES CIGALES,Aix-en-Provence,13001,Appartement,103.0,5,...,5.459952,2020,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
3444142,2021-12-07,236000.0,9001.0,A100,RES LES PAMPRES,Les Ulis,91692,Appartement,103.0,5,...,2.172815,2021,Les Ulis,ULIS,municipality,48.680321,2.185190,91,200056232.0,Essonne
3444147,2021-08-25,184000.0,9001.0,0002,BD ABEL LEFEVRE,Ézy-sur-Eure,27230,Appartement,150.0,3,...,1.422561,2021,Ézy-sur-Eure,EZY SUR EURE,municipality,48.870981,1.412630,27,200040277.0,Eure
3444148,2021-08-31,610000.0,9001.0,A155,RES DES ILES LE MONTE CRISTO,Ajaccio,2A004,Appartement,150.0,5,...,8.710564,2021,Ajaccio,AJACCIO,municipality,41.934793,8.701323,2A,242010056.0,Corse-du-Sud

In [45]:
#groupement par année et par département
sales_df_per_year = sales_info_per_department.groupby(["department_name", "year"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
sales_df_per_year

                      sales_amount    surface
department_name year
Ain             2020  2.210313e+09   837639.0
                2021  2.802408e+09   990520.0
Aisne           2020  6.593465e+08   420712.0
                2021  8.480408e+08   523582.0
Allier          2020  4.703144e+08   295301.0
...                            ...        ...
Vosges          2021  7.157524e+08   405495.0
Yonne           2020  5.685219e+08   359444.0
                2021  7.649412e+08   464540.0
Yvelines        2020  6.951062e+09  1674525.0
                2021  8.529910e+09  1921048.0

[194 rows x 2 columns]

In [46]:
#calcul du prix moyen au m2
sales_df_per_year["average_price_m2"]=sales_df_per_year["sales_amount"]/sales_df_per_year["surface"]
sales_df_per_year
sales_df_per_year.head(50)

                              sales_amount    surface  average_price_m2
department_name         year
Ain                     2020  2.210313e+09   837639.0       2638.742163
                        2021  2.802408e+09   990520.0       2829.229384
Aisne                   2020  6.593465e+08   420712.0       1567.215852
                        2021  8.480408e+08   523582.0       1619.690449
Allier                  2020  4.703144e+08   295301.0       1592.661195
                        2021  6.105036e+08   372329.0       1639.688435
Alpes-Maritimes         2020  8.099021e+09  1684862.0       4806.934575
                        2021  1.050612e+10  2027161.0       5182.678071
Alpes-de-Haute-Provence 2020  4.878721e+08   211239.0       2309.573765
                        2021  5.404214e+08   227226.0       2378.343326
Ardennes                2020  2.780011e+08   182305.0       1524.923009
                        2021  3.647159e+08   230145.0       1584.722404
Ardèche                 2020  7.373199e+08   355875.0       2071.850751
                        2021  3.951426e+08   181828.0       2173.166720
Ariège                  2020  3.043253e+08   180455.0       1686.433445
                        2021  3.840622e+08   222958.0       1722.576373
Aube                    2020  5.269005e+08   312882.0       1684.023003
                        2021  6.787810e+08   382098.0       1776.457798
Aude                    2020  9.911086e+08   504986.0       1962.645620
                        2021  1.340519e+09   649074.0       2065.278897
Aveyron                 2020  4.872055e+08   273488.0       1781.450946
                        2021  5.751248e+08   310326.0       1853.292218
Bouches-du-Rhône        2020  7.856187e+09  2137498.0       3675.412486
                        2021  8.583444e+09  2206338.0       3890.357776
Calvados                2020  2.753183e+09  1080679.0       2547.641600
                        2021  3.049854e+09  1106126.0       2757.239072
Cantal                  2020  1.783335e+08   109245.0       1632.417611
                        2021  2.238980e+08   138821.0       1612.854279
Charente                2020  6.417160e+08   403380.0       1590.847431
                        2021  8.555856e+08   507990.0       1684.256679
Charente-Maritime       2020  3.331947e+09  1203955.0       2767.500872
                        2021  4.255422e+09  1412766.0       3012.120654
Cher                    2020  3.974249e+08   254019.0       1564.547816
                        2021  5.194989e+08   326249.0       1592.338748
Corrèze                 2020  3.899396e+08   231903.0       1681.477054
                        2021  4.982713e+08   285922.0       1742.682547
Corse-du-Sud            2020  6.609123e+08   151122.0       4373.369143
                        2021  9.380425e+08   193855.0       4838.887261
Creuse                  2020  7.905584e+07    56504.0       1399.119409
                        2021  1.164979e+08    82336.0       1414.907846
Côte-d'Or               2020  1.488322e+09   664811.0       2238.714128
                        2021  1.617812e+09   684524.0       2363.411005
Côtes-d'Armor           2020  1.755253e+09   876654.0       2002.219181
                        2021  2.353489e+09  1091778.0       2155.648108
Deux-Sèvres             2020  6.552942e+08   404254.0       1620.996159
                        2021  8.619962e+08   512222.0       1682.856588
Dordogne                2020  1.013787e+09   571847.0       1772.828828
                        2021  1.479251e+09   793717.0       1863.700528
Doubs                   2020  1.242725e+09   595565.0       2086.631706
                        2021  1.407267e+09   643480.0       2186.962748

In [47]:
#calcul de l'évolution entre 2018 et 2021
sales_df_per_year['price_m2_growth'] = sales_df_per_year.groupby('department_name')['average_price_m2'].pct_change()
sales_df_per_year

                      sales_amount    surface  average_price_m2  \
department_name year
Ain             2020  2.210313e+09   837639.0       2638.742163
                2021  2.802408e+09   990520.0       2829.229384
Aisne           2020  6.593465e+08   420712.0       1567.215852
                2021  8.480408e+08   523582.0       1619.690449
Allier          2020  4.703144e+08   295301.0       1592.661195
...                            ...        ...               ...
Vosges          2021  7.157524e+08   405495.0       1765.132472
Yonne           2020  5.685219e+08   359444.0       1581.670165
                2021  7.649412e+08   464540.0       1646.663833
Yvelines        2020  6.951062e+09  1674525.0       4151.064983
                2021  8.529910e+09  1921048.0       4440.237636

                      price_m2_growth
department_name year
Ain             2020              NaN
                2021         0.072189
Aisne           2020              NaN
                2021         0.033483
Allier          2020              NaN
...                               ...
Vosges          2021         0.039378
Yonne           2020              NaN
                2021         0.041092
Yvelines        2020              NaN
                2021         0.069662

[194 rows x 4 columns]

In [48]:
#calcul final de l'évolution
sales_df_per_year = sales_df_per_year.dropna()
sales_df_per_year.drop (columns=["sales_amount", "surface"])
sales_df_per_year.sort_values ("price_m2_growth", ascending=False)

,,sales_amount,surface,average_price_m2,price_m2_growth
department_name,year,,,,
Pyrénées-Atlantiques,2021,3.821283e+09,1068164.0,3577.430704,0.140719
Landes,2021,2.409002e+09,818313.0,2943.864249,0.112565
Corse-du-Sud,2021,9.380425e+08,193855.0,4838.887261,0.106444
Finistère,2021,3.056316e+09,1421428.0,2150.172909,0.099954
Maine-et-Loire,2021,2.644990e+09,1162430.0,2275.396966,0.096707
...,...,...,...,...,...
Haute-Marne,2021,1.928814e+08,129888.0,1484.982081,0.009958
Haute-Saône,2021,3.172671e+08,202655.0,1565.552673,0.008060
Cantal,2021,2.238980e+08,138821.0,1612.854279,-0.011984
La Réunion,2021,1.260015e+09,384936.0,3273.309935,-0.024756
Guyane,2021,2.741256e+08,79880.0,3431.717944,-0.123935

In [49]:
#calcul du nb de maisons vacantes en 2019
stock_df_2018 = stock_df[stock_df['year'].isin([2018])]
stock_df_2018
stock_df_2018 = stock_df_2018.merge (georef_df, on=["municipality_code"])
vacants_housing_per_department = stock_df_2018.groupby("department_name")["nb_vacants_housing"].sum()
vacants_housing_per_department = pd.DataFrame(vacants_housing_per_department)
vacants_housing_per_department

                         nb_vacants_housing
department_name
Ain                                   25849
Aisne                                 26001
Allier                                30479
Alpes-Maritimes                       64643
Alpes-de-Haute-Provence               10768
...                                     ...
Vendée                                21818
Vienne                                23264
Vosges                                24154
Yonne                                 23303
Yvelines                              40834

[100 rows x 1 columns]

In [50]:
stock_df_2018

,municipality_code,year,nb_principal_home,nb_second_home,nb_vacants_housing,nb_tot_housing,secondary_home_rate,principal_home_rate,vacants_housing_rate,city_name,city_name_normalized,municipality_type,latitude,longitude,department_code,epci_code,department_name
0,01066,2018,38,53,0,91,0.582418,0.417582,0.000000,La Burbanche,BURBANCHE,municipality,45.859871,5.546097,01,200040350.0,Ain
1,04090,2018,110,130,0,240,0.541667,0.458333,0.000000,Le Fugeret,FUGERET,municipality,44.014500,6.665607,04,200068625.0,Alpes-de-Haute-Provence
2,04159,2018,41,49,0,90,0.544444,0.455556,0.000000,Redortiers,REDORTIERS,municipality,44.098121,5.614146,04,200071025.0,Alpes-de-Haute-Provence
3,05026,2018,145,629,0,774,0.812661,0.187339,0.000000,Ceillac,CEILLAC,municipality,44.652652,6.803662,05,200067452.0,Hautes-Alpes
4,06063,2018,42,76,0,118,0.644068,0.355932,0.000000,Gars,GARS,municipality,43.860523,6.816763,06,200039857.0,Alpes-Maritimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34930,13105,2018,2951,48,202,3201,0.014995,0.921899,0.063105,Sénas,SENAS,municipality,43.744607,5.086879,13,200054807.0,Bouches-du-Rhône
34931,78380,2018,2325,48,205,2578,0.018619,0.901862,0.079519,Maule,MAULE,municipality,48.907855,1.839595,78,200034130.0,Yvelines
34932,95352,2018,1918,48,212,2178,0.022039,0.880624,0.097337,Luzarches,LUZARCHES,municipality,49.115121,2.440826,95,200073013.0,Val-d'Oise
34933,59279,2018,8137,48,471,8656,0.005545,0.940042,0.054413,Halluin,HALLUIN,municipality,50.774748,3.126925,59,200093201.0,Nord
34934,63231,2018,782,48,235,1065,0.045070,0.734272,0.220657,La Monnerie-le-Montel,MONNERIE LE MONTEL,municipality,45.873266,3.611617,63,200070712.0,Puy-de-Dôme

In [89]:
# 2.3 taxe d'habitation sur les maisons secondaires par département

TAX_FILENAME = 'taxe_habitation.xlsx'

tax_df = pd.read_excel(os.path.join(DATA_PATH, TAX_FILENAME))
tax_df.head()
tax_df = tax_df.rename(columns={'RÉGIONS': 'department_name'})
tax_df

,department_name,Taxe d'habitation moyenne en 2023,Nombre d'avis d'impôt
0,Ain,847,23 000
1,Aisne,732,14 000
2,Allier,801,18 000
3,Alpes-de-Haute-Provence,551,35 000
4,Hautes-Alpes,567,52 000
...,...,...,...
96,Guadeloupe,1080,26 000
97,Martinique,986,18 000
98,Guyane,766,9 000
99,La Réunion,1182,15 000
100,Mayotte,1652,6 000

##### 3. SECONDARY HOME

In [63]:
# 3.1 Superficie moyenne des logements vendus par départements

# Joindre les informations de géolocalisation pour obtenir les départements
real_estate_sales_dep = sales_df.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer la surface moyenne des logements vendus par département
average_surface_municipality = real_estate_sales_dep.groupby('department_name')['surface'].mean().reset_index()

average_surface_municipality

            department_name    surface
0                       Ain  95.491503
1                     Aisne  91.956053
2                    Allier  85.308972
3           Alpes-Maritimes  66.283678
4   Alpes-de-Haute-Provence  73.283742
..                      ...        ...
92                   Vendée  84.926212
93                   Vienne  87.584873
94                   Vosges  88.986998
95                    Yonne  88.105673
96                 Yvelines  87.984134

[97 rows x 2 columns]

In [62]:
# Filtre sur un departement en particulier (exemple paris 75)
print(average_surface_department[average_surface_department['department_code'] == '75'])

NameError: name 'average_surface_department' is not defined

In [178]:
# 3.2 Évolution du % des maisons secondaires par département

# Filtrer les données pour les années 2008 et 2018
housing_2008 = stock_df[stock_df['year'] == 2008]
housing_2018 = stock_df[stock_df['year'] == 2018]

# Renommer les colonnes pour les années spécifiques
housing_2008 = housing_2008[['municipality_code', 'nb_second_home']].rename(columns={'nb_second_home': 'nb_second_home_2008'})
housing_2018 = housing_2018[['municipality_code', 'nb_second_home']].rename(columns={'nb_second_home': 'nb_second_home_2018'})

# Joindre les données pour les années 2008 et 2018 sur le code de municipalité
secondary_home_rate_comparison = housing_2008.merge(housing_2018, on='municipality_code')

# Joindre les informations de géolocalisation pour obtenir les départements
secondary_home_rate_comparison = secondary_home_rate_comparison.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer l'évolution moyenne du pourcentage de maisons secondaires par département
secondary_home_rate_evolution_department = secondary_home_rate_comparison.groupby(['department_name'])[['nb_second_home_2008', "nb_second_home_2018"]].agg({'nb_second_home_2008': "sum", "nb_second_home_2018": "sum"})
secondary_home_rate_evolution_department["evolution_secondary_homes"]=((secondary_home_rate_evolution_department["nb_second_home_2018"]-secondary_home_rate_evolution_department["nb_second_home_2008"])/secondary_home_rate_evolution_department["nb_second_home_2008"])*100
secondary_home_rate_evolution_department.head(50)

,nb_second_home_2008,nb_second_home_2018,evolution_secondary_homes
department_name,,,
Ain,16960,17574,3.620283
Aisne,10185,9393,-7.776141
Allier,14797,15032,1.588160
Alpes-Maritimes,166798,195108,16.972626
Alpes-de-Haute-Provence,38403,40199,4.676718
Ardennes,5070,5003,-1.321499
Ardèche,35985,36779,2.206475
Ariège,25341,27107,6.968944
Aube,6930,7825,12.914863
Aude,61952,67047,8.224109
Aveyron,29746,31631,6.336986
Bas-Rhin,11505,17658,53.481095
Bouches-du-Rhône,32194,47167,46.508666
Calvados,69649,75350,8.185329
Cantal,19745,20721,4.943024
Charente,11135,12680,13.875168
Charente-Maritime,94719,96695,2.086171
Cher,14172,13435,-5.200395
Corrèze,21917,23361,6.588493
Corse-du-Sud,36604,47914,30.898262
Creuse,17753,17542,-1.188532
Côte-d'Or,14850,16221,9.232323
Côtes-d'Armor,53258,59833,12.345563
Deux-Sèvres,9089,9279,2.090439
Dordogne,34627,37399,8.005314
Doubs,11929,12251,2.699304
Drôme,19817,22143,11.737397
Essonne,6830,9243,35.329429
Eure,19023,18679,-1.808337
Eure-et-Loir,13671,12944,-5.317826
Finistère,67122,74563,11.085784
Gard,48537,55869,15.106002
Gers,9467,10629,12.274216
Gironde,64564,77505,20.043678
Guadeloupe,11976,21634,80.644623
Guyane,1566,2367,51.149425
Haut-Rhin,8897,12466,40.114645
Haute-Corse,36538,46961,28.526466
Haute-Garonne,22201,32000,44.137651
Haute-Loire,25091,23156,-7.711929
Haute-Marne,7477,7588,1.484553
Haute-Savoie,106777,124089,16.213229
Haute-Saône,8365,7903,-5.523013
Haute-Vienne,15788,17202,8.956169
Hautes-Alpes,56250,62183,10.547556
Hautes-Pyrénées,32566,37900,16.379046
Hauts-de-Seine,18712,29878,59.672937
Hérault,127728,133254,4.326381
Ille-et-Vilaine,31862,39089,22.682192
Indre,14154,14687,3.765720

In [169]:
secondary_home_rate_comparison

,municipality_code,nb_second_home_2008,nb_second_home_2018,department_code,department_name,secondary_home_rate_evolution
0,02550,110,330,02,Aisne,220
1,06134,275,236,06,Alpes-Maritimes,-39
2,07029,152,142,07,Ardèche,-10
3,07213,94,86,07,Ardèche,-8
4,07215,94,102,07,Ardèche,8
...,...,...,...,...,...,...
34930,33162,48,56,33,Gironde,8
34931,53084,48,42,53,Mayenne,-6
34932,38034,48,39,38,Isère,-9
34933,76462,48,33,76,Seine-Maritime,-15
34934,78350,48,154,78,Yvelines,106

##### 4. LIFE QUALITY

In [65]:
# 4.1 Professionnels de santé pour 100 000 habitants par départements en 2023
DATA_PATH = '../data/cleaned'
HEALTH_FILENAME = 'health_df_cleaned.csv'

health_df = pd.read_csv(os.path.join(DATA_PATH, HEALTH_FILENAME))
health_df.head()

,department_code,department_name,ensemble des médecins,ensemble des médecins.1,dont généralistes,dont spécialistes,chirurg. dentistes,pharm.
0,01,Ain,1 162,174,99,75,53,78
1,02,Aisne,1 107,211,99,111,45,91
2,03,Allier,917,275,134,141,51,111
3,04,Alpes-de-Haute-Provence,483,291,165,125,54,103
4,05,Hautes-Alpes,705,503,291,213,72,135

In [ ]:
# 4.2 Taux de criminalité pour 1000 habitants par départements en 2020

CRIMINALITY_FILENAME = 'criminality_df_cleaned.csv'

criminality_df = pd.read_csv(os.path.join(DATA_PATH, CRIMINALITY_FILENAME))
criminality_df.head()

In [66]:
# 4.3 Nombre de jours de soleil par an par départements

SUNNY_FILENAME = 'sunny_df_cleaned.csv'

sunny_df = pd.read_csv(os.path.join(DATA_PATH, SUNNY_FILENAME))
sunny_df.head()
sunny_df.sort_values(by="sunny_days_per_year")

            department_name  sunny_days_per_year
89           Hauts-de-Seine                  107
29                     Gers                  111
56                     Nord                  125
90        Seine-Saint-Denis                  126
91             Val-de-Marne                  126
..                      ...                  ...
27                     Gard                  238
3   Alpes de Haute Provence                  241
81                 Vaucluse                  241
80                      Var                  245
5           Alpes-Maritimes                  253

[93 rows x 2 columns]

# SCORING

##### 1. TOURISM

In [216]:
department_merged_df["ranking_hosting"]= department_merged_df["importance_x"]
department_merged_df["ranking_touristic_sites"]= department_merged_df["importance_y"]
calculation_tourism_scoring = department_merged_df.drop (columns=["importance_x", "importance_y"])
calculation_tourism_scoring

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                            11.423180                34.061847
Aisne                           4.937153                15.687868
Allier                          8.386644                21.401418
Alpes-Maritimes                32.802552                32.967630
Alpes-de-Haute-Provence        11.293578                14.722338
...                                  ...                      ...
Vendée                         27.816510                32.287377
Vienne                          8.205227                21.203995
Vosges                         12.007083                14.973759
Yonne                           7.211247                16.595920
Yvelines                        7.509032                25.578985

[96 rows x 2 columns]

##### 2. REAL ESTATE

In [95]:
#fusion des différents dataframes pour réaliser le scoring
real_estate_scoring_merge_1 = yield_calculation.merge(sales_df_per_year, on="department_name")
real_estate_scoring_merge_2 = real_estate_scoring_merge_1.merge(vacants_housing_per_department, on="department_name")
real_estate_scoring_merge_2

,average_price_per_m2,average_rental,yield_rate,sales_amount,surface,average_price_m2,price_m2_growth,nb_vacants_housing
department_name,,,,,,,,
Ain,2635.784095,13.183580,6.002122,2.802408e+09,990520.0,2829.229384,0.072189,25849
Aisne,1561.099105,9.919550,7.625051,8.480408e+08,523582.0,1619.690449,0.033483,26001
Allier,1577.489243,10.015825,7.619063,6.105036e+08,372329.0,1639.688435,0.029527,30479
Alpes-Maritimes,4821.653974,17.530595,4.362966,1.050612e+10,2027161.0,5182.678071,0.078167,64643
Alpes-de-Haute-Provence,2281.499046,11.304575,5.945867,5.404214e+08,227226.0,2378.343326,0.029776,10768
...,...,...,...,...,...,...,...,...
Vendée,2401.896369,10.549698,5.270684,3.281171e+09,1290262.0,2543.026785,0.091690,21818
Vienne,1752.067837,9.783623,6.700852,1.002048e+09,549295.0,1824.243054,0.066504,23264
Vosges,1713.030737,9.622087,6.740395,7.157524e+08,405495.0,1765.132472,0.039378,24154
Yonne,1607.734995,9.907284,7.394714,7.649412e+08,464540.0,1646.663833,0.041092,23303
Yvelines,4228.393261,18.236001,5.175299,8.529910e+09,1921048.0,4440.237636,0.069662,40834

In [96]:
#fusion du dernier dataframe
real_estate_scoring_merge_3 = real_estate_scoring_merge_2.merge(tax_df, on="department_name")
real_estate_scoring_merge_3
real_estate_scoring_merge_3 = real_estate_scoring_merge_3.drop(columns=["average_price_per_m2","sales_amount","surface","average_price_m2","average_rental","Nombre d'avis d'impôt"
])
real_estate_scoring_merge_3

,department_name,yield_rate,price_m2_growth,nb_vacants_housing,Taxe d'habitation moyenne en 2023
0,Ain,6.002122,0.072189,25849,847
1,Aisne,7.625051,0.033483,26001,732
2,Allier,7.619063,0.029527,30479,801
3,Alpes-Maritimes,4.362966,0.078167,64643,1686
4,Alpes-de-Haute-Provence,5.945867,0.029776,10768,551
...,...,...,...,...,...
88,Vendée,5.270684,0.091690,21818,759
89,Vienne,6.700852,0.066504,23264,746
90,Vosges,6.740395,0.039378,24154,611
91,Yonne,7.394714,0.041092,23303,682
92,Yvelines,5.175299,0.069662,40834,1443

In [97]:
#éléments pour le calcul du scoring immo
calculation_real_estate_scoring = real_estate_scoring_merge_3
calculation_real_estate_scoring.head(50)
calculation_real_estate_scoring["Taxe d'habitation moyenne en 2023"].astype(float)

0      847.0
1      732.0
2      801.0
3     1686.0
4      551.0
       ...
88     759.0
89     746.0
90     611.0
91     682.0
92    1443.0
Name: Taxe d'habitation moyenne en 2023, Length: 93, dtype: float64

In [98]:
calculation_real_estate_scoring.tail(50)
calculation_real_estate_scoring

,department_name,yield_rate,price_m2_growth,nb_vacants_housing,Taxe d'habitation moyenne en 2023
0,Ain,6.002122,0.072189,25849,847
1,Aisne,7.625051,0.033483,26001,732
2,Allier,7.619063,0.029527,30479,801
3,Alpes-Maritimes,4.362966,0.078167,64643,1686
4,Alpes-de-Haute-Provence,5.945867,0.029776,10768,551
...,...,...,...,...,...
88,Vendée,5.270684,0.091690,21818,759
89,Vienne,6.700852,0.066504,23264,746
90,Vosges,6.740395,0.039378,24154,611
91,Yonne,7.394714,0.041092,23303,682
92,Yvelines,5.175299,0.069662,40834,1443

##### 3. SECONDARY HOME

In [184]:
#fusion des différents dataframes pour réaliser le scoring
calculation_secondary_home_scoring = average_surface_municipality.merge(secondary_home_rate_evolution_department, on="department_name")
calculation_secondary_home_scoring.tail(50)
calculation_secondary_home_scoring = calculation_secondary_home_scoring.drop(columns=["nb_second_home_2008", "nb_second_home_2018"])

##### 4. LIFE QUALITY

# **NORMALIZATION**

##### 1. TOURISM

In [218]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler
scaler = MinMaxScaler()

#scaling pour calculer le scoring
calculation_tourism_scoring_numeric = calculation_tourism_scoring.select_dtypes(include="number")
df_scaled_tourism = scaler.fit_transform(calculation_tourism_scoring_numeric)
df_scaled_tourism = pd.DataFrame(df_scaled_tourism, columns=calculation_tourism_scoring_numeric.columns, index=calculation_tourism_scoring.index)
df_scaled_tourism.head(50)

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                             0.142733                 0.627787
Aisne                           0.048254                 0.257672
Allier                          0.098501                 0.372763
Alpes-Maritimes                 0.454155                 0.605746
Alpes-de-Haute-Provence         0.140845                 0.238223
Ardennes                        0.027919                 0.092048
Ardèche                         0.437353                 0.368949
Ariège                          0.106684                 0.145510
Aube                            0.056686                 0.093658
Aude                            0.190056                 0.336015
Aveyron                         0.215974                 0.323633
Bas-Rhin                        0.281073                 0.557921
Bouches-du-Rhône                0.333106                 0.889788
Calvados                        0.237764                 0.648229
Cantal                          0.123563                 0.151952
Charente                        0.047107                 0.204413
Charente-Maritime               0.364121                 0.496041
Cher                            0.056607                 0.220820
Corrèze                         0.085669                 0.149247
Corse-du-Sud                    0.202389                 0.172210
Creuse                          0.046409                 0.166516
Côte-d'Or                       0.155469                 0.797157
Côtes-d'Armor                   0.268879                 0.617207
Deux-Sèvres                     0.069387                 0.213534
Dordogne                        0.267780                 0.471015
Doubs                           0.117324                 0.296657
Drôme                           0.230153                 0.279617
Essonne                         0.081157                 0.374383
Eure                            0.062613                 0.213115
Eure-et-Loir                    0.032735                 0.177033
Finistère                       0.403015                 0.882066
Gard                            0.277412                 0.368591
Gers                            0.047014                 0.229912
Gironde                         0.336826                 1.000000
Haut-Rhin                       0.226555                 0.408084
Haute-Corse                     0.199961                 0.148703
Haute-Garonne                   0.192960                 0.489369
Haute-Loire                     0.116400                 0.229172
Haute-Marne                     0.029805                 0.091051
Haute-Savoie                    0.488471                 0.656546
Haute-Saône                     0.033077                 0.165906
Haute-Vienne                    0.057586                 0.204746
Hautes-Alpes                    0.215419                 0.377170
Hautes-Pyrénées                 0.316410                 0.336004
Hauts-de-Seine                  0.154569                 0.146887
Hérault                         0.468596                 0.651871
Ille-et-Vilaine                 0.258433                 0.567464
Indre                           0.058635                 0.292174
Indre-et-Loire                  0.193509                 0.495583
Isère                           0.338815                 0.832625

##### 2. REAL ESTATE

In [109]:
#scaling pour calculer le scoring
calculation_real_estate_scoring_numeric = calculation_real_estate_scoring.select_dtypes(include="number")
scaler = MinMaxScaler()
df_scaled_real_estate = scaler.fit_transform(calculation_real_estate_scoring_numeric)
df_scaled_real_estate = pd.DataFrame(df_scaled_real_estate, index=real_estate_scoring_merge_2.index, columns=calculation_real_estate_scoring_numeric.columns)
df_scaled_real_estate

,yield_rate,price_m2_growth,nb_vacants_housing,Taxe d'habitation moyenne en 2023
department_name,,,,
Ain,0.633355,0.551218,0.197095,0.213806
Aisne,0.991120,0.297747,0.198424,0.158677
Allier,0.989800,0.271845,0.237583,0.191755
Alpes-Maritimes,0.272014,0.590368,0.536334,0.616012
Alpes-de-Haute-Provence,0.620955,0.273472,0.065217,0.071908
...,...,...,...,...
Vendée,0.472114,0.678925,0.161845,0.171620
Vienne,0.787386,0.513990,0.174490,0.165388
Vosges,0.796103,0.336356,0.182273,0.100671
Yonne,0.940344,0.347576,0.174831,0.134708
Yvelines,0.451088,0.534674,0.328133,0.499521

In [112]:
#cleaning des différents KPI
df_scaled_real_estate['yield_rate'] = round(df_scaled_real_estate['yield_rate'], 2)
df_scaled_real_estate['price_m2_growth'] = round(df_scaled_real_estate['price_m2_growth'], 2)
df_scaled_real_estate['nb_vacants_housing'] = round(df_scaled_real_estate['nb_vacants_housing'], 2)
df_scaled_real_estate["Taxe d'habitation moyenne en 2023"] = round(1 - df_scaled_real_estate["Taxe d'habitation moyenne en 2023"], 2)
df_scaled_real_estate

,yield_rate,price_m2_growth,nb_vacants_housing,Taxe d'habitation moyenne en 2023
department_name,,,,
Ain,0.63,0.55,0.20,0.21
Aisne,0.99,0.30,0.20,0.16
Allier,0.99,0.27,0.24,0.19
Alpes-Maritimes,0.27,0.59,0.54,0.62
Alpes-de-Haute-Provence,0.62,0.27,0.07,0.07
...,...,...,...,...
Vendée,0.47,0.68,0.16,0.17
Vienne,0.79,0.51,0.17,0.17
Vosges,0.80,0.34,0.18,0.10
Yonne,0.94,0.35,0.17,0.13
Yvelines,0.45,0.53,0.33,0.50

In [78]:
calculation_real_estate_scoring.tail(50)

,yield_rate,price_m2_growth,nb_vacants_housing,Taxe d'habitation moyenne en 2023
department_name,,,,
Hérault,5.334787,0.067913,53371,998
Ille-et-Vilaine,5.500305,0.088263,37096,909
Indre,7.204237,0.047201,18514,552
Indre-et-Loire,5.952506,0.054554,28098,818
Isère,6.016491,0.076904,50307,904
Jura,7.049789,0.048344,14794,634
Landes,5.059902,0.112565,17224,823
Loir-et-Cher,6.923747,0.057640,20023,753
Loire,6.506399,0.038213,41323,793
Loire-Atlantique,4.964178,0.088958,41992,1 130
Loiret,6.871118,0.052273,31766,851
Lot,6.284014,0.073291,12831,623
Lot-et-Garonne,6.678828,0.036073,21418,813
Lozère,6.284652,0.064272,6400,401
Maine-et-Loire,6.035557,0.096707,27096,819
Manche,5.912904,0.044308,24979,590
Marne,6.242497,0.053126,26582,856
Mayenne,6.223096,0.031006,14376,645
Meurthe-et-Moselle,6.964755,0.061241,35146,941
Meuse,7.268148,0.028986,12067,537
Morbihan,5.362265,0.095441,34102,831
Nièvre,7.489203,0.018779,19503,672
Nord,6.277419,0.054069,93670,1 088
Oise,6.799226,0.064037,26770,933
Orne,6.750657,0.040356,18601,655
Paris,3.129031,0.013568,117666,2 487
Pas-de-Calais,6.396101,0.054477,54681,1 057
Puy-de-Dôme,6.345400,0.030066,40367,717
Pyrénées-Atlantiques,4.680644,0.140719,33331,1 308
Pyrénées-Orientales,5.831964,0.033847,28796,815
Rhône,4.942797,0.069132,67990,1 299
Sarthe,6.585891,0.039522,26957,832
Savoie,4.354784,0.088925,21058,729
Saône-et-Loire,6.894705,0.059646,32070,721
Seine-Maritime,6.409953,0.047393,51874,793
Seine-Saint-Denis,5.551510,0.048535,40145,1 589
Seine-et-Marne,6.168182,0.047835,41980,983
Somme,6.484822,0.022715,25315,774
Tarn,6.395665,0.050269,19510,626
Tarn-et-Garonne,6.556230,0.056893,13109,704
Territoire de Belfort,7.665331,0.019534,7138,895
Val-d'Oise,6.093607,0.061608,30190,1 225
Val-de-Marne,4.837820,0.049078,36222,1 536
Var,4.176473,0.052051,44308,1 277
Vaucluse,4.948848,0.077170,30830,1 157
Vendée,5.270684,0.091690,21818,759
Vienne,6.700852,0.066504,23264,746
Vosges,6.740395,0.039378,24154,611
Yonne,7.394714,0.041092,23303,682
Yvelines,5.175299,0.069662,40834,1 443

##### 3. SECONDARY HOME

In [185]:
#scaling pour calculer le scoring
calculation_secondary_home_scoring_numeric = calculation_secondary_home_scoring.select_dtypes(include="number")
df_scaled_secondary_home = scaler.fit_transform(calculation_secondary_home_scoring_numeric)
df_scaled_secondary_home = pd.DataFrame(df_scaled_secondary_home, columns=calculation_secondary_home_scoring_numeric.columns, index=calculation_secondary_home_scoring["department_name"])
df_scaled_secondary_home.head(50)

                          surface  evolution_secondary_homes
department_name
Ain                      0.849569                   0.138950
Aisne                    0.777615                   0.014529
Allier                   0.642331                   0.116764
Alpes-Maritimes          0.255123                   0.284725
Alpes-de-Haute-Provence  0.397590                   0.150484
Ardennes                 0.776964                   0.084998
Ardèche                  0.679231                   0.123515
Ariège                   0.619610                   0.175509
Aube                     0.626639                   0.240424
Aude                     0.489839                   0.189213
Aveyron                  0.576190                   0.168610
Bouches-du-Rhône         0.412058                   0.607186
Calvados                 0.551886                   0.188789
Cantal                   0.583309                   0.153391
Charente                 0.887193                   0.250908
Charente-Maritime        0.695753                   0.122201
Cher                     0.674423                   0.042650
Corrèze                  0.640615                   0.171356
Corse-du-Sud             0.511204                   0.436759
Creuse                   0.624883                   0.086450
Côte-d'Or                0.549711                   0.200220
Côtes-d'Armor            0.741311                   0.234209
Deux-Sèvres              0.848846                   0.122248
Dordogne                 0.888057                   0.186824
Doubs                    0.623231                   0.128895
Drôme                    0.745457                   0.227569
Essonne                  0.554045                   0.485136
Eure                     0.816246                   0.079683
Eure-et-Loir             0.772957                   0.041368
Finistère                0.676165                   0.220455
Gard                     0.605349                   0.264346
Gers                     1.000000                   0.233430
Gironde                  0.645956                   0.318253
Guadeloupe               0.466676                   0.979867
Guyane                   0.501557                   0.657852
Haute-Corse              0.341501                   0.410865
Haute-Garonne            0.530525                   0.581300
Haute-Loire              0.701632                   0.015230
Haute-Marne              0.765778                   0.115633
Haute-Savoie             0.457270                   0.276434
Haute-Saône              0.843822                   0.039128
Haute-Vienne             0.620667                   0.197205
Hautes-Alpes             0.208375                   0.214579
Hautes-Pyrénées          0.500828                   0.278245
Hauts-de-Seine           0.268502                   0.750908
Hérault                  0.362786                   0.146659
Ille-et-Vilaine          0.634992                   0.347059
Indre                    0.684404                   0.140538
Indre-et-Loire           0.665608                   0.298852
Isère                    0.547250                   0.191073

In [189]:
#cleaning des différents KPI
df_scaled_secondary_home['surface'] = round(df_scaled_secondary_home['surface'], 2)
df_scaled_secondary_home['evolution_secondary_homes'] = round(df_scaled_secondary_home['evolution_secondary_homes'], 2)
df_scaled_secondary_home

                         surface  evolution_secondary_homes
department_name
Ain                         0.85                       0.14
Aisne                       0.78                       0.01
Allier                      0.64                       0.12
Alpes-Maritimes             0.26                       0.28
Alpes-de-Haute-Provence     0.40                       0.15
...                          ...                        ...
Vendée                      0.63                       0.08
Vienne                      0.69                       0.27
Vosges                      0.72                       0.24
Yonne                       0.70                       0.00
Yvelines                    0.70                       0.57

[97 rows x 2 columns]

##### 4. LIFE QUALITY

In [123]:
calculation_secondary_home_scoring_numeric

      surface  secondary_home_rate_evolution
0   95.491503                      -8.064238
1   91.956053                      -8.667438
2   85.308972                      -5.866098
3   66.283678                      -1.166718
4   73.283742                       3.350143
..        ...                            ...
92  84.926212                      -0.937029
93  87.584873                       2.714484
94  88.986998                       1.137999
95  88.105673                     -13.456559
96  87.984134                      35.075063

[97 rows x 2 columns]