# ⚙️ **CLEANED DATA IMPORT**

In [ ]:
import pandas as pd
import numpy as np
import os

DATA_PATH = '../data/cleaned'

POI_FILENAME = 'poi_df_cleaned.csv'
SITE_FILENAME = 'site_df_cleaned.csv'
SALARY_FILENAME = 'salary_df_cleaned.csv'
GEOREF_FILENAME = 'georef_df_cleaned.csv'
STOCK_FILENAME = 'stock_df_cleaned.csv'
SALES_FILENAME = 'sales_df_cleaned.csv'
POPULATION_FILENAME = 'population_df_cleaned.csv'
POVERTY_FILENAME = 'poverty_df_cleaned.csv'
REAL_ESTATE_FILENAME = 'real_estate_df_cleaned.csv'

poi_df = pd.read_csv(os.path.join(DATA_PATH, POI_FILENAME))
site_df = pd.read_csv(os.path.join(DATA_PATH, SITE_FILENAME))
salary_df = pd.read_csv(os.path.join(DATA_PATH, SALARY_FILENAME))
georef_df = pd.read_csv(os.path.join(DATA_PATH, GEOREF_FILENAME))
stock_df = pd.read_csv(os.path.join(DATA_PATH, STOCK_FILENAME))
sales_df = pd.read_csv(os.path.join(DATA_PATH, SALES_FILENAME))
population_df = pd.read_csv(os.path.join(DATA_PATH, POPULATION_FILENAME))
poverty_df = pd.read_csv(os.path.join(DATA_PATH, POVERTY_FILENAME))
real_estate_df = pd.read_csv(os.path.join(DATA_PATH, REAL_ESTATE_FILENAME))

In [ ]:
# DF CLEANED CHECK
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
print (stock_df.info())
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

In [ ]:
#test
stock_df_test = stock_df.merge(georef_df, on="municipality_code")
stock_df_test = stock_df_test.groupby(["year", "department_name"])["nb_second_home"].sum().reset_index()
filtered_df = stock_df_test[stock_df_test["department_name"] == "Guyane"]
filtered_df

### CLEANING

##### DF_SALES CLEANING

In [ ]:


# SALES_DF: Suppression des doublons > nous passons de 4,3M de lignes à 3,821M
sales_df = sales_df.drop_duplicates()
sales_df.shape

In [ ]:
# SALES_DF: Check si les doublons on été enlevés : OK
sales_df.duplicated().sum()

In [ ]:
# SALES_DF: Suppression des prix au m2 supérieur à 30K€ et inférieur à 1K€ > nous passons à 3,3399M de lignes
sales_df = sales_df[(sales_df['sales_price_m2'] <= 30000) & (sales_df['sales_price_m2'] >= 500)]
sales_df.shape

In [ ]:
# SALES_DF:
s2 = (sales_df['sales_amount']
             .value_counts()
             .loc[sales_df['sales_amount'].value_counts() > 10])

In [ ]:
# SALES_DF:
sales_df = sales_df[sales_df['sales_amount'] > 1] # on enlève les 166 fois ou sales_amount = 1€
sales_df.shape

In [255]:
# SALES_DF: changement du type sales_date en datetime
sales_df['sales_date'] = pd.to_datetime(sales_df['sales_date'])
sales_df["municipality_code"].nunique()

32743

##### DF_SALARY CLEANING

In [ ]:
# DF_SALARY: ROUND avg_net_salary
salary_df['avg_net_salary'] = salary_df['avg_net_salary'].round()
salary_df.head()

##### DF_REAL_ESTATE CLEANING

In [ ]:
# DF_REAL_ESTATE: suppression des nulls
real_estate_df = real_estate_df.dropna(axis=1)
real_estate_df.isnull().sum()

##### DF_SITE CLEANING

In [ ]:
# SITE_DF: tri avec les données entre parenthèses de la colonne "name" inclues

import re

site_df['data_inside_parenthesis'] = site_df['name'].apply(lambda x: re.search(r'\((.*?)\)', x).group(1) if re.search(r'\((.*?)\)', x) else '')
site_df

#suppression de la colonne "name" dans un second temps

site_df.drop(columns=["name"])

#check pour savoir les informations présentes dans la colonne "poi", et si elles correspondent aux valeurs présentes dans la colonne "type"
print (site_df["poi"].value_counts())
print (site_df["data_inside_parenthesis"].value_counts().head(50))

#faire un mapping des colonnes poi, qui sont en fait plus pertinentes que celles de la colonne "type"

In [ ]:
# SITE_DF: création d'un dictionnaire intégrant toutes les différentes valeurs inclues dans la colonne "poi"
s = site_df["poi"].value_counts()[site_df["poi"]]
{k: "toto" for k in s.index}

In [ ]:
# SITE_DF: création d'un dictionnaire avec les catégories associées aux valeurs de la colonne POI

category_dict = {'1': 'Patrimoine',
 '2': 'Patrimoine',
 'zoo': 'Entertainment',
 'dune': 'Nature',
 'park': 'Nature',
 'rock': 'Nature',
 'sand': 'Nature',
 'beach': 'Nature',
 'cliff': 'Nature',
 'islet': 'Nature',
 'ridge': 'Nature',
 'water': 'Nature',
 'wreck': 'Patrimoine',
 'casino': 'Entertainment',
 'castle': 'Patrimoine',
 'cinema': 'Culture',
 'forest': 'Nature',
 'geyser': 'Nature',
 'marina': 'Nature',
 'meadow': 'Nature',
 'museum': 'Culture',
 'valley': 'Nature',
 'theatre': 'Culture',
 'volcano': 'Nature',
 'wetland': 'Nature',
 'heritage': 'Patrimoine',
 'monument': 'Patrimoine',
 'vineyard': 'Nature',
 'viewpoint': 'Nature',
 'waterfall': 'Nature',
 'allotments': 'Patrimoine',
 'attraction': 'Entertainment',
 'theme_park': 'Entertainment',
 'water_park': 'Entertainment',
 'golf_course': 'Entertainment',
 'cave_entrance': 'Culture',
 'national_park': 'Nature',
 'protected_area': 'Nature'}

In [ ]:
# SITE_DF: création de la colonne "catégorie"
site_df["Category"] = site_df["poi"].map(category_dict)
site_df

In [ ]:
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
stock_df.info() 
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

In [ ]:
poi_df.head(1)

In [ ]:
site_df.head(1)

In [ ]:
salary_df.head(1)

In [ ]:
georef_df.head(1)

In [ ]:
stock_df.head(1)

In [ ]:
sales_df.head(1)

In [ ]:
population_df.head(1)

In [ ]:
poverty_df.head(1)

In [ ]:
real_estate_df.head(1)

# 🧪 **DATA TRANSFORMATION**

### KPIS AGGREGATION BY DEPARTMENT

##### 1. TOURISM

In [ ]:
#création de tables permettant de scorer le potentiel touristique de chaque département
site_df = site_df.merge (georef_df, on=["municipality_code"])
site_df.head(5)

In [ ]:
#sélection des colonnes dont on aura besoin pour le calcul
site_df_department = site_df[["poi", "name", "municipality_code", "importance", "name_reprocessed", "department_name"]]
site_df_department

In [ ]:
#groupement par département, puis classement par le département ayant le + d'atouts touristiques
group_site = site_df_department.groupby("department_name")[["importance"]].sum()
group_site
group_site.sort_values("importance", ascending =False)

In [ ]:
#même calcul que précédemment, mais pour la partie concernant les logements/lieux de villégiature
poi_df = poi_df.merge (georef_df, on=["municipality_code"])
poi_df.head(5)

In [ ]:
#sélection des colonnes dont on aura besoin pour le calcul
poi_df_department = poi_df[["poi", "municipality_code", "importance", "department_name"]]
poi_df_department

In [ ]:
#groupement par département, puis classement par le département ayant le + de logements/lieux de villégiature
group_poi = poi_df_department.groupby("department_name")[["importance"]].sum()
group_poi
group_poi.sort_values("importance", ascending =False)

In [ ]:
#ajout des 2 calculs d'importance
department_merged_df = group_poi.merge (group_site, on=["department_name"])
#department_merged_df["somme_importance"]=department_merged_df["importance_x"]+department_merged_df["importance_y"]
#department_merged_df = department_merged_df.drop(columns=["importance_x", "importance_y"])
#department_merged_df
#department_merged_df.sort_values("somme_importance", ascending =False)
department_merged_df

##### 2. REAL ESTATE

In [ ]:
# 2.1 calcul du loyer au m2 médian par municipality_code
rental_med = real_estate_df [["municipality_code", "rental_med_all"]]
rental_med

In [ ]:
sales_df

In [ ]:
#calcul du prix d'achat au m2 médian par municipality_code
sales_df
sales_df_grouped = sales_df.groupby(["municipality_code"])[["sales_amount", "surface", "premise_type"]].agg({"sales_amount": "sum", "surface": "sum", "premise_type": "count"})
sales_df_grouped = pd.DataFrame (sales_df_grouped)
sales_df_grouped

In [ ]:
#jointure pour rajouter dans cette table le loyer médian par municipality_code
sales_df
real_estate_grouped = sales_df_grouped.merge(rental_med, on="municipality_code")
real_estate_grouped

In [ ]:
#ajout du nom du département correspondant à chaque municipality code
real_estate_department = real_estate_grouped.merge(georef_df, on="municipality_code")
real_estate_department
real_estate_department = real_estate_department [["municipality_code", "sales_amount", "surface", "rental_med_all", "department_name", "premise_type"]]

In [250]:
real_estate_department

,municipality_code,sales_amount,surface,rental_med_all,department_name,premise_type,intermediate_sum
0,01001,1.362286e+07,6781.0,10.66,Ain,60,639.60
1,01002,4.067389e+06,1901.0,10.16,Ain,17,172.72
2,01004,1.852356e+08,87209.0,11.25,Ain,1062,11947.50
3,01005,3.579244e+07,13876.0,13.28,Ain,138,1832.64
4,01006,2.575955e+06,1425.0,12.70,Ain,13,165.10
...,...,...,...,...,...,...,...
31892,95676,5.974304e+06,2486.0,12.29,Val-d'Oise,23,282.67
31893,95678,1.222182e+07,3568.0,18.53,Val-d'Oise,38,704.14
31894,95680,8.569815e+07,32626.0,16.22,Val-d'Oise,471,7639.62
31895,95682,1.463606e+06,533.0,16.57,Val-d'Oise,5,82.85
31896,95690,2.728320e+06,951.0,13.46,Val-d'Oise,10,134.60

In [251]:
#calcul du prix au m2 par département
average_price_per_m2 = real_estate_department.groupby(["department_name"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
average_price_per_m2
average_price_per_m2["average_price_per_m2"] = average_price_per_m2["sales_amount"]/average_price_per_m2["surface"]
average_price_per_m2.sort_values("average_price_per_m2")

                 sales_amount    surface  average_price_per_m2
department_name
Creuse           3.494798e+08   250929.0           1392.743706
Indre            9.313114e+08   643735.0           1446.731035
Nièvre           9.686520e+08   663808.0           1459.235257
Haute-Marne      6.485911e+08   444240.0           1460.001467
Meuse            8.157466e+08   550437.0           1481.998032
...                       ...        ...                   ...
Corse-du-Sud     3.267670e+09   739291.0           4420.005565
Alpes-Maritimes  3.837944e+10  7959808.0           4821.653974
Val-de-Marne     1.529389e+10  2931831.0           5216.497456
Hauts-de-Seine   2.665847e+10  3573916.0           7459.175300
Paris            4.890308e+10  4277671.0          11432.173601

[93 rows x 3 columns]

In [ ]:
#calcul du loyer médian par départment
real_estate_department["intermediate_sum"]=real_estate_department["rental_med_all"]*real_estate_department["premise_type"]
real_estate_department
average_rental = real_estate_department.groupby(["department_name"])[["intermediate_sum", "premise_type"]].agg({"intermediate_sum": "sum", "premise_type": "sum"})
average_rental
average_rental["average_rental"]= average_rental["intermediate_sum"]/average_rental["premise_type"]
average_rental

In [ ]:
#regroupement des colonnes avec le loyer moyen au m2 par département et le prix d'achat au m2 moyen par département
yield_calculation = average_price_per_m2.merge(average_rental, on="department_name")
yield_calculation
yield_calculation = yield_calculation.drop(columns=["sales_amount", "surface", "intermediate_sum", "premise_type"])
yield_calculation["yield_rate"]=yield_calculation["average_rental"]*12/yield_calculation["average_price_per_m2"]*100
yield_calculation.sort_values("yield_rate", ascending=True)

In [249]:
#Informations sur la rentabilité locative
yield_calculation

                         average_price_per_m2  average_rental  yield_rate
department_name
Ain                               2635.784095       13.183580    6.002122
Aisne                             1561.099105        9.919550    7.625051
Allier                            1577.489243       10.015825    7.619063
Alpes-Maritimes                   4821.653974       17.530595    4.362966
Alpes-de-Haute-Provence           2281.499046       11.304575    5.945867
...                                       ...             ...         ...
Vendée                            2401.896369       10.549698    5.270684
Vienne                            1752.067837        9.783623    6.700852
Vosges                            1713.030737        9.622087    6.740395
Yonne                             1607.734995        9.907284    7.394714
Yvelines                          4228.393261       18.236001    5.175299

[93 rows x 3 columns]

In [ ]:
# 2.2 calcul de la variation entre 2018 et 2021

#ajout d'une colonne "year"
sales_df.info()
sales_df["year"]=sales_df["sales_date"].dt.year

In [ ]:
#merge pour rajouter le département
sales_info_per_department = sales_df.merge (georef_df, on=["municipality_code"])
sales_info_per_department

In [ ]:
#filtre uniquement sur les années 2020 et 2021 (car ce sont les seules années où nous avons toutes les informations)
sales_info_per_department = sales_info_per_department[sales_info_per_department['year'].isin([2020, 2021])]
sales_info_per_department

In [ ]:
#groupement par année et par département
sales_df_per_year = sales_info_per_department.groupby(["department_name", "year"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
sales_df_per_year

In [ ]:
#calcul du prix moyen au m2
sales_df_per_year["average_price_m2"]=sales_df_per_year["sales_amount"]/sales_df_per_year["surface"]
sales_df_per_year
sales_df_per_year.head(50)

In [ ]:
#calcul de l'évolution entre 2018 et 2021
sales_df_per_year['price_m2_growth'] = sales_df_per_year.groupby('department_name')['average_price_m2'].pct_change()
sales_df_per_year

In [248]:
#calcul final de l'évolution
sales_df_per_year = sales_df_per_year.dropna()
sales_df_per_year.drop (columns=["sales_amount", "surface"])
sales_df_per_year.sort_values ("price_m2_growth", ascending=False)

,,sales_amount,surface,average_price_m2,price_m2_growth
department_name,year,,,,
Pyrénées-Atlantiques,2021,3.821283e+09,1068164.0,3577.430704,0.140719
Landes,2021,2.409002e+09,818313.0,2943.864249,0.112565
Corse-du-Sud,2021,9.380425e+08,193855.0,4838.887261,0.106444
Finistère,2021,3.056316e+09,1421428.0,2150.172909,0.099954
Maine-et-Loire,2021,2.644990e+09,1162430.0,2275.396966,0.096707
...,...,...,...,...,...
Haute-Marne,2021,1.928814e+08,129888.0,1484.982081,0.009958
Haute-Saône,2021,3.172671e+08,202655.0,1565.552673,0.008060
Cantal,2021,2.238980e+08,138821.0,1612.854279,-0.011984
La Réunion,2021,1.260015e+09,384936.0,3273.309935,-0.024756
Guyane,2021,2.741256e+08,79880.0,3431.717944,-0.123935

In [247]:
#calcul du nb de maisons vacantes en 2019
stock_df_2018 = stock_df[stock_df['year'].isin([2018])]
stock_df_2018
stock_df_2018 = stock_df_2018.merge (georef_df, on=["municipality_code"])
vacants_housing_per_department = stock_df_2018.groupby("department_name")["nb_vacants_housing"].sum()
vacants_housing_per_department = pd.DataFrame(vacants_housing_per_department)
vacants_housing_per_department

                         nb_vacants_housing
department_name
Ain                                   25849
Aisne                                 26001
Allier                                30479
Alpes-Maritimes                       64643
Alpes-de-Haute-Provence               10768
...                                     ...
Vendée                                21818
Vienne                                23264
Vosges                                24154
Yonne                                 23303
Yvelines                              40834

[100 rows x 1 columns]

In [ ]:
stock_df_2018

In [ ]:
# 2.3 taxe d'habitation sur les maisons secondaires par département

TAX_FILENAME = 'taxe_habitation.xlsx'

tax_df = pd.read_excel(os.path.join(DATA_PATH, TAX_FILENAME))
tax_df.head()
tax_df = tax_df.rename(columns={'RÉGIONS': 'department_name'})
tax_df

##### 3. SECONDARY HOME

In [148]:
# 3.1 Superficie moyenne des logements vendus par départements

# Joindre les informations de géolocalisation pour obtenir les départements
real_estate_sales_dep = sales_df.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer la surface moyenne des logements vendus par département
average_surface_municipality = real_estate_sales_dep.groupby('department_name')['surface'].mean().reset_index()

average_surface_municipality

            department_name    surface
0                       Ain  95.491503
1                     Aisne  91.956053
2                    Allier  85.308972
3           Alpes-Maritimes  66.283678
4   Alpes-de-Haute-Provence  73.283742
..                      ...        ...
92                   Vendée  84.926212
93                   Vienne  87.584873
94                   Vosges  88.986998
95                    Yonne  88.105673
96                 Yvelines  87.984134

[97 rows x 2 columns]

In [149]:
# 3.2 Évolution du % des maisons secondaires par département

# Filtrer les données pour les années 2008 et 2018
housing_2008 = stock_df[stock_df['year'] == 2008]
housing_2018 = stock_df[stock_df['year'] == 2018]

# Renommer les colonnes pour les années spécifiques
housing_2008 = housing_2008[['municipality_code', 'nb_second_home']].rename(columns={'nb_second_home': 'nb_second_home_2008'})
housing_2018 = housing_2018[['municipality_code', 'nb_second_home']].rename(columns={'nb_second_home': 'nb_second_home_2018'})

# Joindre les données pour les années 2008 et 2018 sur le code de municipalité
secondary_home_rate_comparison = housing_2008.merge(housing_2018, on='municipality_code')

# Joindre les informations de géolocalisation pour obtenir les départements
secondary_home_rate_comparison = secondary_home_rate_comparison.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer l'évolution moyenne du pourcentage de maisons secondaires par département
secondary_home_rate_evolution_department = secondary_home_rate_comparison.groupby(['department_name'])[['nb_second_home_2008', "nb_second_home_2018"]].agg({'nb_second_home_2008': "sum", "nb_second_home_2018": "sum"})
secondary_home_rate_evolution_department["evolution_secondary_homes"]=((secondary_home_rate_evolution_department["nb_second_home_2018"]-secondary_home_rate_evolution_department["nb_second_home_2008"])/secondary_home_rate_evolution_department["nb_second_home_2008"])*100
secondary_home_rate_evolution_department.head(50)

,nb_second_home_2008,nb_second_home_2018,evolution_secondary_homes
department_name,,,
Ain,16960,17574,3.620283
Aisne,10185,9393,-7.776141
Allier,14797,15032,1.588160
Alpes-Maritimes,166798,195108,16.972626
Alpes-de-Haute-Provence,38403,40199,4.676718
Ardennes,5070,5003,-1.321499
Ardèche,35985,36779,2.206475
Ariège,25341,27107,6.968944
Aube,6930,7825,12.914863
Aude,61952,67047,8.224109
Aveyron,29746,31631,6.336986
Bas-Rhin,11505,17658,53.481095
Bouches-du-Rhône,32194,47167,46.508666
Calvados,69649,75350,8.185329
Cantal,19745,20721,4.943024
Charente,11135,12680,13.875168
Charente-Maritime,94719,96695,2.086171
Cher,14172,13435,-5.200395
Corrèze,21917,23361,6.588493
Corse-du-Sud,36604,47914,30.898262
Creuse,17753,17542,-1.188532
Côte-d'Or,14850,16221,9.232323
Côtes-d'Armor,53258,59833,12.345563
Deux-Sèvres,9089,9279,2.090439
Dordogne,34627,37399,8.005314
Doubs,11929,12251,2.699304
Drôme,19817,22143,11.737397
Essonne,6830,9243,35.329429
Eure,19023,18679,-1.808337
Eure-et-Loir,13671,12944,-5.317826
Finistère,67122,74563,11.085784
Gard,48537,55869,15.106002
Gers,9467,10629,12.274216
Gironde,64564,77505,20.043678
Guadeloupe,11976,21634,80.644623
Guyane,1566,2367,51.149425
Haut-Rhin,8897,12466,40.114645
Haute-Corse,36538,46961,28.526466
Haute-Garonne,22201,32000,44.137651
Haute-Loire,25091,23156,-7.711929
Haute-Marne,7477,7588,1.484553
Haute-Savoie,106777,124089,16.213229
Haute-Saône,8365,7903,-5.523013
Haute-Vienne,15788,17202,8.956169
Hautes-Alpes,56250,62183,10.547556
Hautes-Pyrénées,32566,37900,16.379046
Hauts-de-Seine,18712,29878,59.672937
Hérault,127728,133254,4.326381
Ille-et-Vilaine,31862,39089,22.682192
Indre,14154,14687,3.765720

In [150]:
# 3.3 taxe d'habitation sur les maisons secondaires par département

TAX_FILENAME = 'taxe_habitation.xlsx'

tax_df = pd.read_excel(os.path.join(DATA_PATH, TAX_FILENAME))
tax_df.head()
tax_df = tax_df.rename(columns={'RÉGIONS': 'department_name'})
tax_df

,department_name,Taxe d'habitation moyenne en 2023,Nombre d'avis d'impôt
0,Ain,847,23 000
1,Aisne,732,14 000
2,Allier,801,18 000
3,Alpes-de-Haute-Provence,551,35 000
4,Hautes-Alpes,567,52 000
...,...,...,...
96,Guadeloupe,1080,26 000
97,Martinique,986,18 000
98,Guyane,766,9 000
99,La Réunion,1182,15 000
100,Mayotte,1652,6 000

##### 4. LIFE QUALITY

In [ ]:
# 4.1 Professionnels de santé pour 100 000 habitants par départements en 2023
DATA_PATH = '../data/cleaned'
HEALTH_FILENAME = 'health_df_cleaned.csv'

health_df = pd.read_csv(os.path.join(DATA_PATH, HEALTH_FILENAME))
health_df.head(50)

In [ ]:
# 4.2 Taux de criminalité pour 1000 habitants par départements en 2020

CRIMINALITY_FILENAME = 'criminality_df_cleaned.csv'

criminality_df = pd.read_csv(os.path.join(DATA_PATH, CRIMINALITY_FILENAME))

# Convertir criminality_per_1000 en type numérique (si nécessaire)
criminality_df['criminality_per_1000'] = pd.to_numeric(criminality_df['criminality_per_1000'].str.replace(',', '.'))

# Agréger georef_df par département_name pour obtenir une seule ligne par département
georef_aggregated = georef_df.groupby('department_name').first().reset_index()

# Effectuer une fusion (merge) pour ajouter department_code à criminality_aggregated en utilisant department_name comme clé
criminality_aggregated = criminality_df.groupby('department_name')['criminality_per_1000'].mean().reset_index()
criminality_per_department = criminality_aggregated.merge(georef_aggregated[['department_name', 'department_code']], on='department_name')

# Afficher les premières lignes du dataframe mis à jour
criminality_per_department.tail(50)

In [ ]:
# 4.3 Nombre de jours de soleil par an par départements

SUNNY_FILENAME = 'heures_ensoleillement.xlsx'

sunny_df = pd.read_excel(os.path.join(DATA_PATH, SUNNY_FILENAME))
sunny_df.head()
sunny_df = sunny_df.rename(columns={'Départements Français et Dom Tom': 'department_name'})
sunny_df
sunny_df_per_department = sunny_df.drop (columns=["Num dép", "Classement"])
sunny_df_per_department.tail(50)

# SCORING

##### 1. TOURISM

In [133]:
department_merged_df["ranking_hosting"]= department_merged_df["importance_x"]
department_merged_df["ranking_touristic_sites"]= department_merged_df["importance_y"]
calculation_tourism_scoring = department_merged_df.drop (columns=["importance_x", "importance_y"])
calculation_tourism_scoring

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                            11.423180                34.061847
Aisne                           4.937153                15.687868
Allier                          8.386644                21.401418
Alpes-Maritimes                32.802552                32.967630
Alpes-de-Haute-Provence        11.293578                14.722338
...                                  ...                      ...
Vendée                         27.816510                32.287377
Vienne                          8.205227                21.203995
Vosges                         12.007083                14.973759
Yonne                           7.211247                16.595920
Yvelines                        7.509032                25.578985

[96 rows x 2 columns]

##### 2. REAL ESTATE

In [233]:
#fusion des différents dataframes pour réaliser le scoring
real_estate_scoring_merge_1 = yield_calculation.merge(sales_df_per_year, on="department_name")
real_estate_scoring_merge_2 = real_estate_scoring_merge_1.merge(vacants_housing_per_department, on="department_name")
real_estate_scoring_merge_2

,average_price_per_m2,average_rental,yield_rate,sales_amount,surface,average_price_m2,price_m2_growth,nb_vacants_housing
department_name,,,,,,,,
Ain,2635.784095,13.183580,6.002122,2.802408e+09,990520.0,2829.229384,0.072189,25849
Aisne,1561.099105,9.919550,7.625051,8.480408e+08,523582.0,1619.690449,0.033483,26001
Allier,1577.489243,10.015825,7.619063,6.105036e+08,372329.0,1639.688435,0.029527,30479
Alpes-Maritimes,4821.653974,17.530595,4.362966,1.050612e+10,2027161.0,5182.678071,0.078167,64643
Alpes-de-Haute-Provence,2281.499046,11.304575,5.945867,5.404214e+08,227226.0,2378.343326,0.029776,10768
...,...,...,...,...,...,...,...,...
Vendée,2401.896369,10.549698,5.270684,3.281171e+09,1290262.0,2543.026785,0.091690,21818
Vienne,1752.067837,9.783623,6.700852,1.002048e+09,549295.0,1824.243054,0.066504,23264
Vosges,1713.030737,9.622087,6.740395,7.157524e+08,405495.0,1765.132472,0.039378,24154
Yonne,1607.734995,9.907284,7.394714,7.649412e+08,464540.0,1646.663833,0.041092,23303
Yvelines,4228.393261,18.236001,5.175299,8.529910e+09,1921048.0,4440.237636,0.069662,40834

In [234]:
#fusion du dernier dataframe
real_estate_scoring_merge_3 = real_estate_scoring_merge_2.merge(tax_df, on="department_name")
real_estate_scoring_merge_3
real_estate_scoring_merge_3 = real_estate_scoring_merge_3.drop(columns=["average_price_per_m2","sales_amount","surface","average_price_m2","average_rental","Nombre d'avis d'impôt"
])
real_estate_scoring_merge_3

,department_name,yield_rate,price_m2_growth,nb_vacants_housing,Taxe d'habitation moyenne en 2023
0,Ain,6.002122,0.072189,25849,847
1,Aisne,7.625051,0.033483,26001,732
2,Allier,7.619063,0.029527,30479,801
3,Alpes-Maritimes,4.362966,0.078167,64643,1686
4,Alpes-de-Haute-Provence,5.945867,0.029776,10768,551
...,...,...,...,...,...
88,Vendée,5.270684,0.091690,21818,759
89,Vienne,6.700852,0.066504,23264,746
90,Vosges,6.740395,0.039378,24154,611
91,Yonne,7.394714,0.041092,23303,682
92,Yvelines,5.175299,0.069662,40834,1443

In [257]:
#éléments pour le calcul du scoring immo
calculation_real_estate_scoring = real_estate_scoring_merge_3
calculation_real_estate_scoring.head(50)
calculation_real_estate_scoring["Taxe d'habitation moyenne en 2023"].astype(float)

0      847.0
1      732.0
2      801.0
3     1686.0
4      551.0
       ...
88     759.0
89     746.0
90     611.0
91     682.0
92    1443.0
Name: Taxe d'habitation moyenne en 2023, Length: 93, dtype: float64

In [258]:
calculation_real_estate_scoring.tail(50)
calculation_real_estate_scoring = calculation_real_estate_scoring.drop(columns="Taxe d'habitation moyenne en 2023")
calculation_real_estate_scoring

            department_name  yield_rate  price_m2_growth  nb_vacants_housing
0                       Ain    6.002122         0.072189               25849
1                     Aisne    7.625051         0.033483               26001
2                    Allier    7.619063         0.029527               30479
3           Alpes-Maritimes    4.362966         0.078167               64643
4   Alpes-de-Haute-Provence    5.945867         0.029776               10768
..                      ...         ...              ...                 ...
88                   Vendée    5.270684         0.091690               21818
89                   Vienne    6.700852         0.066504               23264
90                   Vosges    6.740395         0.039378               24154
91                    Yonne    7.394714         0.041092               23303
92                 Yvelines    5.175299         0.069662               40834

[93 rows x 4 columns]

calculation_real_estate_scoring

In [259]:
calculation_real_estate_scoring

            department_name  yield_rate  price_m2_growth  nb_vacants_housing
0                       Ain    6.002122         0.072189               25849
1                     Aisne    7.625051         0.033483               26001
2                    Allier    7.619063         0.029527               30479
3           Alpes-Maritimes    4.362966         0.078167               64643
4   Alpes-de-Haute-Provence    5.945867         0.029776               10768
..                      ...         ...              ...                 ...
88                   Vendée    5.270684         0.091690               21818
89                   Vienne    6.700852         0.066504               23264
90                   Vosges    6.740395         0.039378               24154
91                    Yonne    7.394714         0.041092               23303
92                 Yvelines    5.175299         0.069662               40834

[93 rows x 4 columns]

##### 3. SECONDARY HOME

In [155]:
#fusion des différents dataframes pour réaliser le scoring
calculation_secondary_home_scoring_merge_1 = average_surface_municipality.merge(secondary_home_rate_evolution_department, on="department_name")
calculation_secondary_home_scoring_merge_2 = calculation_secondary_home_scoring_merge_1.merge(tax_df, on="department_name")
calculation_secondary_home_scoring_merge_2
calculation_secondary_home_scoring=calculation_secondary_home_scoring_merge_2.drop (columns=["nb_second_home_2008", "nb_second_home_2018", "Nombre d'avis d'impôt"])
calculation_secondary_home_scoring

,department_name,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023
0,Ain,95.491503,3.620283,847
1,Aisne,91.956053,-7.776141,732
2,Allier,85.308972,1.588160,801
3,Alpes-Maritimes,66.283678,16.972626,1686
4,Alpes-de-Haute-Provence,73.283742,4.676718,551
...,...,...,...,...
92,Vendée,84.926212,-1.718634,759
93,Vienne,87.584873,15.877164,746
94,Vosges,88.986998,12.625825,611
95,Yonne,88.105673,-9.106951,682
96,Yvelines,87.984134,42.979893,1443

##### 4. LIFE QUALITY

In [ ]:
# MERGE DES 3 DF
life_quality_df = sunny_df_per_department.merge(criminality_per_department, on='department_name', how='inner')
life_quality_df = life_quality_df.merge(health_df, on='department_name', how='outer')

# Remplacer les NaN par des valeurs nulles
life_quality_df = life_quality_df.fillna(0)  # Vous pouvez remplacer 0 par d'autres valeurs par défaut si nécessaire

# Supprimer les colonnes redondantes department_code_x et department_code_y
life_quality_df = life_quality_df.drop(columns=['department_code_x', 'department_code_y', "ensemble des médecins", "dont généralistes", "dont spécialistes", "chirurg. dentistes", "pharm."])

calculation_life_quality_scoring = pd.DataFrame (life_quality_df)
calculation_life_quality_scoring.tail(50)

In [ ]:
#modification des 3 lignes nulles (je n'ai pas compris pourquoi elles l'étaient)
calculation_life_quality_scoring.at[21,"criminality_per_1000"]=36.72
calculation_life_quality_scoring.at[22,"criminality_per_1000"]=30.92
calculation_life_quality_scoring.at[21,"Ensoleillement (heures)"]=1789
calculation_life_quality_scoring.at[22,"Ensoleillement (heures)"]=1512
calculation_life_quality_scoring.at[92,"Ensoleillement (heures)"]=1719
calculation_life_quality_scoring.at[92,"criminality_per_1000"]=43.79

calculation_life_quality_scoring.head(50)

# **SCALING**

##### 1. TOURISM

In [189]:
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler
scaler = MinMaxScaler()

#scaling pour calculer le scoring
calculation_tourism_scoring_numeric = calculation_tourism_scoring.select_dtypes(include="number")
df_scaled_tourism = scaler.fit_transform(calculation_tourism_scoring_numeric)
df_scaled_tourism = pd.DataFrame(df_scaled_tourism, columns=calculation_tourism_scoring_numeric.columns, index=calculation_tourism_scoring.index)
df_scaled_tourism.head(50)

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                             0.142733                 0.627787
Aisne                           0.048254                 0.257672
Allier                          0.098501                 0.372763
Alpes-Maritimes                 0.454155                 0.605746
Alpes-de-Haute-Provence         0.140845                 0.238223
Ardennes                        0.027919                 0.092048
Ardèche                         0.437353                 0.368949
Ariège                          0.106684                 0.145510
Aube                            0.056686                 0.093658
Aude                            0.190056                 0.336015
Aveyron                         0.215974                 0.323633
Bas-Rhin                        0.281073                 0.557921
Bouches-du-Rhône                0.333106                 0.889788
Calvados                        0.237764                 0.648229
Cantal                          0.123563                 0.151952
Charente                        0.047107                 0.204413
Charente-Maritime               0.364121                 0.496041
Cher                            0.056607                 0.220820
Corrèze                         0.085669                 0.149247
Corse-du-Sud                    0.202389                 0.172210
Creuse                          0.046409                 0.166516
Côte-d'Or                       0.155469                 0.797157
Côtes-d'Armor                   0.268879                 0.617207
Deux-Sèvres                     0.069387                 0.213534
Dordogne                        0.267780                 0.471015
Doubs                           0.117324                 0.296657
Drôme                           0.230153                 0.279617
Essonne                         0.081157                 0.374383
Eure                            0.062613                 0.213115
Eure-et-Loir                    0.032735                 0.177033
Finistère                       0.403015                 0.882066
Gard                            0.277412                 0.368591
Gers                            0.047014                 0.229912
Gironde                         0.336826                 1.000000
Haut-Rhin                       0.226555                 0.408084
Haute-Corse                     0.199961                 0.148703
Haute-Garonne                   0.192960                 0.489369
Haute-Loire                     0.116400                 0.229172
Haute-Marne                     0.029805                 0.091051
Haute-Savoie                    0.488471                 0.656546
Haute-Saône                     0.033077                 0.165906
Haute-Vienne                    0.057586                 0.204746
Hautes-Alpes                    0.215419                 0.377170
Hautes-Pyrénées                 0.316410                 0.336004
Hauts-de-Seine                  0.154569                 0.146887
Hérault                         0.468596                 0.651871
Ille-et-Vilaine                 0.258433                 0.567464
Indre                           0.058635                 0.292174
Indre-et-Loire                  0.193509                 0.495583
Isère                           0.338815                 0.832625

In [190]:
#cleaning des différents KPI
df_scaled_tourism['ranking_hosting'] = round(df_scaled_tourism['ranking_hosting'], 2)
df_scaled_tourism['ranking_touristic_sites'] = round(df_scaled_tourism['ranking_touristic_sites'], 2)
df_scaled_tourism

                         ranking_hosting  ranking_touristic_sites
department_name
Ain                                 0.14                     0.63
Aisne                               0.05                     0.26
Allier                              0.10                     0.37
Alpes-Maritimes                     0.45                     0.61
Alpes-de-Haute-Provence             0.14                     0.24
...                                  ...                      ...
Vendée                              0.38                     0.59
Vienne                              0.10                     0.37
Vosges                              0.15                     0.24
Yonne                               0.08                     0.28
Yvelines                            0.09                     0.46

[96 rows x 2 columns]

##### 2. REAL ESTATE

In [191]:
#scaling pour calculer le scoring
calculation_real_estate_scoring_numeric = calculation_real_estate_scoring.select_dtypes(include="number")
scaler = MinMaxScaler()
df_scaled_real_estate = scaler.fit_transform(calculation_real_estate_scoring_numeric)
df_scaled_real_estate = pd.DataFrame(df_scaled_real_estate, index=real_estate_scoring_merge_2.index, columns=calculation_real_estate_scoring_numeric.columns)
df_scaled_real_estate

C:\Users\eliot\anaconda3\envs\prello\Lib\site-packages\sklearn\utils\_array_api.py:696: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmin(X, axis=axis))
C:\Users\eliot\anaconda3\envs\prello\Lib\site-packages\sklearn\utils\_array_api.py:713: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))

,yield_rate,price_m2_growth,nb_vacants_housing,Rentability_score,Growth_score,Vacancy_score
department_name,,,,,,
Ain,0.633355,0.551218,0.197095,NaN,NaN,NaN
Aisne,0.991120,0.297747,0.198424,NaN,NaN,NaN
Allier,0.989800,0.271845,0.237583,NaN,NaN,NaN
Alpes-Maritimes,0.272014,0.590368,0.536334,NaN,NaN,NaN
Alpes-de-Haute-Provence,0.620955,0.273472,0.065217,NaN,NaN,NaN
...,...,...,...,...,...,...
Vendée,0.472114,0.678925,0.161845,NaN,NaN,NaN
Vienne,0.787386,0.513990,0.174490,NaN,NaN,NaN
Vosges,0.796103,0.336356,0.182273,NaN,NaN,NaN
Yonne,0.940344,0.347576,0.174831,NaN,NaN,NaN
Yvelines,0.451088,0.534674,0.328133,NaN,NaN,NaN

In [192]:
#cleaning des différents KPI
df_scaled_real_estate['yield_rate'] = round(df_scaled_real_estate['yield_rate'], 2)
df_scaled_real_estate['price_m2_growth'] = round(df_scaled_real_estate['price_m2_growth'], 2)
df_scaled_real_estate['nb_vacants_housing'] = round(df_scaled_real_estate['nb_vacants_housing'], 2)
df_scaled_real_estate

,yield_rate,price_m2_growth,nb_vacants_housing,Rentability_score,Growth_score,Vacancy_score
department_name,,,,,,
Ain,0.63,0.55,0.20,NaN,NaN,NaN
Aisne,0.99,0.30,0.20,NaN,NaN,NaN
Allier,0.99,0.27,0.24,NaN,NaN,NaN
Alpes-Maritimes,0.27,0.59,0.54,NaN,NaN,NaN
Alpes-de-Haute-Provence,0.62,0.27,0.07,NaN,NaN,NaN
...,...,...,...,...,...,...
Vendée,0.47,0.68,0.16,NaN,NaN,NaN
Vienne,0.79,0.51,0.17,NaN,NaN,NaN
Vosges,0.80,0.34,0.18,NaN,NaN,NaN
Yonne,0.94,0.35,0.17,NaN,NaN,NaN
Yvelines,0.45,0.53,0.33,NaN,NaN,NaN

In [193]:
calculation_real_estate_scoring.tail(50)

,department_name,yield_rate,price_m2_growth,nb_vacants_housing,Rentability_score,Growth_score,Vacancy_score
43,Hérault,5.334787,0.067913,53371,NaN,NaN,NaN
44,Ille-et-Vilaine,5.500305,0.088263,37096,NaN,NaN,NaN
45,Indre,7.204237,0.047201,18514,NaN,NaN,NaN
46,Indre-et-Loire,5.952506,0.054554,28098,NaN,NaN,NaN
47,Isère,6.016491,0.076904,50307,NaN,NaN,NaN
48,Jura,7.049789,0.048344,14794,NaN,NaN,NaN
49,Landes,5.059902,0.112565,17224,NaN,NaN,NaN
50,Loir-et-Cher,6.923747,0.057640,20023,NaN,NaN,NaN
51,Loire,6.506399,0.038213,41323,NaN,NaN,NaN
52,Loire-Atlantique,4.964178,0.088958,41992,NaN,NaN,NaN
53,Loiret,6.871118,0.052273,31766,NaN,NaN,NaN
54,Lot,6.284014,0.073291,12831,NaN,NaN,NaN
55,Lot-et-Garonne,6.678828,0.036073,21418,NaN,NaN,NaN
56,Lozère,6.284652,0.064272,6400,NaN,NaN,NaN
57,Maine-et-Loire,6.035557,0.096707,27096,NaN,NaN,NaN
58,Manche,5.912904,0.044308,24979,NaN,NaN,NaN
59,Marne,6.242497,0.053126,26582,NaN,NaN,NaN
60,Mayenne,6.223096,0.031006,14376,NaN,NaN,NaN
61,Meurthe-et-Moselle,6.964755,0.061241,35146,NaN,NaN,NaN
62,Meuse,7.268148,0.028986,12067,NaN,NaN,NaN
63,Morbihan,5.362265,0.095441,34102,NaN,NaN,NaN
64,Nièvre,7.489203,0.018779,19503,NaN,NaN,NaN
65,Nord,6.277419,0.054069,93670,NaN,NaN,NaN
66,Oise,6.799226,0.064037,26770,NaN,NaN,NaN
67,Orne,6.750657,0.040356,18601,NaN,NaN,NaN
68,Paris,3.129031,0.013568,117666,NaN,NaN,NaN
69,Pas-de-Calais,6.396101,0.054477,54681,NaN,NaN,NaN
70,Puy-de-Dôme,6.345400,0.030066,40367,NaN,NaN,NaN
71,Pyrénées-Atlantiques,4.680644,0.140719,33331,NaN,NaN,NaN
72,Pyrénées-Orientales,5.831964,0.033847,28796,NaN,NaN,NaN
73,Rhône,4.942797,0.069132,67990,NaN,NaN,NaN
74,Sarthe,6.585891,0.039522,26957,NaN,NaN,NaN
75,Savoie,4.354784,0.088925,21058,NaN,NaN,NaN
76,Saône-et-Loire,6.894705,0.059646,32070,NaN,NaN,NaN
77,Seine-Maritime,6.409953,0.047393,51874,NaN,NaN,NaN
78,Seine-Saint-Denis,5.551510,0.048535,40145,NaN,NaN,NaN
79,Seine-et-Marne,6.168182,0.047835,41980,NaN,NaN,NaN
80,Somme,6.484822,0.022715,25315,NaN,NaN,NaN
81,Tarn,6.395665,0.050269,19510,NaN,NaN,NaN
82,Tarn-et-Garonne,6.556230,0.056893,13109,NaN,NaN,NaN
83,Territoire de Belfort,7.665331,0.019534,7138,NaN,NaN,NaN
84,Val-d'Oise,6.093607,0.061608,30190,NaN,NaN,NaN
85,Val-de-Marne,4.837820,0.049078,36222,NaN,NaN,NaN
86,Var,4.176473,0.052051,44308,NaN,NaN,NaN
87,Vaucluse,4.948848,0.077170,30830,NaN,NaN,NaN
88,Vendée,5.270684,0.091690,21818,NaN,NaN,NaN
89,Vienne,6.700852,0.066504,23264,NaN,NaN,NaN
90,Vosges,6.740395,0.039378,24154,NaN,NaN,NaN
91,Yonne,7.394714,0.041092,23303,NaN,NaN,NaN
92,Yvelines,5.175299,0.069662,40834,NaN,NaN,NaN

##### 3. SECONDARY HOME

In [194]:
#scaling pour calculer le scoring
calculation_secondary_home_scoring_numeric = calculation_secondary_home_scoring.select_dtypes(include="number")
df_scaled_secondary_home = scaler.fit_transform(calculation_secondary_home_scoring_numeric)
df_scaled_secondary_home = pd.DataFrame(df_scaled_secondary_home, columns=calculation_secondary_home_scoring_numeric.columns, index=calculation_secondary_home_scoring["department_name"])
df_scaled_secondary_home.head(50)

,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023
department_name,,,
Ain,0.849569,0.138950,0.213806
Aisne,0.777615,0.014529,0.158677
Allier,0.642331,0.116764,0.191755
Alpes-Maritimes,0.255123,0.284725,0.616012
Alpes-de-Haute-Provence,0.397590,0.150484,0.071908
Ardennes,0.776964,0.084998,0.084372
Ardèche,0.679231,0.123515,0.054650
Ariège,0.619610,0.175509,0.053212
Aube,0.626639,0.240424,0.139981
Aude,0.489839,0.189213,0.088207
Aveyron,0.576190,0.168610,0.036913
Bouches-du-Rhône,0.412058,0.607186,0.512464
Calvados,0.551886,0.188789,0.119367
Cantal,0.583309,0.153391,0.088686
Charente,0.887193,0.250908,0.120805
Charente-Maritime,0.695753,0.122201,0.174497
Cher,0.674423,0.042650,0.156759
Corrèze,0.640615,0.171356,0.053212
Corse-du-Sud,0.511204,0.436759,0.397411
Creuse,0.624883,0.086450,0.049856
Côte-d'Or,0.549711,0.200220,0.160115
Côtes-d'Armor,0.741311,0.234209,0.210451
Deux-Sèvres,0.848846,0.122248,0.202301
Dordogne,0.888057,0.186824,0.118408
Doubs,0.623231,0.128895,0.170662
Drôme,0.745457,0.227569,0.186961
Essonne,0.554045,0.485136,0.466443
Eure,0.816246,0.079683,0.130872
Eure-et-Loir,0.772957,0.041368,0.177852
Finistère,0.676165,0.220455,0.284756
Gard,0.605349,0.264346,0.200384
Gers,1.000000,0.233430,0.198466
Gironde,0.645956,0.318253,0.359060
Guadeloupe,0.466676,0.979867,0.325503
Guyane,0.501557,0.657852,0.174976
Haute-Corse,0.341501,0.410865,0.181208
Haute-Garonne,0.530525,0.581300,0.329818
Haute-Loire,0.701632,0.015230,0.063758
Haute-Marne,0.765778,0.115633,0.040748
Haute-Savoie,0.457270,0.276434,0.322627
Haute-Saône,0.843822,0.039128,0.028284
Haute-Vienne,0.620667,0.197205,0.172579
Hautes-Alpes,0.208375,0.214579,0.079578
Hautes-Pyrénées,0.500828,0.278245,0.127517
Hauts-de-Seine,0.268502,0.750908,0.571908
Hérault,0.362786,0.146659,0.286194
Ille-et-Vilaine,0.634992,0.347059,0.243528
Indre,0.684404,0.140538,0.072387
Indre-et-Loire,0.665608,0.298852,0.199904
Isère,0.547250,0.191073,0.241131

In [195]:
#cleaning des différents KPI
df_scaled_secondary_home['surface'] = round(df_scaled_secondary_home['surface'], 2)
df_scaled_secondary_home['evolution_secondary_homes'] = round(df_scaled_secondary_home['evolution_secondary_homes'], 2)
df_scaled_secondary_home["Taxe d'habitation moyenne en 2023"] = round(1 - df_scaled_secondary_home["Taxe d'habitation moyenne en 2023"], 2)
df_scaled_secondary_home

,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023
department_name,,,
Ain,0.85,0.14,0.79
Aisne,0.78,0.01,0.84
Allier,0.64,0.12,0.81
Alpes-Maritimes,0.26,0.28,0.38
Alpes-de-Haute-Provence,0.40,0.15,0.93
...,...,...,...
Vendée,0.63,0.08,0.83
Vienne,0.69,0.27,0.83
Vosges,0.72,0.24,0.90
Yonne,0.70,0.00,0.87
Yvelines,0.70,0.57,0.50

##### 4. LIFE QUALITY

In [196]:
#scaling pour calculer le scoring
calculation_life_quality_scoring_numeric = calculation_life_quality_scoring.select_dtypes(include="number")
df_scaled_life_quality = scaler.fit_transform(calculation_life_quality_scoring_numeric)
df_scaled_life_quality = pd.DataFrame(df_scaled_life_quality, columns=calculation_life_quality_scoring_numeric.columns, index=calculation_life_quality_scoring["department_name"])
df_scaled_life_quality.tail(50)

,Ensoleillement (heures),criminality_per_1000,ensemble des médecins.1
department_name,,,
Isère,0.721171,0.524738,0.310388
Jura,0.674402,0.352332,0.196496
La Réunion,0.000000,0.000000,0.344180
Landes,0.661192,0.352535,0.257822
Loir-et-Cher,0.620136,0.311084,0.177722
Loire,0.716530,0.418368,0.320401
Loire-Atlantique,0.603356,0.536320,0.332916
Loiret,0.610496,0.401199,0.177722
Lot,0.733310,0.312913,0.214018
Lot-et-Garonne,0.698679,0.354973,0.201502
Lozère,0.722956,0.293000,0.181477
Maine-et-Loire,0.603356,0.340343,0.326658
Manche,0.521242,0.258864,0.206508
Marne,0.608711,0.454536,0.347935
Martinique,0.000000,0.000000,0.304130
Mayenne,0.581578,0.300620,0.127660
Mayotte,0.000000,0.000000,0.000000
Meurthe-et-Moselle,0.584791,0.395814,0.395494
Meuse,0.598358,0.388093,0.138924
Morbihan,0.619779,0.327136,0.306633
Moselle,0.573010,0.358834,0.219024
Nièvre,0.629775,0.393884,0.165207
Nord,0.577294,0.428528,0.335419
Oise,0.579079,0.425074,0.150188
Orne,0.576580,0.357716,0.182728
Paris,0.581935,1.000000,1.000000
Pas-de-Calais,0.619065,0.406583,0.205257
Puy-de-Dôme,0.677615,0.376918,0.355444
Pyrénées-Atlantiques,0.670118,0.329473,0.425532
Pyrénées-Orientales,0.853981,0.534898,0.310388
Rhône,0.689754,0.628162,0.468085
Sarthe,0.616923,0.385858,0.182728
Savoie,0.698679,0.397338,0.374218
Saône-et-Loire,0.660121,0.316469,0.224030
Seine-Maritime,0.541949,0.442040,0.305382
Seine-Saint-Denis,0.608354,0.790003,0.185232
Seine-et-Marne,0.617994,0.371431,0.133917
Somme,0.579793,0.384436,0.339174
Tarn,0.761871,0.335975,0.247810
Tarn-et-Garonne,0.765084,0.347252,0.200250
Territoire de Belfort,0.615494,0.209387,0.302879
Val-d'Oise,0.613709,0.444885,0.173967
Val-de-Marne,0.633345,0.582952,0.369212
Var,0.997144,0.506045,0.294118
Vaucluse,0.982863,0.460734,0.287860
Vendée,0.626919,0.309966,0.165207
Vienne,0.666548,0.378848,0.329161
Vosges,0.622278,0.346134,0.198999
Yonne,0.627990,0.455654,0.153942
Yvelines,0.594074,0.472214,0.222778

In [197]:
#cleaning des différents KPI
df_scaled_life_quality['Ensoleillement'] = round(df_scaled_life_quality['Ensoleillement (heures)'], 2)
df_scaled_life_quality['Criminality'] = round(1 - df_scaled_life_quality['criminality_per_1000'], 2)
df_scaled_life_quality['Health'] = round(df_scaled_life_quality['ensemble des médecins.1'], 2)

df_scaled_life_quality = df_scaled_life_quality.drop(columns=["Ensoleillement (heures)", "criminality_per_1000", "ensemble des médecins.1"])
df_scaled_life_quality

                         Ensoleillement  Criminality  Health
department_name
Ain                                0.69         0.64    0.11
Aisne                              0.57         0.58    0.15
Allier                             0.66         0.64    0.23
Alpes-Maritimes                    0.95         0.43    0.47
Alpes-de-Haute-Provence            0.93         0.55    0.25
...                                 ...          ...     ...
Vendée                             0.63         0.69    0.17
Vienne                             0.67         0.62    0.33
Vosges                             0.62         0.65    0.20
Yonne                              0.63         0.54    0.15
Yvelines                           0.59         0.53    0.22

[101 rows x 3 columns]

# **NORMALIZATION**

##### 1. TOURISM

In [218]:
tourism_scoring = pd.DataFrame()
tourism_scoring['Hosting_score'] = df_scaled_tourism['ranking_hosting']*10
tourism_scoring['Touristic_sites_score'] = df_scaled_tourism['ranking_touristic_sites']*10
tourism_scoring['Global_tourism_score'] = round((tourism_scoring['Hosting_score'] + tourism_scoring['Touristic_sites_score'])/2,1)
tourism_scoring.sort_values("Global_tourism_score", ascending=False).head()

                  Hosting_score  Touristic_sites_score  Global_tourism_score
department_name
Paris                      10.0                    7.4                   8.7
Gironde                     3.4                   10.0                   6.7
Finistère                   4.0                    8.8                   6.4
Savoie                      5.2                    7.3                   6.2
Bouches-du-Rhône            3.3                    8.9                   6.1

##### 2. REAL ESTATE

In [219]:
real_estate_scoring= pd.DataFrame()
real_estate_scoring['Rentability_score'] = df_scaled_real_estate['yield_rate']*10
real_estate_scoring['Growth_score'] = df_scaled_real_estate['price_m2_growth']*10
real_estate_scoring['Vacancy_score'] = df_scaled_real_estate['nb_vacants_housing']*10
real_estate_scoring['Global_real_estate_score'] = round((real_estate_scoring['Rentability_score'] + real_estate_scoring['Growth_score'] + (real_estate_scoring['Vacancy_score']/2))/2.5,1)
real_estate_scoring.sort_values("Global_real_estate_score", ascending=False).head()

,Rentability_score,Growth_score,Vacancy_score,Global_real_estate_score
department_name,,,,
Finistère,7.1,7.3,3.3,6.4
Nord,6.9,4.3,7.9,6.1
Eure,8.6,5.5,1.9,6.0
Aube,9.8,4.4,1.1,5.9
Meurthe-et-Moselle,8.5,4.8,2.8,5.9

##### 3. SECONDARY HOME

In [220]:
secondary_home_scoring= pd.DataFrame()
secondary_home_scoring['Surface_score'] = df_scaled_secondary_home['surface']*10
secondary_home_scoring['Secondary_home_growth_score'] = df_scaled_secondary_home['evolution_secondary_homes']*10
secondary_home_scoring['Tax_score'] = df_scaled_secondary_home["Taxe d'habitation moyenne en 2023"]*10
secondary_home_scoring['Global_secondary_home_score'] = round(((secondary_home_scoring['Surface_score']/2) + secondary_home_scoring['Secondary_home_growth_score'] + secondary_home_scoring['Tax_score'])/2.5,1)
secondary_home_scoring.sort_values("Global_secondary_home_score", ascending=False).head()

,Surface_score,Secondary_home_growth_score,Tax_score,Global_secondary_home_score
department_name,,,,
Guadeloupe,4.7,9.8,6.7,7.5
La Réunion,4.3,10.0,6.3,7.4
Martinique,4.2,8.4,7.2,7.1
Guyane,5.0,6.6,8.3,7.0
Nord,6.7,6.6,6.7,6.7

##### 4. LIFE QUALITY

In [221]:
life_quality_scoring= pd.DataFrame()
life_quality_scoring['Sun_score'] = df_scaled_life_quality['Ensoleillement']*10
life_quality_scoring['Safety_score'] = df_scaled_life_quality['Criminality']*10
life_quality_scoring['Health_score'] = df_scaled_life_quality["Health"]*10
life_quality_scoring['Global_life_quality_score'] = round(((life_quality_scoring['Sun_score'])/2 + life_quality_scoring['Safety_score'] + life_quality_scoring['Health_score'])/2.5,1)
life_quality_scoring.sort_values("Global_life_quality_score", ascending=False).head()

,Sun_score,Safety_score,Health_score,Global_life_quality_score
department_name,,,,
Hautes-Alpes,8.7,6.3,5.2,6.3
Pyrénées-Atlantiques,6.7,6.7,4.3,5.7
Corse-du-Sud,9.7,6.0,3.3,5.7
Haute-Corse,9.0,6.8,2.6,5.6
Haute-Vienne,6.6,6.9,3.8,5.6

##### 5. GLOBAL SCORE

In [227]:
global_scoring_merge_1 = tourism_scoring.merge(real_estate_scoring, on="department_name")
global_scoring_merge_2 = global_scoring_merge_1.merge(secondary_home_scoring, on="department_name")
global_scoring_merge_3 = global_scoring_merge_2.merge(life_quality_scoring, on="department_name")
global_scoring_merge_3["Global_scoring"]= round((global_scoring_merge_3["Global_tourism_score"]+global_scoring_merge_3["Global_real_estate_score"]+global_scoring_merge_3["Global_secondary_home_score"]+global_scoring_merge_3["Global_life_quality_score"])/4,1)
global_scoring_table=global_scoring_merge_3
global_scoring_table.sort_values("Global_scoring", ascending=False).head(25)

,Hosting_score,Touristic_sites_score,Global_tourism_score,Rentability_score,Growth_score,Vacancy_score,Global_real_estate_score,Surface_score,Secondary_home_growth_score,Tax_score,Global_secondary_home_score,Sun_score,Safety_score,Health_score,Global_life_quality_score,Global_scoring
department_name,,,,,,,,,,,,,,,,
Finistère,4.0,8.8,6.4,7.1,7.3,3.3,6.4,6.8,2.2,7.2,5.1,5.3,6.6,3.5,5.1,5.8
Nord,2.4,6.9,4.6,6.9,4.3,7.9,6.1,6.7,6.6,6.7,6.7,5.8,5.7,3.4,4.8,5.6
Bouches-du-Rhône,3.3,8.9,6.1,4.2,4.6,6.5,4.8,4.1,6.1,4.9,5.2,10.0,3.6,4.6,5.3,5.4
Gironde,3.4,10.0,6.7,3.4,5.7,4.5,4.5,6.5,3.2,6.4,5.1,7.1,4.3,4.4,4.9,5.3
Maine-et-Loire,1.4,6.7,4.0,6.4,7.1,2.1,5.8,7.4,3.1,8.0,5.9,6.0,6.6,3.3,5.2,5.2
Pyrénées-Atlantiques,4.2,5.2,4.7,3.4,10.0,2.6,5.9,6.0,2.9,5.7,4.6,6.7,6.7,4.3,5.7,5.2
Isère,3.4,8.3,5.8,6.4,5.8,4.1,5.7,5.5,1.9,7.6,4.9,7.2,4.8,3.1,4.6,5.2
Morbihan,3.5,7.1,5.3,4.9,7.0,2.7,5.3,7.0,1.6,7.9,5.2,6.2,6.7,3.1,5.2,5.2
Côte-d'Or,1.6,8.0,4.8,6.8,4.4,1.9,4.9,5.5,2.0,8.4,5.3,6.4,6.3,4.1,5.4,5.1
Hérault,4.7,6.5,5.6,4.9,5.2,4.4,4.9,3.6,1.5,7.1,4.2,9.3,4.3,4.4,5.3,5.0
Calvados,2.4,6.5,4.4,5.4,6.2,2.2,5.1,5.5,1.9,8.8,5.4,5.8,6.5,3.7,5.2,5.0
Côtes-d'Armor,2.7,6.2,4.4,6.0,5.8,2.5,5.2,7.4,2.3,7.9,5.6,5.4,6.9,2.2,4.7,5.0
Puy-de-Dôme,2.5,7.5,5.0,7.1,2.8,3.2,4.6,5.3,2.0,8.5,5.3,6.8,6.2,3.6,5.3,5.0
Saône-et-Loire,1.6,6.8,4.2,8.3,4.7,2.5,5.7,7.9,0.9,8.5,5.3,6.6,6.8,2.2,4.9,5.0
Savoie,5.2,7.3,6.2,2.7,6.6,1.6,4.0,2.8,2.0,8.4,4.7,7.0,6.0,3.7,5.3,5.0
Haute-Savoie,4.9,6.6,5.8,3.1,6.6,2.5,4.4,4.6,2.8,6.8,4.8,6.8,6.5,2.9,5.1,5.0
Ille-et-Vilaine,2.6,5.7,4.1,5.2,6.6,3.0,5.3,6.3,3.5,7.6,5.7,5.8,6.3,3.5,5.1,5.0
Dordogne,2.7,4.7,3.7,7.4,4.1,2.1,5.0,8.9,1.9,8.8,6.1,7.0,6.8,1.9,4.9,4.9
Loire-Atlantique,2.6,8.2,5.4,4.0,6.6,3.4,4.9,5.9,2.3,6.5,4.7,6.0,4.6,3.3,4.4,4.8
Paris,10.0,7.4,8.7,0.0,1.7,10.0,2.7,0.0,6.6,0.0,2.6,5.8,0.0,10.0,5.2,4.8
Meurthe-et-Moselle,0.6,3.5,2.0,8.5,4.8,2.8,5.9,6.5,4.8,7.4,6.2,5.8,6.0,4.0,5.2,4.8
Charente-Maritime,3.6,5.0,4.3,4.0,6.6,2.4,4.7,7.0,1.2,8.3,5.2,7.3,5.7,3.0,4.9,4.8
Ardèche,4.4,3.7,4.1,6.3,4.0,1.5,4.4,6.8,1.2,9.5,5.6,8.5,6.5,1.8,5.0,4.8
Vendée,3.8,5.9,4.8,4.7,6.8,1.6,4.9,6.3,0.8,8.3,4.9,6.3,6.9,1.7,4.7,4.8
Seine-Maritime,1.9,5.1,3.5,7.2,3.9,4.2,5.3,6.0,2.9,8.1,5.6,5.4,5.6,3.1,4.6,4.8

In [265]:
#rajout dans le tableau "global score" de toutes les informations sur les départements qui ont permis de calculer le Global Score
global_scoring_info_merge_1 = global_scoring_table.merge(calculation_real_estate_scoring, on="department_name")
global_scoring_info_merge_2 = global_scoring_info_merge_1.merge(calculation_secondary_home_scoring, on="department_name")
global_scoring_info_merge_3 = global_scoring_info_merge_2.merge(calculation_life_quality_scoring, on="department_name")
global_scoring_info_merge_3["Rental_profitability_rate_
global_scoring_info_merge_3
global_scoring_info_merge_3
global_scoring_info_merge_3
global_scoring_info_merge_3

,department_name,Hosting_score,Touristic_sites_score,Global_tourism_score,Rentability_score,Growth_score,Vacancy_score,Global_real_estate_score,Surface_score,Secondary_home_growth_score,...,Global_scoring,yield_rate,price_m2_growth,nb_vacants_housing,surface,evolution_secondary_homes,Taxe d'habitation moyenne en 2023,Ensoleillement (heures),criminality_per_1000,ensemble des médecins.1
0,Ain,1.4,6.3,3.8,6.3,5.5,2.0,5.1,8.5,1.4,...,4.7,6.002122,0.072189,25849,95.491503,3.620283,847,1928.0,35.00,174
1,Aisne,0.5,2.6,1.6,9.9,3.0,2.0,5.6,7.8,0.1,...,4.1,7.625051,0.033483,26001,91.956053,-7.776141,732,1609.0,41.71,211
2,Allier,1.0,3.7,2.4,9.9,2.7,2.4,5.5,6.4,1.2,...,4.4,7.619063,0.029527,30479,85.308972,1.588160,801,1857.0,35.12,275
3,Alpes-Maritimes,4.5,6.1,5.3,2.7,5.9,5.4,4.5,2.6,2.8,...,4.6,4.362966,0.078167,64643,66.283678,16.972626,1686,2668.0,55.66,461
4,Alpes-de-Haute-Provence,1.4,2.4,1.9,6.2,2.7,0.7,3.7,4.0,1.5,...,4.0,5.945867,0.029776,10768,73.283742,4.676718,551,2596.0,44.57,291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Vendée,3.8,5.9,4.8,4.7,6.8,1.6,4.9,6.3,0.8,...,4.8,5.270684,0.091690,21818,84.926212,-1.718634,759,1756.0,30.51,221
89,Vienne,1.0,3.7,2.4,7.9,5.1,1.7,5.5,6.9,2.7,...,4.7,6.700852,0.066504,23264,87.584873,15.877164,746,1867.0,37.29,352
90,Vosges,1.5,2.4,2.0,8.0,3.4,1.8,4.9,7.2,2.4,...,4.4,6.740395,0.039378,24154,88.986998,12.625825,611,1743.0,34.07,248
91,Yonne,0.8,2.8,1.8,9.4,3.5,1.7,5.5,7.0,0.0,...,4.0,7.394714,0.041092,23303,88.105673,-9.106951,682,1759.0,44.85,212
92,Yvelines,0.9,4.6,2.8,4.5,5.3,3.3,4.6,7.0,5.7,...,4.3,5.175299,0.069662,40834,87.984134,42.979893,1443,1664.0,46.48,267