# ⚙️ **CLEANED DATA IMPORT**

In [1]:
import pandas as pd
import numpy as np
import os

DATA_PATH = '../data/cleaned'

POI_FILENAME = 'poi_df_cleaned.csv'
SITE_FILENAME = 'site_df_cleaned.csv'
SALARY_FILENAME = 'salary_df_cleaned.csv'
GEOREF_FILENAME = 'georef_df_cleaned.csv'
STOCK_FILENAME = 'stock_df_cleaned.csv'
SALES_FILENAME = 'sales_df_cleaned.csv'
POPULATION_FILENAME = 'population_df_cleaned.csv'
POVERTY_FILENAME = 'poverty_df_cleaned.csv'
REAL_ESTATE_FILENAME = 'real_estate_df_cleaned.csv'

poi_df = pd.read_csv(os.path.join(DATA_PATH, POI_FILENAME))
site_df = pd.read_csv(os.path.join(DATA_PATH, SITE_FILENAME))
salary_df = pd.read_csv(os.path.join(DATA_PATH, SALARY_FILENAME))
georef_df = pd.read_csv(os.path.join(DATA_PATH, GEOREF_FILENAME))
stock_df = pd.read_csv(os.path.join(DATA_PATH, STOCK_FILENAME))
sales_df = pd.read_csv(os.path.join(DATA_PATH, SALES_FILENAME))
population_df = pd.read_csv(os.path.join(DATA_PATH, POPULATION_FILENAME))
poverty_df = pd.read_csv(os.path.join(DATA_PATH, POVERTY_FILENAME))
real_estate_df = pd.read_csv(os.path.join(DATA_PATH, REAL_ESTATE_FILENAME))

### CLEANING

##### DF_SALES CLEANING

In [2]:
# SALES_DF: Suppression des doublons > nous passons de 4,3M de lignes à 3,821M
sales_df = sales_df.drop_duplicates()
sales_df.shape

(3448398, 13)

In [3]:
# SALES_DF: Check si les doublons on été enlevés : OK
sales_df.duplicated().sum()

np.int64(0)

In [4]:
# SALES_DF: Suppression des prix au m2 supérieur à 30K€ et inférieur à 1K€ > nous passons à 3,3399M de lignes
sales_df = sales_df[(sales_df['sales_price_m2'] <= 30000) & (sales_df['sales_price_m2'] >= 1000)]
sales_df.shape

(3448398, 13)

In [5]:
# SALES_DF:
s2 = (sales_df['sales_amount']
             .value_counts()
             .loc[sales_df['sales_amount'].value_counts() > 10])

In [6]:
# SALES_DF:
sales_df = sales_df[sales_df['sales_amount'] > 1] # on enlève les 166 fois ou sales_amount = 1€
sales_df.shape

(3448398, 13)

In [5]:
# SALES_DF: changement du type sales_date en datetime
sales_df['sales_date'] = pd.to_datetime(sales_df['sales_date'])
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448398 entries, 0 to 3448397
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sales_date                 datetime64[ns]
 1   sales_amount               float64
 2   street_number              float64
 3   street_code                object
 4   street_name                object
 5   nom_commune                object
 6   municipality_code          object
 7   premise_type               object
 8   surface                    float64
 9   number_of_principal_rooms  int64
 10  sales_price_m2             float64
 11  latitude                   float64
 12  longitude                  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 342.0+ MB

##### DF_SALARY CLEANING

In [9]:
# DF_SALARY: ROUND avg_net_salary
salary_df['avg_net_salary'] = salary_df['avg_net_salary'].round()
salary_df.head()

  municipality_code  avg_net_salary  year
0             01004         26471.0  2019
1             01007         26341.0  2019
2             01014         25897.0  2019
3             01024         25695.0  2019
4             01025         26055.0  2019

##### DF_REAL_ESTATE CLEANING

In [15]:
# DF_REAL_ESTATE: suppression des nulls
real_estate_df = real_estate_df.dropna(axis=1)
real_estate_df.isnull().sum()

municipality_code         0
intensite_tension_immo    0
rental_max_apartment      0
rental_min_apartment      0
rental_med_all            0
rental_max_all            0
rental_min_all            0
dtype: int64

##### DF_SITE CLEANING

In [11]:
# SITE_DF: tri avec les données entre parenthèses de la colonne "name" inclues

import re

site_df['data_inside_parenthesis'] = site_df['name'].apply(lambda x: re.search(r'\((.*?)\)', x).group(1) if re.search(r'\((.*?)\)', x) else '')
site_df

#suppression de la colonne "name" dans un second temps

site_df.drop(columns=["name"])

#check pour savoir les informations présentes dans la colonne "poi", et si elles correspondent aux valeurs présentes dans la colonne "type"
print (site_df["poi"].value_counts())
print (site_df["data_inside_parenthesis"].value_counts().head(50))

#faire un mapping des colonnes poi, qui sont en fait plus pertinentes que celles de la colonne "type"

poi
castle            5611
2                 5207
water             4500
museum            3400
theatre           2439
forest            2233
beach             1010
protected_area     927
wetland            784
cinema             667
vineyard           641
golf_course        612
theme_park         358
cliff              337
marina             255
water_park         239
1                  236
zoo                234
valley             223
ridge              213
islet              163
casino             158
volcano            145
park               132
meadow              78
monument            76
sand                35
heritage            32
viewpoint           21
cave_entrance       15
wreck               12
rock                11
waterfall           10
attraction           8
dune                 5
national_park        4
allotments           2
geyser               1
Name: count, dtype: int64
data_inside_parenthesis
                       9899
Monument historique    5090
Eau                    4102
Musée                  1518
Forêt                  1498
Théâtre                1374
Château                1278
Zone protégée           910
Zone humide             759
Vignoble                620
Terrain de golf         608
Cinéma                  463
Parc à thème            355
Falaise                 276
Patrimoine mondial      232
Parc aquatique          231
Port de plaisance       229
Plage                   200
Vallée                  200
Zoo                     191
Îlot                    151
Volcan                  142
Monument                 96
Crête                    93
Bocage                   73
Parc                     61
Sable                    30
ancien                   27
Point de vue             21
Casino                   21
ancienne                 19
Entrée de grotte         15
Épave                    10
Chute d'eau              10
ruines                    9
Attraction                8
A                         7
Roche                     7
B                         6
aire d'adhésion           5
vestiges                  5
cœur                      3
zone centrale             3
privé                     3
Lacanau                   3
1er Cru                   2
herbe                     2
Parc national             2
s                         2
restes                    2
Name: count, dtype: int64

In [12]:
# SITE_DF: création d'un dictionnaire intégrant toutes les différentes valeurs inclues dans la colonne "poi"
s = site_df["poi"].value_counts()[site_df["poi"]]
{k: "toto" for k in s.index}

{'1': 'toto',
 '2': 'toto',
 'zoo': 'toto',
 'dune': 'toto',
 'park': 'toto',
 'rock': 'toto',
 'sand': 'toto',
 'beach': 'toto',
 'cliff': 'toto',
 'islet': 'toto',
 'ridge': 'toto',
 'water': 'toto',
 'wreck': 'toto',
 'casino': 'toto',
 'castle': 'toto',
 'cinema': 'toto',
 'forest': 'toto',
 'geyser': 'toto',
 'marina': 'toto',
 'meadow': 'toto',
 'museum': 'toto',
 'valley': 'toto',
 'theatre': 'toto',
 'volcano': 'toto',
 'wetland': 'toto',
 'heritage': 'toto',
 'monument': 'toto',
 'vineyard': 'toto',
 'viewpoint': 'toto',
 'waterfall': 'toto',
 'allotments': 'toto',
 'attraction': 'toto',
 'theme_park': 'toto',
 'water_park': 'toto',
 'golf_course': 'toto',
 'cave_entrance': 'toto',
 'national_park': 'toto',
 'protected_area': 'toto'}

In [13]:
# SITE_DF: création d'un dictionnaire avec les catégories associées aux valeurs de la colonne POI

category_dict = {'1': 'Patrimoine',
 '2': 'Patrimoine',
 'zoo': 'Entertainment',
 'dune': 'Nature',
 'park': 'Nature',
 'rock': 'Nature',
 'sand': 'Nature',
 'beach': 'Nature',
 'cliff': 'Nature',
 'islet': 'Nature',
 'ridge': 'Nature',
 'water': 'Nature',
 'wreck': 'Patrimoine',
 'casino': 'Entertainment',
 'castle': 'Patrimoine',
 'cinema': 'Culture',
 'forest': 'Nature',
 'geyser': 'Nature',
 'marina': 'Nature',
 'meadow': 'Nature',
 'museum': 'Culture',
 'valley': 'Nature',
 'theatre': 'Culture',
 'volcano': 'Nature',
 'wetland': 'Nature',
 'heritage': 'Patrimoine',
 'monument': 'Patrimoine',
 'vineyard': 'Nature',
 'viewpoint': 'Nature',
 'waterfall': 'Nature',
 'allotments': 'Patrimoine',
 'attraction': 'Entertainment',
 'theme_park': 'Entertainment',
 'water_park': 'Entertainment',
 'golf_course': 'Entertainment',
 'cave_entrance': 'Culture',
 'national_park': 'Nature',
 'protected_area': 'Nature'}

In [13]:
# SITE_DF: création de la colonne "catégorie"
site_df["Category"] = site_df["poi"].map(category_dict)
site_df

,poi,name,latitude,longitude,municipality_code,importance,name_reprocessed,data_inside_parenthesis,Category
0,1,Fortifications de Vauban (Patrimoine mondial),46.396160,1.472600,36134,0.139527,Fortifications de Vauban,Patrimoine mondial,Patrimoine
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,46.313695,1.478772,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Patrimoine mondial,Patrimoine
2,1,Canal du Midi (Patrimoine mondial),43.332709,3.219890,34032,0.129531,Canal du Midi,Patrimoine mondial,Patrimoine
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,50.455895,2.965034,62427,0.127170,Bassin minier du Nord-Pas de Calais,Patrimoine mondial,Patrimoine
4,1,"Les Causses et les Cévennes, paysage culturel ...",44.346210,3.613406,48050,0.124981,"Les Causses et les Cévennes, paysage culturel ...",Patrimoine mondial,Patrimoine
...,...,...,...,...,...,...,...,...,...
31029,viewpoint,Tour Eiffel 3e étage (Point de vue),48.858262,2.294497,75056,0.053782,Tour Eiffel 3e étage,Point de vue,Nature
31030,theme_park,Jardin d'Acclimatation (Parc à thème),48.878145,2.264686,75056,0.087097,Jardin d'Acclimatation,Parc à thème,Entertainment
31031,theme_park,Foire du Trône (Parc à thème),48.832003,2.404337,75056,0.060000,Foire du Trône,Parc à thème,Entertainment
31032,golf_course,Golf du Bois de Boulogne (Terrain de golf),48.857776,2.232651,75056,0.060073,Golf du Bois de Boulogne,Terrain de golf,Entertainment
31033,protected_area,"Paris, rives de la Seine (Zone protégée)",48.860054,2.324448,75056,0.095638,"Paris, rives de la Seine",Zone protégée,Nature

In [14]:
# Fusionner les données des sites avec les informations de géolocalisation pour obtenir les départements
site_with_dep = site_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer la répartition des catégories par département
tourism_category_per_department = site_with_dep.groupby(['department_code', 'department_name', 'Category']).size().unstack(fill_value=0).reset_index()

# Afficher les premières lignes de la répartition des catégories par département
tourism_category_per_department.head()

Category,department_code,department_name,Culture,Entertainment,Nature,Patrimoine
0,01,Ain,38,27,274,169
1,02,Aisne,40,7,63,107
2,03,Allier,42,10,102,169
3,04,Alpes-de-Haute-Provence,48,8,108,60
4,05,Hautes-Alpes,40,12,228,33

In [ ]:
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
stock_df.info() 
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

In [ ]:
poi_df.head(1)

In [ ]:
site_df.head(1)

In [ ]:
salary_df.head(1)

In [ ]:
georef_df.head(1)

In [ ]:
stock_df.head(1)

In [ ]:
sales_df.head(1)

In [ ]:
population_df.head(1)

In [ ]:
poverty_df.head(1)

In [ ]:
real_estate_df.head(1)

# 🧪 **DATA TRANSFORMATION**

### KPIS AGGREGATION BY DEPARTMENT

##### 1. TOURISM MIKE (not used for the scoring)

In [16]:
# MIKE 1.1 Nombre de sites touristiques par département
# Joindre les informations de géolocalisation pour obtenir les départements
site_dep_df = site_df.merge(georef_df[['municipality_code', 'department_code']], on='municipality_code')

# Calculer le nombre de sites touristiques par département
num_sites_per_department = site_dep_df.groupby('department_code')['poi'].count().reset_index()
num_sites_per_department.rename(columns={'poi': 'num_sites'}, inplace=True)
num_sites_per_department

   department_code  num_sites
0               01        508
1               02        217
2               03        323
3               04        224
4               05        313
..             ...        ...
91              91        325
92              92        152
93              93         90
94              94        101
95              95        221

[96 rows x 2 columns]

In [17]:
# MIKE 1.2 Importance moyenne des sites par département
# Calculer l'importance moyenne des sites touristiques par département
avg_site_importance_per_department = site_dep_df.groupby('department_code')['importance'].mean().reset_index() 
avg_site_importance_per_department.rename(columns={'importance': 'avg_site_importance'}, inplace=True)
avg_site_importance_per_department

   department_code  avg_site_importance
0               01             0.067051
1               02             0.072294
2               03             0.066258
3               04             0.065725
4               05             0.069074
..             ...                  ...
91              91             0.066098
92              92             0.067027
93              93             0.063537
94              94             0.066328
95              95             0.067538

[96 rows x 2 columns]

In [18]:
# MIKE 1.3 Stock de logement par département
# Joindre les informations de géolocalisation pour obtenir les départements
stock_dep_df = stock_df.merge(georef_df[['municipality_code', 'department_code']], on='municipality_code')

# Calculer le stock de logement par département (nombre total de logements)
total_stock_per_department = stock_dep_df.groupby('department_code')['nb_tot_housing'].sum().reset_index()
total_stock_per_department.rename(columns={'nb_tot_housing': 'total_stock'}, inplace=True)
total_stock_per_department

   department_code  total_stock
0               01      1781912
1               02      1829844
2               03      1462151
3               04       755894
4               05       763007
..             ...          ...
95              95      3134354
96             971      1203232
97             972      1161753
98             973       384652
99             974      1786012

[100 rows x 2 columns]

In [19]:
# MIKE 1.4 épartition des catégories par département
# Fusionner les données des sites avec les informations de géolocalisation pour obtenir les départements
site_with_dep = site_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer la répartition des catégories par département
tourism_category_per_department = site_with_dep.groupby(['department_code', 'department_name', 'Category']).size().unstack(fill_value=0).reset_index()

# Afficher les premières lignes de la répartition des catégories par département
tourism_category_per_department.head()

Category,department_code,department_name,Culture,Entertainment,Nature,Patrimoine
0,01,Ain,38,27,274,169
1,02,Aisne,40,7,63,107
2,03,Allier,42,10,102,169
3,04,Alpes-de-Haute-Provence,48,8,108,60
4,05,Hautes-Alpes,40,12,228,33

##### 2. REAL ESTATE MIKE (not used for the scoring)

In [27]:
# 2.1 Rentabilité locative au m² par département
# Joindre les informations de géolocalisation pour obtenir les départements
real_estate_dep_df = real_estate_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer la rentabilité locative moyenne au m² par département
real_estate_dep_df['avg_rental_yield'] = (real_estate_dep_df['rental_max_all'] + real_estate_dep_df['rental_min_all']) / 2
rental_yield_per_department = real_estate_dep_df.groupby(['department_code', 'department_name'])['avg_rental_yield'].mean().reset_index()
rental_yield_per_department.rename(columns={'avg_rental_yield': 'avg_rental_yield'}, inplace=True)
rental_yield_per_department

   department_code          department_name  avg_rental_yield
0               01                      Ain         12.253130
1               02                    Aisne          9.627683
2               03                   Allier          9.244937
3               04  Alpes-de-Haute-Provence         11.311378
4               05             Hautes-Alpes         11.714241
..             ...                      ...               ...
91              91                  Essonne         16.469145
92              92           Hauts-de-Seine         25.354306
93              93        Seine-Saint-Denis         21.065125
94              94             Val-de-Marne         22.158404
95              95               Val-d'Oise         16.746503

[96 rows x 3 columns]

In [28]:
# 2.2 Tension immobilière par département
# Calculer la tension immobilière par département
housing_tension_per_department = real_estate_dep_df.groupby('department_code')['intensite_tension_immo'].mean().reset_index()
housing_tension_per_department.rename(columns={'intensite_tension_immo': 'avg_housing_tension'}, inplace=True)

In [29]:
# 2.3 Part de maisons secondaires par département
# Calculer la part de maisons secondaires par département
secondary_home_rate_per_department = stock_dep_df.groupby('department_code')['secondary_home_rate'].mean().reset_index()
secondary_home_rate_per_department.rename(columns={'secondary_home_rate': 'avg_secondary_home_rate'}, inplace=True)
secondary_home_rate_per_department

   department_code  avg_secondary_home_rate
0               01                 0.138884
1               02                 0.102122
2               03                 0.132708
3               04                 0.397630
4               05                 0.400697
..             ...                      ...
95              95                 0.071613
96             971                 0.076645
97             972                 0.068388
98             973                 0.062976
99             974                 0.035493

[100 rows x 2 columns]

In [ ]:
# 2.4 Évolution du prix au m² par département
# Joindre les informations de géolocalisation pour obtenir les départements
sales_dep_df = sales_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer l'évolution du prix au m² par département
price_evolution = sales_dep_df.groupby(['department_code', 'department_name', 'sales_date'])['sales_price_m2'].mean().unstack().reset_index()
price_evolution['price_evolution'] = (price_evolution[price_evolution.columns[-1]] - price_evolution[price_evolution.columns[-2]]) / price_evolution[price_evolution.columns[-2]] * 100
price_evolution = price_evolution[['department_code', 'department_name', 'price_evolution']]
price_evolution.head()

In [ ]:
# Calculer le prix moyen au m² des ventes immobilières par département
avg_price_per_m2_per_department = sales_dep_df.groupby(['department_code', 'department_name'])['sales_price_m2'].mean().reset_index()
avg_price_per_m2_per_department.rename(columns={'sales_price_m2': 'avg_sales_price_m2'}, inplace=True)
avg_price_per_m2_per_department.head()

##### POPULATION (not used for the scoring)

In [20]:
# 1.1 Salaire moyen par département
# Joindre les informations de géolocalisation pour obtenir les départements
salary_dep_df = salary_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer le salaire moyen par département
avg_salary_per_department = salary_dep_df.groupby(['department_code', 'department_name'])['avg_net_salary'].mean().reset_index().round()
avg_salary_per_department.rename(columns={'avg_net_salary': 'avg_salary'}, inplace=True)
avg_salary_per_department.head()

  department_code          department_name  avg_salary
0              01                      Ain     25614.0
1              02                    Aisne     22865.0
2              03                   Allier     23272.0
3              04  Alpes-de-Haute-Provence     24147.0
4              05             Hautes-Alpes     22269.0

In [21]:
# 1.2 Évolution de la population par département
# Joindre les informations de géolocalisation pour obtenir les départements
population_dep_df = population_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer l'évolution de la population par département (différence entre les années)
pop_evolution = population_dep_df.groupby(['department_code', 'department_name', 'year'])['population'].sum().unstack().reset_index()
pop_evolution['evolution'] = (pop_evolution[pop_evolution.columns[-1]] - pop_evolution[pop_evolution.columns[-2]]) / pop_evolution[pop_evolution.columns[-2]] * 100
pop_evolution = pop_evolution[['department_code', 'department_name', 'evolution']]

pop_evolution.head()

year department_code          department_name  evolution
0                 01                      Ain   0.740851
1                 02                    Aisne  -0.369817
2                 03                   Allier  -0.354716
3                 04  Alpes-de-Haute-Provence   0.146281
4                 05             Hautes-Alpes   0.371007

In [26]:
# 1.3 Taux de pauvreté par département
# Joindre les données de population
# poverty_df = poverty_df.merge(population_df[['municipality_code', 'population']], on='municipality_code', suffixes=('_poverty', '_population'))

# Merge avec georef pour avoir le department_name
# poverty_df = poverty_df.merge(georef_df[['municipality_code', 'department_name']], on='municipality_code', how='left')

# Groupe par department_name pour calculer le taux de pauvreté par département
# poverty_by_department = poverty_df.groupby('department_name').agg({
    #'population_poverty': 'sum',
    #'population_population': 'sum'
#}).reset_index()

# Calculer le poverty_rate pour chaque département
#poverty_by_department['poverty_rate'] = (poverty_by_department['population_poverty'] / poverty_by_department['population']) * 100

# Afficher le résultat
#poverty_by_department.head()

# calcul = poverty_rate = poverty_population / total_population * 100
# il faut ensuite le DF qui a poverty_rate à georef pour récupérer le department_name

In [22]:
# 2.1 Nombre de sites touristiques par département
# Joindre les informations de géolocalisation pour obtenir les départements
site_dep_df = site_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer le nombre de sites touristiques par département
num_sites_per_department = site_dep_df.groupby(['department_code', 'department_name'])['poi'].count().reset_index()
num_sites_per_department.rename(columns={'poi': 'nb_sites'}, inplace=True)
num_sites_per_department.head()

  department_code          department_name  nb_sites
0              01                      Ain       508
1              02                    Aisne       217
2              03                   Allier       323
3              04  Alpes-de-Haute-Provence       224
4              05             Hautes-Alpes       313

In [23]:
# 2.2 Importance moyenne des sites par département
# Calculer l'importance moyenne des sites touristiques par département
avg_site_importance_per_department = site_dep_df.groupby(['department_code', 'department_name'])['importance'].mean().reset_index()
avg_site_importance_per_department.rename(columns={'importance': 'avg_site_importance'}, inplace=True)
avg_site_importance_per_department.head()

  department_code          department_name  avg_site_importance
0              01                      Ain             0.067051
1              02                    Aisne             0.072294
2              03                   Allier             0.066258
3              04  Alpes-de-Haute-Provence             0.065725
4              05             Hautes-Alpes             0.069074

In [24]:
# 2.3 Stock de logement par département
# Joindre les informations de géolocalisation pour obtenir les départements
stock_dep_df = stock_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer le stock de logement par département (nombre total de logements)
total_stock_per_department = stock_dep_df.groupby(['department_code', 'department_name'])['nb_tot_housing'].sum().reset_index()
total_stock_per_department.rename(columns={'nb_tot_housing': 'total_stock'}, inplace=True)
total_stock_per_department.head()

  department_code          department_name  total_stock
0              01                      Ain      1781912
1              02                    Aisne      1829844
2              03                   Allier      1462151
3              04  Alpes-de-Haute-Provence       755894
4              05             Hautes-Alpes       763007

##### 1. TOURISM ELIOTT

In [25]:
# 1.1 création de tables permettant de scorer le potentiel touristique de chaque département
site_df = site_df.merge (georef_df, on=["municipality_code"])
site_df.head(5)

,poi,name,latitude_x,longitude_x,municipality_code,importance,name_reprocessed,data_inside_parenthesis,Category,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
0,1,Fortifications de Vauban (Patrimoine mondial),46.396160,1.472600,36134,0.139527,Fortifications de Vauban,Patrimoine mondial,Patrimoine,Mouhet,MOUHET,municipality,46.389251,1.442651,36,200035137.0,Indre
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,46.313695,1.478772,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Patrimoine mondial,Patrimoine,Vareilles,VAREILLES,municipality,46.305016,1.456031,23,242300135.0,Creuse
2,1,Canal du Midi (Patrimoine mondial),43.332709,3.219890,34032,0.129531,Canal du Midi,Patrimoine mondial,Patrimoine,Béziers,BEZIERS,municipality,43.347588,3.230768,34,243400769.0,Hérault
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,50.455895,2.965034,62427,0.127170,Bassin minier du Nord-Pas de Calais,Patrimoine mondial,Patrimoine,Hénin-Beaumont,HENIN BEAUMONT,municipality,50.409234,2.958997,62,246200299.0,Pas-de-Calais
4,1,"Les Causses et les Cévennes, paysage culturel ...",44.346210,3.613406,48050,0.124981,"Les Causses et les Cévennes, paysage culturel ...",Patrimoine mondial,Patrimoine,Bédouès-Cocurès,BEDOUES COCURES,municipality,44.353946,3.619560,48,200069151.0,Lozère

In [26]:
# 1.2 sélection des colonnes dont on aura besoin pour le calcul
site_df_department = site_df[["poi", "name", "municipality_code", "importance", "name_reprocessed", "department_name"]]
site_df_department

,poi,name,municipality_code,importance,name_reprocessed,department_name
0,1,Fortifications de Vauban (Patrimoine mondial),36134,0.139527,Fortifications de Vauban,Indre
1,1,Chemins de Saint-Jacques-de-Compostelle en Fra...,23258,0.137821,Chemins de Saint-Jacques-de-Compostelle en Fra...,Creuse
2,1,Canal du Midi (Patrimoine mondial),34032,0.129531,Canal du Midi,Hérault
3,1,Bassin minier du Nord-Pas de Calais (Patrimoin...,62427,0.127170,Bassin minier du Nord-Pas de Calais,Pas-de-Calais
4,1,"Les Causses et les Cévennes, paysage culturel ...",48050,0.124981,"Les Causses et les Cévennes, paysage culturel ...",Lozère
...,...,...,...,...,...,...
31019,viewpoint,Tour Eiffel 3e étage (Point de vue),75056,0.053782,Tour Eiffel 3e étage,Paris
31020,theme_park,Jardin d'Acclimatation (Parc à thème),75056,0.087097,Jardin d'Acclimatation,Paris
31021,theme_park,Foire du Trône (Parc à thème),75056,0.060000,Foire du Trône,Paris
31022,golf_course,Golf du Bois de Boulogne (Terrain de golf),75056,0.060073,Golf du Bois de Boulogne,Paris
31023,protected_area,"Paris, rives de la Seine (Zone protégée)",75056,0.095638,"Paris, rives de la Seine",Paris

In [27]:
# 1.3 groupement par département, puis classement par le département ayant le + d'atouts touristiques
group_site = site_df_department.groupby("department_name")[["importance"]].sum()
group_site
group_site.sort_values("importance", ascending =False)

                       importance
department_name
Gironde                 52.539958
Bouches-du-Rhône        47.068588
Finistère               46.685274
Isère                   44.230787
Loire-Atlantique        43.525109
...                           ...
Haute-Marne              7.416165
Val-de-Marne             6.699159
Lozère                   6.230406
Seine-Saint-Denis        5.718311
Territoire de Belfort    2.896012

[96 rows x 1 columns]

In [28]:
# 1.4 même calcul que précédemment, mais pour la partie concernant les logements/lieux de villégiature
poi_df = poi_df.merge (georef_df, on=["municipality_code"])
poi_df.head(5)

,poi,latitude_x,longitude_x,municipality_code,importance,name_reprocessed,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
0,hotel,45.678531,-1.163635,17225,0.078556,Club Med,Les Mathes,MATHES,municipality,45.705988,-1.170867,17,241700640.0,Charente-Maritime
1,hotel,44.026859,4.847491,84129,0.078419,Cabanes des Grands Cépages,Sorgues,SORGUES,municipality,44.014576,4.867405,84,248400293.0,Vaucluse
2,hotel,50.331541,1.565677,80333,0.077999,Pierre et Vacances,Fort-Mahon-Plage,FORT MAHON PLAGE,municipality,50.345059,1.577068,80,200070936.0,Somme
3,hotel,43.285936,6.569696,83068,0.077702,Pierre & Vacances,Grimaud,GRIMAUD,municipality,43.282028,6.533032,83,200036077.0,Var
4,hotel,43.541050,3.752852,34095,0.077542,Le Domaine du Golf,Fabrègues,FABREGUES,municipality,43.534477,3.771930,34,243400017.0,Hérault

In [29]:
# 1.5 sélection des colonnes dont on aura besoin pour le calcul
poi_df_department = poi_df[["poi", "municipality_code", "importance", "department_name"]]
poi_df_department

             poi municipality_code  importance       department_name
0          hotel             17225    0.078556     Charente-Maritime
1          hotel             84129    0.078419              Vaucluse
2          hotel             80333    0.077999                 Somme
3          hotel             83068    0.077702                   Var
4          hotel             34095    0.077542               Hérault
...          ...               ...         ...                   ...
26202  camp_site             19164    0.040000               Corrèze
26203  camp_site             03238    0.040000                Allier
26204  camp_site             19241    0.040000               Corrèze
26205  camp_site             23131    0.040000                Creuse
26206  camp_site             64405    0.040000  Pyrénées-Atlantiques

[26207 rows x 4 columns]

In [30]:
# 1.6 groupement par département, puis classement par le département ayant le + de logements/lieux de villégiature
group_poi = poi_df_department.groupby("department_name")[["importance"]].sum()
group_poi
group_poi.sort_values("importance", ascending =False)

                       importance
department_name
Paris                   70.275305
Savoie                  37.401407
Haute-Savoie            35.158395
Hérault                 33.793973
Alpes-Maritimes         32.802552
...                           ...
Eure-et-Loir             3.871754
Haute-Marne              3.670584
Ardennes                 3.541133
Mayenne                  3.154595
Territoire de Belfort    1.624450

[96 rows x 1 columns]

In [31]:
# 1.7 ajout des 2 calculs d'importance
department_merged_df = group_poi.merge (group_site, on=["department_name"])
department_merged_df["somme_importance"]=department_merged_df["importance_x"]+department_merged_df["importance_y"]
department_merged_df = department_merged_df.drop(columns=["importance_x", "importance_y"])
department_merged_df
department_merged_df.sort_values("somme_importance", ascending =False)

                       somme_importance
department_name
Paris                        110.051777
Gironde                       77.287832
Savoie                        76.393945
Finistère                     75.977072
Bouches-du-Rhône              71.561051
...                                 ...
Aube                          13.061510
Seine-Saint-Denis             11.649267
Haute-Marne                   11.086749
Ardennes                      11.006796
Territoire de Belfort          4.520462

[96 rows x 1 columns]

##### 2. REAL ESTATE ELIOTT

In [34]:
# 2.1 calcul du loyer au m2 médian par municipality_code
rental_med = real_estate_df [["municipality_code", "rental_med_all"]]
rental_med

      municipality_code  rental_med_all
0                 57133            9.53
1                 57446           11.09
2                 77013           12.26
3                 77026            9.53
4                 77072           11.47
...                 ...             ...
34436             81126            8.93
34437             33425           11.09
34438             85146           10.88
34439             53062            8.69
34440             22093            9.80

[34441 rows x 2 columns]

In [35]:
# 2.2 calcul du prix d'achat au m2 médian par municipality_code
sales_df
sales_df_grouped = sales_df.groupby(["municipality_code"])[["sales_amount", "surface", "premise_type"]].agg({"sales_amount": "sum", "surface": "sum", "premise_type": "count"})
sales_df_grouped = pd.DataFrame (sales_df_grouped)
sales_df_grouped

                   sales_amount  surface  premise_type
municipality_code
01001              1.362286e+07   6781.0            60
01002              4.067389e+06   1901.0            17
01004              1.852356e+08  87209.0          1062
01005              3.579244e+07  13876.0           138
01006              2.575955e+06   1425.0            13
...                         ...      ...           ...
97420              5.335366e+07  16160.0           188
97421              3.143598e+06   1872.0            24
97422              2.541138e+08  99088.0          1237
97423              1.326098e+07   3780.0            54
97424              1.029893e+07   4481.0            64

[32743 rows x 3 columns]

In [36]:
# 2.3 jointure pour rajouter dans cette table le loyer médian par municipality_code
sales_df
real_estate_grouped = sales_df_grouped.merge(rental_med, on="municipality_code")
real_estate_grouped

      municipality_code  sales_amount  surface  premise_type  rental_med_all
0                 01001  1.362286e+07   6781.0            60           10.66
1                 01002  4.067389e+06   1901.0            17           10.16
2                 01004  1.852356e+08  87209.0          1062           11.25
3                 01005  3.579244e+07  13876.0           138           13.28
4                 01006  2.575955e+06   1425.0            13           12.70
...                 ...           ...      ...           ...             ...
31892             95676  5.974304e+06   2486.0            23           12.29
31893             95678  1.222182e+07   3568.0            38           18.53
31894             95680  8.569815e+07  32626.0           471           16.22
31895             95682  1.463606e+06    533.0             5           16.57
31896             95690  2.728320e+06    951.0            10           13.46

[31897 rows x 5 columns]

In [38]:
# 2.4 ajout du nom du département correspondant à chaque municipality code
real_estate_department = real_estate_grouped.merge(georef_df, on="municipality_code")
real_estate_department
real_estate_department = real_estate_department [["municipality_code", "sales_amount", "surface", "rental_med_all", "department_name", "premise_type"]]

In [74]:
# 2.5 calcul du prix au m2 par département
average_price_per_m2 = real_estate_department.groupby(["department_name"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
average_price_per_m2["average_price_per_m2"] = average_price_per_m2["sales_amount"]/average_price_per_m2["surface"]

# Arrondir la colonne average_price_per_m2
average_price_per_m2["average_price_per_m2"] = average_price_per_m2["average_price_per_m2"].round()

# Réinitialiser l'index pour que department_name devienne une colonne
average_price_per_m2.reset_index(inplace=True)
average_price_per_m2

            department_name  sales_amount    surface  average_price_per_m2
0                       Ain  9.607929e+09  3645188.0                2636.0
1                     Aisne  2.840598e+09  1819614.0                1561.0
2                    Allier  2.057614e+09  1304360.0                1577.0
3           Alpes-Maritimes  3.837944e+10  7959808.0                4822.0
4   Alpes-de-Haute-Provence  2.097409e+09   919312.0                2281.0
..                      ...           ...        ...                   ...
88                   Vendée  6.771054e+09  2819045.0                2402.0
89                   Vienne  2.024136e+09  1155284.0                1752.0
90                   Vosges  1.482116e+09   865201.0                1713.0
91                    Yonne  1.533758e+09   953987.0                1608.0
92                 Yvelines  1.886490e+10  4461481.0                4228.0

[93 rows x 4 columns]

In [69]:
paris_price_per_m2 = average_price_per_m2[average_price_per_m2["department_name"] == "Paris"]
paris_price_per_m2

   department_name  sales_amount    surface  average_price_per_m2
68           Paris  4.890308e+10  4277671.0               11432.0

In [40]:
# 2.6 calcul du loyer médian par départment
real_estate_department["intermediate_sum"]=real_estate_department["rental_med_all"]*real_estate_department["premise_type"]
real_estate_department
average_rental = real_estate_department.groupby(["department_name"])[["intermediate_sum", "premise_type"]].agg({"intermediate_sum": "sum", "premise_type": "sum"})
average_rental
average_rental["average_rental"]= average_rental["intermediate_sum"]/average_rental["premise_type"]
average_rental

                         intermediate_sum  premise_type  average_rental
department_name
Ain                             499987.29         37925       13.183580
Aisne                           196297.97         19789        9.919550
Allier                          153111.91         15287       10.015825
Alpes-Maritimes                2105196.54        120087       17.530595
Alpes-de-Haute-Provence         141928.94         12555       11.304575
...                                   ...           ...             ...
Vendée                          350608.65         33234       10.549698
Vienne                          129985.21         13286        9.783623
Vosges                           93517.06          9719        9.622087
Yonne                           107147.28         10815        9.907284
Yvelines                        924747.61         50710       18.236001

[93 rows x 3 columns]

In [41]:
# 2.7 regroupement des colonnes avec le loyer moyen au m2 par département et le prix d'achat au m2 moyen par département
yield_calculation = average_price_per_m2.merge(average_rental, on="department_name")
yield_calculation
yield_calculation = yield_calculation.drop(columns=["sales_amount", "surface", "intermediate_sum", "premise_type"])
yield_calculation["yield_rate"]=yield_calculation["average_rental"]*12/yield_calculation["average_price_per_m2"]*100
yield_calculation.sort_values("yield_rate", ascending=True)

                       average_price_per_m2  average_rental  yield_rate
department_name
Paris                          11432.173601       29.809690    3.129031
Corse-du-Sud                    4420.005565       13.879070    3.768068
Hauts-de-Seine                  7459.175300       24.168113    3.888062
Var                             4058.417572       14.124893    4.176473
Savoie                          3472.500028       12.601657    4.354784
...                                     ...             ...         ...
Cher                            1549.532038        9.742943    7.545201
Aube                            1690.589163       10.689934    7.587840
Allier                          1577.489243       10.015825    7.619063
Aisne                           1561.099105        9.919550    7.625051
Territoire de Belfort           1730.559163       11.054424    7.665331

[93 rows x 3 columns]

In [42]:
# 2.8 Informations sur la rentabilité locative
yield_calculation

                         average_price_per_m2  average_rental  yield_rate
department_name
Ain                               2635.784095       13.183580    6.002122
Aisne                             1561.099105        9.919550    7.625051
Allier                            1577.489243       10.015825    7.619063
Alpes-Maritimes                   4821.653974       17.530595    4.362966
Alpes-de-Haute-Provence           2281.499046       11.304575    5.945867
...                                       ...             ...         ...
Vendée                            2401.896369       10.549698    5.270684
Vienne                            1752.067837        9.783623    6.700852
Vosges                            1713.030737        9.622087    6.740395
Yonne                             1607.734995        9.907284    7.394714
Yvelines                          4228.393261       18.236001    5.175299

[93 rows x 3 columns]

In [43]:
# 2.9 calcul de la variation entre 2018 et 2021

#ajout d'une colonne "year"
sales_df.info()
sales_df["year"]=sales_df["sales_date"].dt.year

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3448398 entries, 0 to 3448397
Data columns (total 13 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sales_date                 datetime64[ns]
 1   sales_amount               float64
 2   street_number              float64
 3   street_code                object
 4   street_name                object
 5   nom_commune                object
 6   municipality_code          object
 7   premise_type               object
 8   surface                    float64
 9   number_of_principal_rooms  int64
 10  sales_price_m2             float64
 11  latitude                   float64
 12  longitude                  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 342.0+ MB

In [44]:
# 2.10 merge pour rajouter le département
sales_info_per_department = sales_df.merge (georef_df, on=["municipality_code"])
sales_info_per_department

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,...,longitude_x,year,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
0,2018-02-06,5000000.0,63.0,0040,AV PRINCE RAINIER III,Saint-Jean-Cap-Ferrat,06121,Maison,292.0,10,...,7.330651,2018,Saint-Jean-Cap-Ferrat,SAINT JEAN CAP FERRAT,municipality,43.687179,7.329936,06,200030195.0,Alpes-Maritimes
1,2018-11-26,93060.0,5308.0,B061,LE SERRET,Vallées-d'Antraigues-Asperjoc,07011,Maison,16.0,0,...,4.360185,2018,Vallées-d'Antraigues-Asperjoc,VALLEES D ANTRAIGUES ASPERJOC,municipality,44.739318,4.355176,07,200073245.0,Ardèche
2,2018-06-08,95000.0,161.0,0683,IMP COL EMILE VIGUIER,Millau,12145,Maison,21.0,0,...,3.054594,2018,Millau,MILLAU,municipality,44.097625,3.117054,12,241200567.0,Aveyron
3,2018-07-17,3912000.0,690.0,1868,CHE DE MAZARGUES,Aix-en-Provence,13001,Maison,610.0,13,...,5.428194,2018,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
4,2018-03-27,810000.0,5000.0,0162,CHE DES OLIVIERS,Eygalières,13034,Maison,296.0,9,...,4.957214,2018,Eygalières,EYGALIERES,municipality,43.761705,4.952120,13,241300375.0,Bouches-du-Rhône
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444144,2017-11-10,160000.0,9001.0,A055,RES LA COUPIANE,La Valette-du-Var,83144,Appartement,103.0,5,...,5.988491,2017,La Valette-du-Var,VALETTE DU VAR,municipality,43.149915,5.992225,83,248300543.0,Var
3444145,2019-03-15,290000.0,9001.0,A278,RES LES TROIS MAGES,Aix-en-Provence,13001,Appartement,103.0,6,...,5.470374,2019,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
3444146,2018-04-26,540000.0,9001.0,A370,RES LE GAUGUIN CHEM BRUNET,Aix-en-Provence,13001,Appartement,115.0,5,...,5.438490,2018,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
3444147,2021-08-25,184000.0,9001.0,0002,BD ABEL LEFEVRE,Ézy-sur-Eure,27230,Appartement,150.0,3,...,1.422561,2021,Ézy-sur-Eure,EZY SUR EURE,municipality,48.870981,1.412630,27,200040277.0,Eure
3444148,2021-08-31,610000.0,9001.0,A155,RES DES ILES LE MONTE CRISTO,Ajaccio,2A004,Appartement,150.0,5,...,8.710564,2021,Ajaccio,AJACCIO,municipality,41.934793,8.701323,2A,242010056.0,Corse-du-Sud

In [45]:
# 2.11 filtre uniquement sur les années 2020 et 2021 (car ce sont les seules années où nous avons toutes les informations)
sales_info_per_department = sales_info_per_department[sales_info_per_department['year'].isin([2020, 2021])]
sales_info_per_department

,sales_date,sales_amount,street_number,street_code,street_name,nom_commune,municipality_code,premise_type,surface,number_of_principal_rooms,...,longitude_x,year,city_name,city_name_normalized,municipality_type,latitude_y,longitude_y,department_code,epci_code,department_name
29,2020-05-22,253902.0,41.0,0114,RUE DE LA REPUBLIQUE,L'Argentière-la-Bessée,05006,Maison,160.0,9,...,6.557181,2020,L'Argentière-la-Bessée,ARGENTIERE LA BESSEE,municipality,44.782173,6.472145,05,240500462.0,Hautes-Alpes
30,2020-08-27,2400000.0,760.0,0560,CHE DE LA GRANDE BASTIDE,Mougins,06085,Maison,257.0,9,...,6.985652,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
31,2020-11-27,920000.0,139.0,0380,CHE DE L ETANG,Mougins,06085,Maison,285.0,9,...,7.019548,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
32,2020-12-17,1778080.0,168.0,0947,RTE DES ROMARINS,Mougins,06085,Maison,244.0,9,...,7.020948,2020,Mougins,MOUGINS,municipality,43.596141,7.001294,06,200039915.0,Alpes-Maritimes
33,2020-11-20,793750.0,282.0,0275,CHE DE MONTFORT,La Colle-sur-Loup,06044,Maison,227.0,9,...,7.110638,2020,La Colle-sur-Loup,COLLE SUR LOUP,municipality,43.687170,7.097736,06,240600585.0,Alpes-Maritimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444138,2021-01-15,169000.0,9001.0,A070,RES DE LA THEUILLERIE,Ris-Orangis,91521,Appartement,99.0,5,...,2.397566,2021,Ris-Orangis,RIS ORANGIS,municipality,48.645194,2.407936,91,200059228.0,Essonne
3444141,2020-09-08,389685.0,9001.0,0667,ALL DES CIGALES,Aix-en-Provence,13001,Appartement,103.0,5,...,5.459952,2020,Aix-en-Provence,AIX EN PROVENCE,municipality,43.536071,5.398574,13,200054807.0,Bouches-du-Rhône
3444142,2021-12-07,236000.0,9001.0,A100,RES LES PAMPRES,Les Ulis,91692,Appartement,103.0,5,...,2.172815,2021,Les Ulis,ULIS,municipality,48.680321,2.185190,91,200056232.0,Essonne
3444147,2021-08-25,184000.0,9001.0,0002,BD ABEL LEFEVRE,Ézy-sur-Eure,27230,Appartement,150.0,3,...,1.422561,2021,Ézy-sur-Eure,EZY SUR EURE,municipality,48.870981,1.412630,27,200040277.0,Eure
3444148,2021-08-31,610000.0,9001.0,A155,RES DES ILES LE MONTE CRISTO,Ajaccio,2A004,Appartement,150.0,5,...,8.710564,2021,Ajaccio,AJACCIO,municipality,41.934793,8.701323,2A,242010056.0,Corse-du-Sud

In [46]:
# 2.12 groupement par année et par département
sales_df_per_year = sales_info_per_department.groupby(["department_name", "year"])[["sales_amount", "surface"]].agg({"sales_amount": "sum", "surface": "sum"})
sales_df_per_year

                      sales_amount    surface
department_name year
Ain             2020  2.210313e+09   837639.0
                2021  2.802408e+09   990520.0
Aisne           2020  6.593465e+08   420712.0
                2021  8.480408e+08   523582.0
Allier          2020  4.703144e+08   295301.0
...                            ...        ...
Vosges          2021  7.157524e+08   405495.0
Yonne           2020  5.685219e+08   359444.0
                2021  7.649412e+08   464540.0
Yvelines        2020  6.951062e+09  1674525.0
                2021  8.529910e+09  1921048.0

[194 rows x 2 columns]

In [48]:
# 2.13 calcul du prix moyen au m2
sales_df_per_year["average_price_m2"]=sales_df_per_year["sales_amount"]/sales_df_per_year["surface"]
sales_df_per_year
sales_df_per_year.head(50)

                              sales_amount    surface  average_price_m2
department_name         year
Ain                     2020  2.210313e+09   837639.0       2638.742163
                        2021  2.802408e+09   990520.0       2829.229384
Aisne                   2020  6.593465e+08   420712.0       1567.215852
                        2021  8.480408e+08   523582.0       1619.690449
Allier                  2020  4.703144e+08   295301.0       1592.661195
                        2021  6.105036e+08   372329.0       1639.688435
Alpes-Maritimes         2020  8.099021e+09  1684862.0       4806.934575
                        2021  1.050612e+10  2027161.0       5182.678071
Alpes-de-Haute-Provence 2020  4.878721e+08   211239.0       2309.573765
                        2021  5.404214e+08   227226.0       2378.343326
Ardennes                2020  2.780011e+08   182305.0       1524.923009
                        2021  3.647159e+08   230145.0       1584.722404
Ardèche                 2020  7.373199e+08   355875.0       2071.850751
                        2021  3.951426e+08   181828.0       2173.166720
Ariège                  2020  3.043253e+08   180455.0       1686.433445
                        2021  3.840622e+08   222958.0       1722.576373
Aube                    2020  5.269005e+08   312882.0       1684.023003
                        2021  6.787810e+08   382098.0       1776.457798
Aude                    2020  9.911086e+08   504986.0       1962.645620
                        2021  1.340519e+09   649074.0       2065.278897
Aveyron                 2020  4.872055e+08   273488.0       1781.450946
                        2021  5.751248e+08   310326.0       1853.292218
Bouches-du-Rhône        2020  7.856187e+09  2137498.0       3675.412486
                        2021  8.583444e+09  2206338.0       3890.357776
Calvados                2020  2.753183e+09  1080679.0       2547.641600
                        2021  3.049854e+09  1106126.0       2757.239072
Cantal                  2020  1.783335e+08   109245.0       1632.417611
                        2021  2.238980e+08   138821.0       1612.854279
Charente                2020  6.417160e+08   403380.0       1590.847431
                        2021  8.555856e+08   507990.0       1684.256679
Charente-Maritime       2020  3.331947e+09  1203955.0       2767.500872
                        2021  4.255422e+09  1412766.0       3012.120654
Cher                    2020  3.974249e+08   254019.0       1564.547816
                        2021  5.194989e+08   326249.0       1592.338748
Corrèze                 2020  3.899396e+08   231903.0       1681.477054
                        2021  4.982713e+08   285922.0       1742.682547
Corse-du-Sud            2020  6.609123e+08   151122.0       4373.369143
                        2021  9.380425e+08   193855.0       4838.887261
Creuse                  2020  7.905584e+07    56504.0       1399.119409
                        2021  1.164979e+08    82336.0       1414.907846
Côte-d'Or               2020  1.488322e+09   664811.0       2238.714128
                        2021  1.617812e+09   684524.0       2363.411005
Côtes-d'Armor           2020  1.755253e+09   876654.0       2002.219181
                        2021  2.353489e+09  1091778.0       2155.648108
Deux-Sèvres             2020  6.552942e+08   404254.0       1620.996159
                        2021  8.619962e+08   512222.0       1682.856588
Dordogne                2020  1.013787e+09   571847.0       1772.828828
                        2021  1.479251e+09   793717.0       1863.700528
Doubs                   2020  1.242725e+09   595565.0       2086.631706
                        2021  1.407267e+09   643480.0       2186.962748

In [49]:
# 2.14 calcul de l'évolution entre 2018 et 2021
sales_df_per_year['price_m2_growth'] = sales_df_per_year.groupby('department_name')['average_price_m2'].pct_change()
sales_df_per_year

                      sales_amount    surface  average_price_m2  \
department_name year
Ain             2020  2.210313e+09   837639.0       2638.742163
                2021  2.802408e+09   990520.0       2829.229384
Aisne           2020  6.593465e+08   420712.0       1567.215852
                2021  8.480408e+08   523582.0       1619.690449
Allier          2020  4.703144e+08   295301.0       1592.661195
...                            ...        ...               ...
Vosges          2021  7.157524e+08   405495.0       1765.132472
Yonne           2020  5.685219e+08   359444.0       1581.670165
                2021  7.649412e+08   464540.0       1646.663833
Yvelines        2020  6.951062e+09  1674525.0       4151.064983
                2021  8.529910e+09  1921048.0       4440.237636

                      price_m2_growth
department_name year
Ain             2020              NaN
                2021         0.072189
Aisne           2020              NaN
                2021         0.033483
Allier          2020              NaN
...                               ...
Vosges          2021         0.039378
Yonne           2020              NaN
                2021         0.041092
Yvelines        2020              NaN
                2021         0.069662

[194 rows x 4 columns]

In [50]:
# 2.15 calcul final de l'évolution
sales_df_per_year = sales_df_per_year.dropna()
sales_df_per_year.drop (columns=["sales_amount", "surface"])
sales_df_per_year.sort_values ("price_m2_growth", ascending=False)

,,sales_amount,surface,average_price_m2,price_m2_growth
department_name,year,,,,
Pyrénées-Atlantiques,2021,3.821283e+09,1068164.0,3577.430704,0.140719
Landes,2021,2.409002e+09,818313.0,2943.864249,0.112565
Corse-du-Sud,2021,9.380425e+08,193855.0,4838.887261,0.106444
Finistère,2021,3.056316e+09,1421428.0,2150.172909,0.099954
Maine-et-Loire,2021,2.644990e+09,1162430.0,2275.396966,0.096707
...,...,...,...,...,...
Haute-Marne,2021,1.928814e+08,129888.0,1484.982081,0.009958
Haute-Saône,2021,3.172671e+08,202655.0,1565.552673,0.008060
Cantal,2021,2.238980e+08,138821.0,1612.854279,-0.011984
La Réunion,2021,1.260015e+09,384936.0,3273.309935,-0.024756
Guyane,2021,2.741256e+08,79880.0,3431.717944,-0.123935

In [57]:
# 2.16 calcul du nb de maisons vacantes en 2019
stock_df_2018 = stock_df[stock_df['year'].isin([2018])]
stock_df_2018
stock_df_2018 = stock_df_2018.merge (georef_df, on=["municipality_code"])
vacants_housing_per_department = stock_df_2018.groupby("department_name")["nb_vacants_housing"].sum()
vacants_housing_per_department = pd.DataFrame(vacants_housing_per_department)
# Réinitialiser l'index pour que department_name devienne une colonne
vacants_housing_per_department.reset_index(inplace=True)
vacants_housing_per_department

            department_name  nb_vacants_housing
0                       Ain               25849
1                     Aisne               26001
2                    Allier               30479
3           Alpes-Maritimes               64643
4   Alpes-de-Haute-Provence               10768
..                      ...                 ...
95                   Vendée               21818
96                   Vienne               23264
97                   Vosges               24154
98                    Yonne               23303
99                 Yvelines               40834

[100 rows x 2 columns]

In [ ]:
stock_df_2018

In [102]:
# 2.17 taxe d'habitation sur les maisons secondaires par département

TAX_FILENAME = 'taxe_habitation.xlsx'
tax_df = pd.read_excel(os.path.join(DATA_PATH, TAX_FILENAME))

# Renommer les colonnes
tax_df.rename(columns={
    'RÉGIONS': 'department_name',
    'Taxe d\'habitation moyenne en 2023': 'taxe_habitation_2023',
    'Nombre d\'avis d\'impôt': 'nb_avis_impot'
}, inplace=True)

tax_df.head()

           department_name  taxe_habitation_2023 nb_avis_impot
0                      Ain                   847        23 000
1                    Aisne                   732        14 000
2                   Allier                   801        18 000
3  Alpes-de-Haute-Provence                   551        35 000
4             Hautes-Alpes                   567        52 000

##### 3. SECONDARY HOME MIKE

In [75]:
# 3.1 Superficie moyenne des logements vendus par départements
# Joindre les informations de géolocalisation pour obtenir les départements
real_estate_sales_dep = sales_df.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer la surface moyenne des logements vendus par département
average_surface_per_department = real_estate_sales_dep.groupby(
    ['department_code', 'department_name']
)['surface'].mean().reset_index()

# Renommer la colonne résultante
average_surface_per_department.rename(columns={'surface': 'avg_surface'}, inplace=True)
average_surface_per_department

   department_code          department_name  avg_surface
0               01                      Ain    95.491503
1               02                    Aisne    91.956053
2               03                   Allier    85.308972
3               04  Alpes-de-Haute-Provence    73.283742
4               05             Hautes-Alpes    63.986778
..             ...                      ...          ...
92              95               Val-d'Oise    79.078816
93             971               Guadeloupe    76.678240
94             972               Martinique    74.256095
95             973                   Guyane    78.392100
96             974               La Réunion    74.954887

[97 rows x 3 columns]

In [79]:
# Filtre sur un departement en particulier (exemple paris 75)
print(average_surface_per_department[average_surface_per_department['department_code'] == '75'])

   department_code department_name  avg_surface
72              75           Paris    53.748363

In [54]:
# 3.2 Évolution du % des maisons secondaires par département

# Filtrer les données pour les années 2008 et 2018
housing_2008 = stock_df[stock_df['year'] == 2008]
housing_2018 = stock_df[stock_df['year'] == 2018]

# Renommer les colonnes pour les années spécifiques
housing_2008 = housing_2008[['municipality_code', 'secondary_home_rate']].rename(columns={'secondary_home_rate': 'secondary_home_rate_2008'})
housing_2018 = housing_2018[['municipality_code', 'secondary_home_rate']].rename(columns={'secondary_home_rate': 'secondary_home_rate_2018'})

# Joindre les données pour les années 2008 et 2018 sur le code de municipalité
secondary_home_rate_comparison = housing_2008.merge(housing_2018, on='municipality_code')

# Remplacer les valeurs 0 de 2008 pour éviter la division par zéro
secondary_home_rate_comparison = secondary_home_rate_comparison.replace({'secondary_home_rate_2008': {0: np.nan}})

# Calculer l'évolution du pourcentage de maisons secondaires par municipalité
secondary_home_rate_comparison['secondary_home_rate_evolution'] = (
    (secondary_home_rate_comparison['secondary_home_rate_2018'] - secondary_home_rate_comparison['secondary_home_rate_2008']) / 
    secondary_home_rate_comparison['secondary_home_rate_2008']
) * 100

# Remplacer les valeurs infinies et NaN par 0
secondary_home_rate_comparison = secondary_home_rate_comparison.replace({'secondary_home_rate_evolution': {np.inf: np.nan, -np.inf: np.nan}})
secondary_home_rate_comparison['secondary_home_rate_evolution'] = secondary_home_rate_comparison['secondary_home_rate_evolution'].fillna(0)

# Joindre les informations de géolocalisation pour obtenir les départements
secondary_home_rate_comparison = secondary_home_rate_comparison.merge(
    georef_df[['municipality_code', 'department_code', 'department_name']],
    on='municipality_code'
)

# Calculer l'évolution moyenne du pourcentage de maisons secondaires par département
secondary_home_rate_evolution_department = secondary_home_rate_comparison.groupby(['department_code', 'department_name'])['secondary_home_rate_evolution'].mean().reset_index()
secondary_home_rate_evolution_department.rename(columns={'secondary_home_rate_evolution': 'secondary_home_rate_evolution'}, inplace=True)

secondary_home_rate_evolution_department.head(10)

  department_code          department_name  secondary_home_rate_evolution
0              01                      Ain                      -8.064238
1              02                    Aisne                      -8.667438
2              03                   Allier                      -5.866098
3              04  Alpes-de-Haute-Provence                       3.350143
4              05             Hautes-Alpes                      -4.386948
5              06          Alpes-Maritimes                      -1.166718
6              07                  Ardèche                      -7.774843
7              08                 Ardennes                       4.684543
8              09                   Ariège                      -0.522571
9              10                     Aube                       2.349340

In [87]:
# Calculer le taux moyen de maisons secondaires par département
secondary_home_rate_per_department = stock_dep_df.groupby('department_code')['secondary_home_rate'].mean().reset_index()
secondary_home_rate_per_department.rename(columns={'secondary_home_rate': 'avg_secondary_home_rate'}, inplace=True)

# Fusionner avec georef_df pour ajouter le nom des départements
secondary_home_rate_per_department = secondary_home_rate_per_department.merge(
    georef_df[['department_code', 'department_name']].drop_duplicates(),
    on='department_code',
    how='left'
)

# Afficher les résultats
secondary_home_rate_per_department.head()

  department_code  avg_secondary_home_rate          department_name
0              01                 0.138884                      Ain
1              02                 0.102122                    Aisne
2              03                 0.132708                   Allier
3              04                 0.397630  Alpes-de-Haute-Provence
4              05                 0.400697             Hautes-Alpes

##### 4. LIFE QUALITY MIKE

In [86]:
# 4.1 Professionnels de santé pour 100 000 habitants par départements en 2023
DATA_PATH = '../data/cleaned'
HEALTH_FILENAME = 'health_df_cleaned.csv'

health_df = pd.read_csv(os.path.join(DATA_PATH, HEALTH_FILENAME))
health_df

,department_code,department_name,ensemble des médecins,ensemble des médecins.1,dont généralistes,dont spécialistes,chirurg. dentistes,pharm.
0,01,Ain,1 162,174,99,75,53,78
1,02,Aisne,1 107,211,99,111,45,91
2,03,Allier,917,275,134,141,51,111
3,04,Alpes-de-Haute-Provence,483,291,165,125,54,103
4,05,Hautes-Alpes,705,503,291,213,72,135
...,...,...,...,...,...,...,...,...
96,971,Guadeloupe,1 209,319,150,169,62,120
97,972,Martinique,1 171,332,152,180,68,99
98,973,Guyane,717,242,123,120,30,46
99,974,La Réunion,3 170,364,176,189,67,94
100,976,Mayotte,265,89,49,39,9,31

In [88]:
# 4.2 Taux de criminalité pour 1000 habitants par départements en 2020

CRIMINALITY_FILENAME = 'criminality_df_cleaned.csv'

criminality_df = pd.read_csv(os.path.join(DATA_PATH, CRIMINALITY_FILENAME))

# Convertir criminality_per_1000 en type numérique (si nécessaire)
criminality_df['criminality_per_1000'] = pd.to_numeric(criminality_df['criminality_per_1000'].str.replace(',', '.'))

# Agréger georef_df par département_name pour obtenir une seule ligne par département
georef_aggregated = georef_df.groupby('department_name').first().reset_index()

# Effectuer une fusion (merge) pour ajouter department_code à criminality_aggregated en utilisant department_name comme clé
criminality_aggregated = criminality_df.groupby('department_name')['criminality_per_1000'].mean().reset_index()
criminality_per_department = criminality_aggregated.merge(georef_aggregated[['department_name', 'department_code']], on='department_name')

# Afficher les premières lignes du dataframe mis à jour
criminality_per_department

             department_name  criminality_per_1000 department_code
0                        Ain                 35.00              01
1                      Aisne                 41.71              02
2                     Allier                 35.12              03
3            Alpes-Maritimes                 55.66              06
4    Alpes-de-Haute-Provence                 44.57              04
..                       ...                   ...             ...
96                    Vendée                 30.51              85
97                    Vienne                 37.29              86
98                    Vosges                 34.07              88
99                     Yonne                 44.85              89
100                 Yvelines                 46.48              78

[101 rows x 3 columns]

In [89]:
# 4.3 Nombre de jours de soleil par an par départements - ATTENTION: IL MANQUE 10 DEPARTEMENT

SUNNY_FILENAME = 'sunny_df_cleaned.csv'
sunny_df = pd.read_csv(os.path.join(DATA_PATH, SUNNY_FILENAME))

# Agréger georef_df par department_name pour obtenir une seule ligne par département
georef_agg = georef_df.groupby('department_name').first().reset_index()

# Remplacer les espaces par des tirets dans georef_agg
georef_agg['department_name'] = georef_agg['department_name'].str.replace(' ', '-')

# Fusionner sunny_df avec georef_agg pour ajouter department_code
sunny_df_per_department = sunny_df.merge(georef_agg[['department_name', 'department_code']], on='department_name')

# Afficher le DataFrame mis à jour
sunny_df_per_department

      department_name  sunny_days_per_year department_code
0                 Ain                  182              01
1               Aisne                  142              02
2              Allier                  161              03
3        Hautes-Alpes                  232              05
4     Alpes-Maritimes                  253              06
..                ...                  ...             ...
84            Essonne                  148              91
85     Hauts-de-Seine                  107              92
86  Seine-Saint-Denis                  126              93
87       Val-de-Marne                  126              94
88         Val-d'Oise                  131              95

[89 rows x 3 columns]

In [84]:
# MERGE DES 3 DF CI-DESSUS
life_quality_df = sunny_df_per_department.merge(criminality_per_department, on='department_name', how='inner')
life_quality_df = life_quality_df.merge(health_df, on='department_name', how='outer')


# Remplacer les NaN par des valeurs nulles
life_quality_df = life_quality_df.fillna(0)  # Vous pouvez remplacer 0 par d'autres valeurs par défaut si nécessaire

# Supprimer les colonnes redondantes department_code_x et department_code_y
life_quality_df.drop(columns=['department_code_x', 'department_code_y'], inplace=True)

# Réorganiser les colonnes pour mettre 'department_code' en deuxième position
columns_ordered = ['department_name', 'department_code', 'sunny_days_per_year', 'criminality_per_1000',
                   'ensemble des médecins', 'ensemble des médecins.1', 'dont généralistes', 
                   'dont spécialistes', 'chirurg. dentistes', 'pharm.']
life_quality_df = life_quality_df.reindex(columns=columns_ordered)

# Afficher le DataFrame final
life_quality_df.head()

,department_name,department_code,sunny_days_per_year,criminality_per_1000,ensemble des médecins,ensemble des médecins.1,dont généralistes,dont spécialistes,chirurg. dentistes,pharm.
0,Ain,01,182.0,35.00,1 162,174,99,75,53,78
1,Aisne,02,142.0,41.71,1 107,211,99,111,45,91
2,Allier,03,161.0,35.12,917,275,134,141,51,111
3,Alpes-Maritimes,06,253.0,55.66,5 095,461,173,288,123,123
4,Alpes-de-Haute-Provence,04,0.0,0.00,483,291,165,125,54,103

In [85]:
# Tri du DataFrame life_quality_df par sunny_days_per_year croissant
life_quality_df_sorted = life_quality_df.sort_values(by='sunny_days_per_year')
life_quality_df_sorted.head(50)

,department_name,department_code,sunny_days_per_year,criminality_per_1000,ensemble des médecins,ensemble des médecins.1,dont généralistes,dont spécialistes,chirurg. dentistes,pharm.
4,Alpes-de-Haute-Provence,04,0.0,0.00,483,291,165,125,54,103
21,Côte-d'Or,21,0.0,0.00,2 239,418,164,254,56,136
22,Côtes-d'Armor,22,0.0,0.00,1 586,261,141,121,54,94
29,Eure-et-Loir,28,0.0,0.00,834,194,86,108,41,103
20,Creuse,23,0.0,0.00,250,219,128,91,33,119
19,Corse-du-Sud,2A,0.0,0.00,570,350,161,189,83,116
34,Guadeloupe,971,0.0,0.00,1 209,319,150,169,62,120
35,Guyane,973,0.0,0.00,717,242,123,120,30,46
53,La Réunion,974,0.0,0.00,3 170,364,176,189,67,94
37,Haute-Corse,2B,0.0,0.00,556,299,157,143,61,112
67,Mayotte,976,0.0,0.00,265,89,49,39,9,31
65,Martinique,972,0.0,0.00,1 171,332,152,180,68,99
91,Territoire de Belfort,90,0.0,0.00,457,331,143,189,57,110
46,Hauts-de-Seine,92,107.0,59.88,6 238,381,135,246,98,154
32,Gers,32,111.0,29.68,434,225,139,87,60,99
73,Nord,59,125.0,42.18,9 315,357,157,201,61,115
93,Val-de-Marne,94,126.0,57.38,5 461,384,122,262,73,103
86,Seine-Saint-Denis,93,126.0,77.76,3 971,237,99,138,55,69
85,Seine-Maritime,76,128.0,43.51,4 172,333,140,193,49,109
77,Pas-de-Calais,62,130.0,40.02,3 692,253,129,125,48,101
92,Val-d'Oise,95,131.0,43.79,2 889,228,95,133,58,73
5,Ardennes,08,132.0,38.67,642,241,126,115,42,104
28,Eure,27,134.0,36.06,986,165,90,75,37,107
76,Paris,75,136.0,98.43,18 805,888,234,654,152,181
16,Charente-Maritime,17,137.0,42.11,2 163,326,179,148,62,109
30,Finistère,29,138.0,33.23,3 387,367,182,184,64,98
88,Somme,80,139.0,37.84,2 037,360,167,194,41,123
63,Manche,50,140.0,25.48,1 253,254,129,125,38,90
100,Yvelines,78,140.0,46.48,3 891,267,108,159,63,89
74,Oise,60,141.0,41.84,1 736,209,102,107,45,84
13,Calvados,14,142.0,34.93,2 698,386,168,217,52,113
1,Aisne,02,142.0,41.71,1 107,211,99,111,45,91
69,Meuse,55,144.0,38.20,360,200,127,73,42,89
75,Orne,61,144.0,35.21,644,235,130,105,34,98
48,Ille-et-Vilaine,35,144.0,36.42,4 046,365,160,205,67,102
87,Seine-et-Marne,77,146.0,36.56,2 836,196,89,107,52,73
38,Haute-Garonne,31,146.0,57.08,5 996,413,166,247,93,110
96,Vendée,85,146.0,30.51,1 557,221,122,100,54,86
82,Sarthe,72,148.0,37.98,1 331,235,111,124,38,78
27,Essonne,91,148.0,30.70,3 118,238,103,135,58,89
40,Haute-Marne,52,149.0,35.03,393,233,130,103,42,94
64,Marne,51,149.0,44.74,2 076,367,158,210,73,123
11,Bas-Rhin,67,150.0,38.85,4 743,408,168,240,91,116
71,Moselle,57,151.0,35.32,2 773,264,126,138,64,90
66,Mayenne,53,152.0,29.59,584,191,109,82,33,83
68,Meurthe-et-Moselle,54,152.0,38.96,2 957,405,164,240,74,121
56,Loire,42,153.0,41.18,2 659,345,161,184,54,92
98,Vosges,88,154.0,34.07,889,248,144,104,55,98
70,Morbihan,56,155.0,32.20,2 579,334,178,156,62,99
58,Loiret,45,155.0,39.49,1 580,231,101,129,47,98

# 🚀 ENRICHED EXPORT

In [82]:
# Chemin du dossier où les fichiers seront enregistrés
output_folder = "../data/enriched"

# Assurez-vous que le dossier existe
os.makedirs(output_folder, exist_ok=True)

In [ ]:
###____TOURISM (2 KPIS)____###
# Nombre de sites touristiques par départements : num_sites_per_department
# Répartition des catégories touristiques par départements :tourism_category_per_department


###____REAL ESTATE & SECONDARY HOME (5 KPIS)____###
# Prix moyen du m2 par département : average_price_per_m2
# Stock de biens par départements : total_stock_per_department
# Superficie moyenne des logements vendus par départements :average_surface_per_department
# Taux de répartition des maisons secondaires par départements : secondary_home_rate_per_department
# Évolution du % des maisons secondaires par département (entre 2008 et 2018) : secondary_home_rate_evolution_department
# Nombre de maisons vacantes (en 2019) : vacants_housing_per_department
# Taxe d'habitation (valeur et nombre) en 2023 par département : tax_df


###___LIFE QUALITY (4 KPIS)____###
# Salaire moyen par département : avg_salary_per_department
# Nombre de professionnels de santé pour 100 000 habitants par départements (en 2023) : health_df
# Taux de criminalité pour 1000 habitants par départements (en 2020) : criminality_per_department
# Nombre de jours de soleil par an par départements : sunny_df_per_department
# Fusion de tous DF Life Quality  par départements (POUR NORMALISATIN AU SCORING) : life_quality_df

In [104]:
# Liste des DataFrames et leurs noms
dataframes = {
    "num_sites_per_department": num_sites_per_department,
    "tourism_category_per_department": tourism_category_per_department,    
    "average_price_per_m2_per_department": average_price_per_m2,
    "total_stock_per_department": total_stock_per_department,    
    "average_surface_per_department": average_surface_per_department,
    "secondary_home_rate_per_department": secondary_home_rate_per_department,
    "secondary_home_rate_evolution_department": secondary_home_rate_evolution_department,
    "vacants_housing_per_department": vacants_housing_per_department,
    "avg_salary_per_department": avg_salary_per_department,
    "health_df_per_derpartment": health_df,
    "criminality_per_department": criminality_per_department,
    "sunny_df_per_department": sunny_df_per_department,
    "life_quality_df": life_quality_df
    "taxe_habitation_per_department": tax_df,
}

# Exportation des DataFrames en CSV
for name, df in dataframes.items():
    output_path = os.path.join(output_folder, f"{name}_enriched.csv")
    df.to_csv(output_path, index=False)
    print(f"DataFrame {name} exporté vers {output_path}")

DataFrame taxe_habitation_per_department exporté vers ../data/enriched/taxe_habitation_per_department_enriched.csv

# SCORING