In [ ]:
poi_df.head() #DATA CLEAN
# importance : poids interne pour évaluer l'importance

In [ ]:
# Création de la carte avec Plotly Express
fig = px.scatter_mapbox(poi_df, lat='latitude', lon='longitude', hover_name='name_reprocessed',
                        color='poi', size='importance', zoom=5, height=990)

# Personnalisation du titre et du style de la carte
fig.update_layout(
    title='Répartition des points d\'intérêt',
    mapbox_style='open-street-map'  # Vous pouvez choisir parmi d'autres styles de carte, par exemple 'carto-positron'
)

# Réduction de la taille des points
fig.update_traces(marker=dict(size=4))

# Affichage du graphique
fig.show()

In [ ]:
poi_count = poi_df['poi'].value_counts()

# Création du diagramme circulaire avec Plotly Express
fig = px.pie(names=poi_count.index, values=poi_count.values, title='Répartition des points d\'intérêt (POI)')

# Affichage du graphique
fig.show()

In [ ]:
# 0 DOUBLONS !
poi_df.duplicated().sum()#.drop_duplicates()

In [ ]:
poi_df.info()
poi_df.isnull().sum()

In [ ]:
site_df.head() # DATA CLEAN
# importance : poids interne pour évaluer l'importance

In [ ]:
# Création de la carte avec Plotly Express
fig = px.scatter_mapbox(site_df, lat='latitude', lon='longitude', hover_name='name_reprocessed',
                        color='poi', size='importance', zoom=5, height=990)

# Personnalisation du titre et du style de la carte
fig.update_layout(
    title='Répartition des site touristiques',
    mapbox_style='open-street-map'  # Vous pouvez choisir parmi d'autres styles de carte, par exemple 'carto-positron'
)

# Réduction de la taille des points
fig.update_traces(marker=dict(size=4))

# Affichage du graphique
fig.show()

In [ ]:
poi_count = site_df['poi'].value_counts()

# Création du diagramme circulaire avec Plotly Express
fig = px.pie(names=poi_count.index, values=poi_count.values, title='Répartition des site touristiques')

# Affichage du graphique
fig.show()

In [ ]:
# 0 DOUBLONS !
site_df.duplicated().sum()#.drop_duplicates()

In [ ]:
site_df.info()
site_df.isnull().sum()

In [ ]:
salary_df.head() # DATA CLEAN

In [ ]:
salary_df["year"].unique()

In [ ]:
# 0 DOUBLONS !
salary_df.duplicated().sum()#.drop_duplicates()

In [ ]:
salary_df.info()
salary_df.isnull().sum()

In [ ]:
georef_df.head()

In [ ]:
georef_df["municipality_type"].unique()

In [ ]:
# 0 DOUBLONS !
georef_df.duplicated().sum()#.drop_duplicates()

In [ ]:
georef_df.info()
georef_df.isnull().sum()

In [ ]:
stock_df.head() #drop de int64_field_0

In [ ]:
stock_df["year"].unique()

In [ ]:
# 0 DOUBLONS !
stock_df.duplicated().sum()#.drop_duplicates()

In [ ]:
stock_df.info() # supprimer la colonne int64_field-0
stock_df.isnull().sum()

In [ ]:
sales_df.head()

In [ ]:
# 510 211 DOUBLONS !
sales_df.duplicated().sum()#.drop_duplicates()

In [ ]:
s = (sales_df['sales_amount']
             .value_counts()
             .loc[sales_df['sales_amount'].value_counts() > 10])

In [ ]:
s.index = s.index.astype(int)
s.loc[(s.index % 10) != 0]

In [ ]:
s.plot

In [ ]:
sales_df['sales_amount'].value_counts().loc[sales_df['sales_amount'].value_counts() > 10] #[220623264]#sort_values(ascending=True).astype(int)

In [ ]:
sales_df.info(), #il manque des latitude et longitude
sales_df.isnull().sum()

In [ ]:
population_df.head()

In [ ]:
population_df["year"].unique()

In [ ]:
# ??? DOUBLONS !
population_df.duplicated().sum

In [ ]:
population_df.info() #colonne YEAR en format INT64
population_df.isnull().sum()

In [ ]:
poverty_df.head()

In [ ]:
poverty_df["year"].unique()

In [ ]:
# 0 DOUBLONS !
poverty_df.duplicated().sum()

In [ ]:
poverty_df.info() # YEAR est en type INT64 et non DATE
poverty_df.isnull().sum()

##### DF_SALES CLEANING

In [ ]:
# SALES_DF: Suppression des doublons > nous passons de 4,3M de lignes à 3,821M
sales_df = sales_df.drop_duplicates()
sales_df.shape

In [ ]:
# SALES_DF: Check si les doublons on été enlevés : OK
sales_df.duplicated().sum()

In [ ]:
# SALES_DF: Suppression des prix au m2 supérieur à 30K€ et inférieur à 1K€ > nous passons à 3,3399M de lignes
sales_df = sales_df[(sales_df['sales_price_m2'] <= 30000) & (sales_df['sales_price_m2'] >= 1000)]
sales_df.shape

In [ ]:
# SALES_DF:
s2 = (sales_df['sales_amount']
             .value_counts()
             .loc[sales_df['sales_amount'].value_counts() > 10])

In [ ]:
# SALES_DF:
s2.index = s2.index.astype(int)
s2.loc[(s2.index % 10) != 0]

In [ ]:
# SALES_DF:
sales_df = sales_df[sales_df['sales_amount'] > 1] # on enlève les 166 fois ou sales_amount = 1€
sales_df.shape

In [ ]:
# SALES_DF: changement du type sales_date en datetime
sales_df['sales_date'] = pd.to_datetime(sales_df['sales_date'])
sales_df.info()

In [ ]:
# SALES_DF: Création de l'histogramme avec Plotly Express
fig = px.histogram(sales_df, x='sales_price_m2', nbins=700, title='Distribution de sales_price_m2')

# SALES_DF: Affichage du graphique
fig.show()

In [ ]:
# SALES_DF: Création de l'histogramme avec Plotly Express
fig = px.histogram(sales_df, x='sales_amount', nbins=400, title='Distribution de sales')

# SALES_DF: Affichage du graphique
fig.show()

##### DF_SALARY CLEANING

In [ ]:
# DF_SALARY: ROUND avg_net_salary
salary_df['avg_net_salary'] = salary_df['avg_net_salary'].round()
salary_df.head()

##### DF_REAL_ESTATE CLEANING

In [ ]:
# DF_REAL_ESTATE: suppression des nulls
real_estate_df = real_estate_df.dropna(axis=1)
real_estate_df.isnull().sum()

##### DF_SITE CLEANING

In [ ]:
# SITE_DF: tri avec les données entre parenthèses de la colonne "name" inclues

import re

site_df['data_inside_parenthesis'] = site_df['name'].apply(lambda x: re.search(r'\((.*?)\)', x).group(1) if re.search(r'\((.*?)\)', x) else '')
site_df

#suppression de la colonne "name" dans un second temps

site_df.drop(columns=["name"])

#check pour savoir les informations présentes dans la colonne "poi", et si elles correspondent aux valeurs présentes dans la colonne "type"
print (site_df["poi"].value_counts())
print (site_df["data_inside_parenthesis"].value_counts().head(50))

#faire un mapping des colonnes poi, qui sont en fait plus pertinentes que celles de la colonne "type"

In [ ]:
# SITE_DF: création d'un dictionnaire intégrant toutes les différentes valeurs inclues dans la colonne "poi"
s = site_df["poi"].value_counts()[site_df["poi"]]
{k: "toto" for k in s.index}

In [ ]:
# SITE_DF: création d'un dictionnaire avec les catégories associées aux valeurs de la colonne POI

category_dict = {'1': 'Patrimoine',
 '2': 'Patrimoine',
 'zoo': 'Entertainment',
 'dune': 'Nature',
 'park': 'Nature',
 'rock': 'Nature',
 'sand': 'Nature',
 'beach': 'Nature',
 'cliff': 'Nature',
 'islet': 'Nature',
 'ridge': 'Nature',
 'water': 'Nature',
 'wreck': 'Patrimoine',
 'casino': 'Entertainment',
 'castle': 'Patrimoine',
 'cinema': 'Culture',
 'forest': 'Nature',
 'geyser': 'Nature',
 'marina': 'Nature',
 'meadow': 'Nature',
 'museum': 'Culture',
 'valley': 'Nature',
 'theatre': 'Culture',
 'volcano': 'Nature',
 'wetland': 'Nature',
 'heritage': 'Patrimoine',
 'monument': 'Patrimoine',
 'vineyard': 'Nature',
 'viewpoint': 'Nature',
 'waterfall': 'Nature',
 'allotments': 'Patrimoine',
 'attraction': 'Entertainment',
 'theme_park': 'Entertainment',
 'water_park': 'Entertainment',
 'golf_course': 'Entertainment',
 'cave_entrance': 'Culture',
 'national_park': 'Nature',
 'protected_area': 'Nature'}

In [ ]:
# SITE_DF: création de la colonne "catégorie"
site_df["Category"] = site_df["poi"].map(category_dict)
site_df

In [ ]:
poi_df.info()
site_df.info()
salary_df.info()
georef_df.info() 
stock_df.info() 
sales_df.info()
population_df.info() 
poverty_df.info()
real_estate_df.info()

In [ ]:
poi_df.head(1)

In [ ]:
site_df.head(1)

In [ ]:
salary_df.head(1)

In [ ]:
georef_df.head(1)

In [ ]:
stock_df.head(1)

In [ ]:
sales_df.head(1)

In [ ]:
population_df.head(1)

In [ ]:
poverty_df.head(1)

In [ ]:
real_estate_df.head(1)

##### 1. POPULATION

In [ ]:
# 1.1 Salaire moyen par département
# Joindre les informations de géolocalisation pour obtenir les départements
salary_dep_df = salary_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer le salaire moyen par département
avg_salary_per_department = salary_dep_df.groupby(['department_code', 'department_name'])['avg_net_salary'].mean().reset_index().round()
avg_salary_per_department.rename(columns={'avg_net_salary': 'avg_salary'}, inplace=True)
avg_salary_per_department.head()

In [ ]:
# 1.2 Évolution de la population par département
# Joindre les informations de géolocalisation pour obtenir les départements
population_dep_df = population_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer l'évolution de la population par département (différence entre les années)
pop_evolution = population_dep_df.groupby(['department_code', 'department_name', 'year'])['population'].sum().unstack().reset_index()
pop_evolution['evolution'] = (pop_evolution[pop_evolution.columns[-1]] - pop_evolution[pop_evolution.columns[-2]]) / pop_evolution[pop_evolution.columns[-2]] * 100
pop_evolution = pop_evolution[['department_code', 'department_name', 'evolution']]

pop_evolution.head()

In [ ]:
# 1.3 Taux de pauvreté par département
# Joindre les données de population
poverty_df = poverty_df.merge(population_df[['municipality_code', 'population']], on='municipality_code', suffixes=('_poverty', '_population'))

# Merge avec georef pour avoir le department_name
poverty_df = poverty_df.merge(georef_df[['municipality_code', 'department_name']], on='municipality_code', how='left')

# Groupe par department_name pour calculer le taux de pauvreté par département
poverty_by_department = poverty_df.groupby('department_name').agg({
    'population_poverty': 'sum',
    'population_population': 'sum'
}).reset_index()

# Calculer le poverty_rate pour chaque département
poverty_by_department['poverty_rate'] = (poverty_by_department['population_poverty'] / poverty_by_department['population']) * 100

# Afficher le résultat
poverty_by_department.head()

# calcul = poverty_rate = poverty_population / total_population * 100
# il faut ensuite le DF qui a poverty_rate à georef pour récupérer le department_name

##### 2. TOURISM

In [ ]:
# 2.1 Nombre de sites touristiques par département
# Joindre les informations de géolocalisation pour obtenir les départements
site_dep_df = site_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer le nombre de sites touristiques par département
num_sites_per_department = site_dep_df.groupby(['department_code', 'department_name'])['poi'].count().reset_index()
num_sites_per_department.rename(columns={'poi': 'nb_sites'}, inplace=True)
num_sites_per_department.head()

In [ ]:
# 2.2 Importance moyenne des sites par département
# Calculer l'importance moyenne des sites touristiques par département
avg_site_importance_per_department = site_dep_df.groupby(['department_code', 'department_name'])['importance'].mean().reset_index()
avg_site_importance_per_department.rename(columns={'importance': 'avg_site_importance'}, inplace=True)
avg_site_importance_per_department.head()

In [ ]:
# 2.3 Stock de logement par département
# Joindre les informations de géolocalisation pour obtenir les départements
stock_dep_df = stock_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer le stock de logement par département (nombre total de logements)
total_stock_per_department = stock_dep_df.groupby(['department_code', 'department_name'])['nb_tot_housing'].sum().reset_index()
total_stock_per_department.rename(columns={'nb_tot_housing': 'total_stock'}, inplace=True)
total_stock_per_department.head()

##### 3. REAL ESTATE

In [ ]:
# 3.1 Rentabilité locative au m² par département
# Joindre les informations de géolocalisation pour obtenir les départements
real_estate_dep_df = real_estate_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer la rentabilité locative moyenne au m² par département
real_estate_dep_df['avg_rental_yield'] = (real_estate_dep_df['rental_max_all'] + real_estate_dep_df['rental_min_all']) / 2
rental_yield_per_department = real_estate_dep_df.groupby(['department_code', 'department_name'])['avg_rental_yield'].mean().reset_index()
rental_yield_per_department.rename(columns={'avg_rental_yield': 'avg_rental_yield'}, inplace=True)
rental_yield_per_department

In [ ]:
# 3.2 Tension immobilière par département
# Calculer la tension immobilière par département
housing_tension_per_department = real_estate_dep_df.groupby(['department_code', 'department_name'])['intensite_tension_immo'].mean().reset_index()
housing_tension_per_department.rename(columns={'intensite_tension_immo': 'avg_housing_tension'}, inplace=True)
housing_tension_per_department

In [ ]:
# 3.3 Part de maisons secondaires par département
# Calculer la part de maisons secondaires par département
secondary_home_rate_per_department = stock_dep_df.groupby(['department_code', 'department_name'])['secondary_home_rate'].mean().reset_index()
secondary_home_rate_per_department.rename(columns={'secondary_home_rate': 'avg_secondary_home_rate'}, inplace=True)
secondary_home_rate_per_department

In [ ]:
# 3.4 Évolution du prix au m² par département
# Joindre les informations de géolocalisation pour obtenir les départements
sales_dep_df = sales_df.merge(georef_df[['municipality_code', 'department_code', 'department_name']], on='municipality_code')

# Calculer l'évolution du prix au m² par département
price_evolution = sales_dep_df.groupby(['department_code', 'department_name', 'sales_date'])['sales_price_m2'].mean().unstack().reset_index()
price_evolution['price_evolution'] = (price_evolution[price_evolution.columns[-1]] - price_evolution[price_evolution.columns[-2]]) / price_evolution[price_evolution.columns[-2]] * 100
price_evolution = price_evolution[['department_code', 'department_name', 'price_evolution']]
price_evolution.head()

In [ ]:
# Calculer le prix moyen au m² des ventes immobilières par département
avg_price_per_m2_per_department = sales_dep_df.groupby(['department_code', 'department_name'])['sales_price_m2'].mean().reset_index()
avg_price_per_m2_per_department.rename(columns={'sales_price_m2': 'avg_sales_price_m2'}, inplace=True)
avg_price_per_m2_per_department.head()

# 📈 **DATA VIZUALISATION**